<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>حیرت آور</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">حیرت آور </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 1983})' name='1983'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' alt='زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 1983})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 1983})'>زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/1983'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 1989})' name='1989'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876752_282.jpg' alt='تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 1989})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 1989})'>تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/1989'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 1992})' name='1992'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886603_862.jpg' alt='۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 1992})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 1992})'>۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/1992'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 1994})' name='1994'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885803_372.jpg' alt='اطلاعیه در مورد نحوه شهادت حسین فهمیده'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 1994})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 1994})'>اطلاعیه در مورد نحوه شهادت حسین فهمیده</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/1994'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2003})' name='2003'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886384_785.jpg' alt='سید احمد خمینی ازدواج کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2003})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2003})'>سید احمد خمینی ازدواج کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2003'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2010})' name='2010'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886848_729.png' alt='برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2010})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2010})'>برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2010'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2013})' name='2013'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg' alt='دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2013})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2013})'>دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2013'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2025})' name='2025'>  <img width='290' height='170' src='' alt='برانکو: کی‌روش هم بدون موفقیت برکنار می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2025})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2025})'>برانکو: کی‌روش هم بدون موفقیت برکنار می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2025'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2028})' name='2028'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' alt='اعترافات زورگیر خشنی که دو زن تهرانی را به کما برد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2028})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2028})'>اعترافات زورگیر خشنی که دو زن تهرانی را به کما برد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2028'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2029})' name='2029'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' alt='خبر خوش روحانی برای مردم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2029})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2029})'>خبر خوش روحانی برای مردم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2029'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2038})' name='2038'>  <img width='290' height='170' src='' alt='هوای ۸ استان برفی می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2038})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2038})'>هوای ۸ استان برفی می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2038'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>