<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>حیرت آور</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">حیرت آور </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2541})' name='2541'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' alt='اولین موتورسیکلت الکتریکی هارلی دیویدسون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2541})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2541})'>اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2541'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2549})' name='2549'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2549})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2549})'>سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2549'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2553})' name='2553'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885305_642.jpg' alt='واکنش حاج‌صفی به آفساید اعلام شدن گلش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2553})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2553})'>واکنش حاج‌صفی به آفساید اعلام شدن گلش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2553'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2567})' name='2567'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2567})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2567})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2567'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2569})' name='2569'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg' alt='دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2569})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2569})'>دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2569'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2572})' name='2572'>  <img width='290' height='170' src='' alt='خاتمی: آرزوی آزاد کردن شراب را به گور می‌برند، علم الهدی: بسیج باید وسط میدان بیاید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2572})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2572})'>خاتمی: آرزوی آزاد کردن شراب را به گور می‌برند، علم الهدی: بسیج باید وسط میدان بیاید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2572'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2575})' name='2575'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883376_543.jpg' alt='فحاشی به ساره بیات به خاطر پالتوی پوست روباه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2575})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2575})'>فحاشی به ساره بیات به خاطر پالتوی پوست روباه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2575'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2580})' name='2580'>  <img width='290' height='170' src='' alt='روحانی: باید تلاش کنیم راه پولشویی را ببندیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2580})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2580})'>روحانی: باید تلاش کنیم راه پولشویی را ببندیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2580'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2586})' name='2586'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883185_990.jpg' alt='فروزان: پرسپولیسی‌ها به فحاشی معروفند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2586})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2586})'>فروزان: پرسپولیسی‌ها به فحاشی معروفند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2586'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2594})' name='2594'>  <img width='290' height='170' src='' alt='هوای ۸ استان برفی می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2594})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2594})'>هوای ۸ استان برفی می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2594'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2595})' name='2595'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883192_172.png' alt='نسخه اصلیِ کارشناس برنامه دستپخت!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2595})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2595})'>نسخه اصلیِ کارشناس برنامه دستپخت!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2595'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2614})' name='2614'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/albom/asheghane/7-122x50.jpg' alt='عکس خنده دار'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2614})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2614})'>عکس خنده دار</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2614'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2613})' name='2613'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/albom/asheghane/7-122x50.jpg' alt='عکس خنده دار'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2613})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2613})'>عکس خنده دار</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2613'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2640})' name='2640'>  <img width='290' height='170' src='http://www.irannaz.com/images/2016/11/147987711041439-irannaz-com.jpg' alt='اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2640})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2640})'>اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2640'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2645})' name='2645'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/152333827033204-irannaz-com-300x200.jpg' alt='ماجرای رابطه و عکس جنجالی ترلان پروانه و فرشاد احمدزاده (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2645})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2645})'>ماجرای رابطه و عکس جنجالی ترلان پروانه و فرشاد احمدزاده (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2645'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2648})' name='2648'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153226265773529-irannaz-com.jpg' alt='عکس مراسم ازدواج کاوه رضایی فوتبالیست و فرنوش شیخی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2648})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2648})'>عکس مراسم ازدواج کاوه رضایی فوتبالیست و فرنوش شیخی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2648'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>