<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سوال</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">سوال </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2831})' name='2831'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/9/1860587_762.jpg' alt='عجیب‌ترین حیوانات که در آفریقا زندگی می‌کنند + تصاویر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2831})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2831})'>عجیب‌ترین حیوانات که در آفریقا زندگی می‌کنند + تصاویر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2831'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2822})' name='2822'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/53/87/20/880x495_cmsv2_c2d6913e-cd64-5c06-b633-ee3d8b9d2d33-3538720.jpg' alt='روسیه موشک فراصوت جدید خود را آزمایش کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2822})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2822})'>روسیه موشک فراصوت جدید خود را آزمایش کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2822'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2816})' name='2816'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/53/88/58/880x495_cmsv2_f9695f75-59ec-5314-b015-ccf74cf25fbb-3538858.jpg' alt='بزرگ‌ترین سلاخ‌خانه سگ‌ها در کره جنوبی تعطیل شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2816})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2816})'>بزرگ‌ترین سلاخ‌خانه سگ‌ها در کره جنوبی تعطیل شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2816'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2810})' name='2810'>  <img width='290' height='170' src='' alt='رفتار غیرانسانی کارگران با موش‌های فاضلاب (۱۴+)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2810})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2810})'>رفتار غیرانسانی کارگران با موش‌های فاضلاب (۱۴+)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2810'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2807})' name='2807'>  <img width='290' height='170' src='' alt='برترین‌ها پلاس؛ ژیلا صادقی، نماینده سراوان و...'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2807})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2807})'>برترین‌ها پلاس؛ ژیلا صادقی، نماینده سراوان و...</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2807'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2802})' name='2802'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/5/1914792_737.jpg' alt='اعتراض به نمایش تابلو‌های اروتیک در تهران'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2802})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2802})'>اعتراض به نمایش تابلو‌های اروتیک در تهران</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2802'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2799})' name='2799'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/5/1914957_964.jpg' alt='همه آن چه که دیشب در سوریه گذشت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2799})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2799})'>همه آن چه که دیشب در سوریه گذشت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2799'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2792})' name='2792'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/8/14/8906181_416.jpg' alt='هجوم مارهای سمی به خانه زن جوان! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2792})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2792})'>هجوم مارهای سمی به خانه زن جوان! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2792'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2785})' name='2785'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/9/13/9048681_841.jpg' alt='لحظه سقوط مرد ماجراجو داخل استخر کروکودیل ها! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2785})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2785})'>لحظه سقوط مرد ماجراجو داخل استخر کروکودیل ها! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2785'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2784})' name='2784'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/9/14/9052051_935.png' alt='حمله فیل خشمگین به اتومبیل معلمان! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2784})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2784})'>حمله فیل خشمگین به اتومبیل معلمان! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2784'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2782})' name='2782'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/9/27/9122725_141.jpg' alt='لحظه وحشتناک حمله مار شاه‌کبری به مرد جوان! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2782})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2782})'>لحظه وحشتناک حمله مار شاه‌کبری به مرد جوان! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2782'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2781})' name='2781'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/9/29/9131474_896.jpg' alt='حمله مرگبار سگ پیت‌بول به نگهبان امنیتی +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2781})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2781})'>حمله مرگبار سگ پیت‌بول به نگهبان امنیتی +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2781'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2764})' name='2764'>  <img width='290' height='170' src='https://itiran.com/wp-content/uploads/2018/12/360-finance-e1545122190155-780x405.jpg' alt='عرضه سهام شرکت چینی 360 Finance در بورس آمریکا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2764})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2764})'>عرضه سهام شرکت چینی 360 Finance در بورس آمریکا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2764'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2756})' name='2756'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/2/1911312_264.jpg' alt='شاکی شدن کاربران از اختلال در فیلترشکن‌ها'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2756})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2756})'>شاکی شدن کاربران از اختلال در فیلترشکن‌ها</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2756'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2745})' name='2745'>  <img width='290' height='170' src='' alt='توضیح درباره خبر فوت آیت الله هاشمی شاهرودی؛ فعلا خانواده‌اش رضایت نداده‌اند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2745})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2745})'>توضیح درباره خبر فوت آیت الله هاشمی شاهرودی؛ فعلا خانواده‌اش رضایت نداده‌اند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2745'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2744})' name='2744'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/3/1912834_563.jpg' alt='استانکو، سرمربی خاطره‌انگیز پرسپولیس درگذشت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2744})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2744})'>استانکو، سرمربی خاطره‌انگیز پرسپولیس درگذشت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2744'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2741})' name='2741'>  <img width='290' height='170' src='' alt='آمار تولید خودروسازان داخلی در آبان 1397 کاهش پیدا کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2741})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2741})'>آمار تولید خودروسازان داخلی در آبان 1397 کاهش پیدا کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2741'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2740})' name='2740'>  <img width='290' height='170' src='' alt='دانشمندان موفق به کوچک سازی اجسام تا یک هزارم شدند!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2740})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2740})'>دانشمندان موفق به کوچک سازی اجسام تا یک هزارم شدند!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2740'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2731})' name='2731'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/93/52/880x495_cmsv2_cd956e98-76c7-56a3-b0bc-51a226e46dcd-3519352.jpg' alt='روز جهانی مهاجران؛ «مهاجرت با حفظ کرامت انسانی»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2731})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2731})'>روز جهانی مهاجران؛ «مهاجرت با حفظ کرامت انسانی»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2731'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2708})' name='2708'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907144_119.jpg' alt='تهران برفی می‌شود؛ بدون آمادگی به جاده نزنید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2708})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2708})'>تهران برفی می‌شود؛ بدون آمادگی به جاده نزنید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2708'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2696})' name='2696'>  <img width='290' height='170' src='' alt='روحانی: زندگی را باید برای مردم آسان کنیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2696})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2696})'>روحانی: زندگی را باید برای مردم آسان کنیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2696'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2689})' name='2689'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899297_205.jpg' alt='برخورد با پرداخت سود سپرده بالای ۲۰ درصد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2689})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2689})'>برخورد با پرداخت سود سپرده بالای ۲۰ درصد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2689'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2687})' name='2687'>  <img width='290' height='170' src='' alt='ای جان؛ رئیس اداره سوار نگهبان شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2687})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2687})'>ای جان؛ رئیس اداره سوار نگهبان شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2687'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2686})' name='2686'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899783_152.jpg' alt='دعوای فراستی و ظلی‌پور جعلی بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2686})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2686})'>دعوای فراستی و ظلی‌پور جعلی بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2686'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-status  category-quiz '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• موفقيت، كم و بيش در دسترس همه هست، اما دامنه توفيق در زندگاني شخص، بدون توان رهبري محدود است. "جان ماكسول"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-status  category-quiz '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• دنيا به هر گونه‌اي كه بخواهيم به آن بنگريم، براي ديدن ما آفريده مي‌شود. "كافمن"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2677})' name='2677'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/81/06/880x495_cmsv2_991a422c-4fe1-5013-99b1-a92da74a3cfc-3478106.jpg' alt='ناآرامی در فرانسه؛ یک پیرزن به دلیل اصابت گلوله گاز اشک‌آور کشته شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2677})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2677})'>ناآرامی در فرانسه؛ یک پیرزن به دلیل اصابت گلوله گاز اشک‌آور کشته شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2677'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2675})' name='2675'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/85/14/880x495_cmsv2_a395ec56-5728-58c4-883f-7a25d64298cb-3478514.jpg' alt='عقب نشینی دولت فرانسه در برابر جلیقه زردها؛ اجرای طرح افزایش مالیات سوخت معلق شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2675})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2675})'>عقب نشینی دولت فرانسه در برابر جلیقه زردها؛ اجرای طرح افزایش مالیات سوخت معلق شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2675'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2665})' name='2665'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1893607_991.jpg' alt='تحریف سخنان پروانه سلحشوری درباره چادر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2665})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2665})'>تحریف سخنان پروانه سلحشوری درباره چادر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2665'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2659})' name='2659'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1894304_672.jpg' alt='فردا؛ اجرای طرح زوج و فرد از درب منزل'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2659})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2659})'>فردا؛ اجرای طرح زوج و فرد از درب منزل</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2659'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2657})' name='2657'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892580_910.jpg' alt='قطر از اوپک خارج می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2657})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2657})'>قطر از اوپک خارج می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2657'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2646})' name='2646'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1892060_707.jpg' alt='آرش ظلی پور موقتا از شبکه شما کنار گذاشته شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2646})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2646})'>آرش ظلی پور موقتا از شبکه شما کنار گذاشته شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2646'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2642})' name='2642'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/42/86/880x495_cmsv2_05165a41-548e-50da-8143-221bebfd70e3-3474286.jpg' alt='یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2642})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2642})'>یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2642'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2638})' name='2638'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/52/20/880x495_cmsv2_2b56f572-d019-52a5-afde-ba82c8fe2117-3475220.jpg' alt='سخنگوی نیروهای مسلح ایران: آزمایش های موشکی ادامه خواهد یافت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2638})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2638})'>سخنگوی نیروهای مسلح ایران: آزمایش های موشکی ادامه خواهد یافت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2638'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2621})' name='2621'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886616_857.jpg' alt='چگونه موتورسیکلتی سریع تر داشته باشید؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2621})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2621})'>چگونه موتورسیکلتی سریع تر داشته باشید؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2621'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2620})' name='2620'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889772_886.jpg' alt='شاسی بلند‌های ۱۲ سیلندر که عاشقشان می‌شوید!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2620})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2620})'>شاسی بلند‌های ۱۲ سیلندر که عاشقشان می‌شوید!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2620'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2605})' name='2605'>  <img width='290' height='170' src='' alt='مصوبه جدید سران قوا درباره چک تضمینی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2605})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2605})'>مصوبه جدید سران قوا درباره چک تضمینی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2605'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2604})' name='2604'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151058751991859-irannaz-com-297x200.jpg' alt='خودارضایی یا جلق بیش از اندازه و عوارض آن'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2604})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2604})'>خودارضایی یا جلق بیش از اندازه و عوارض آن</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2604'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2594})' name='2594'>  <img width='290' height='170' src='' alt='ماکان‌بند؛ همین‌قدر بی‌سواد و تاسف برانگیز'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2594})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2594})'>ماکان‌بند؛ همین‌قدر بی‌سواد و تاسف برانگیز</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2594'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>