<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سوال</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">سوال </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3596})' name='3596'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/09/50/880x495_cmsv2_5ab9df8e-c7d2-5941-9bfd-f1248349450b-3470950.jpg' alt='حمله گسترده اسرائیل به حومه دمشق و منطقه قنیطره؛ شلیک پدافند هوایی سوریه به اهداف دشمن'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3596})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3596})'>حمله گسترده اسرائیل به حومه دمشق و منطقه قنیطره؛ شلیک پدافند هوایی سوریه به اهداف دشمن</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3596'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3599})' name='3599'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/06/62/880x495_cmsv2_90043ea2-a84b-53e2-b5e9-73245ac1f9c8-3470662.jpg' alt='کانادا هفده تبعه سعودی را در ارتباط با قتل جمال خاشقجی تحریم کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3599})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3599})'>کانادا هفده تبعه سعودی را در ارتباط با قتل جمال خاشقجی تحریم کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3599'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3603})' name='3603'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/13/92/880x495_cmsv2_d93afc8a-6322-5223-8170-552d628d1f75-3471392.jpg' alt='خاک منجمد و خطری که ساکنان زمین را تهدید می‌کند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3603})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3603})'>خاک منجمد و خطری که ساکنان زمین را تهدید می‌کند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3603'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3607})' name='3607'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3607})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3607})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3607'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3618})' name='3618'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886616_857.jpg' alt='چگونه موتورسیکلتی سریع تر داشته باشید؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3618})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3618})'>چگونه موتورسیکلتی سریع تر داشته باشید؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3618'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3626})' name='3626'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/8/1888687_659.jpg' alt='حمله بیرنگ به حاتمی‌کیا: فهم استاد و شاگردی ندارید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3626})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3626})'>حمله بیرنگ به حاتمی‌کیا: فهم استاد و شاگردی ندارید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3626'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3627})' name='3627'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' alt='نوبخت: حقوق کارمندان ۲۰ درصد افزایش می‌یابد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3627})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3627})'>نوبخت: حقوق کارمندان ۲۰ درصد افزایش می‌یابد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3627'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3628})' name='3628'>  <img width='290' height='170' src='' alt='احتمال اعطای ماهانه ۲۰ لیتر بنزین به هر ایرانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3628})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3628})'>احتمال اعطای ماهانه ۲۰ لیتر بنزین به هر ایرانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3628'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3639})' name='3639'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/image5/0.480625001286828983_irannaz_com.jpg' alt='عکسهایی خنده دار از زمان وقوع حادثه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3639})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3639})'>عکسهایی خنده دار از زمان وقوع حادثه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3639'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3640})' name='3640'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/10/150925608013496-irannaz-com.jpg' alt='خواننده مشهور ایرانی به دختر 16 ساله تجاوز کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3640})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3640})'>خواننده مشهور ایرانی به دختر 16 ساله تجاوز کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3640'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3648})' name='3648'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153065859950829-irannaz-com-299x200.jpg' alt='عصبانیت مردم از رفتار نانسی عجرم در مراکش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3648})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3648})'>عصبانیت مردم از رفتار نانسی عجرم در مراکش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3648'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3649})' name='3649'>  <img width='290' height='170' src='http://www.irannaz.com/images/2016/11/147987711041439-irannaz-com.jpg' alt='اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3649})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3649})'>اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3649'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3661})' name='3661'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885305_642.jpg' alt='واکنش حاج‌صفی به آفساید اعلام شدن گلش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3661})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3661})'>واکنش حاج‌صفی به آفساید اعلام شدن گلش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3661'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3667})' name='3667'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886384_785.jpg' alt='سید احمد خمینی ازدواج کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3667})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3667})'>سید احمد خمینی ازدواج کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3667'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 3675})' name='3675'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 3675})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 3675})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3675'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>