<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سوال</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">سوال </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2194})' name='2194'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/8/1889219_494.png' alt='مافوق عجیب؛ مجریِ سمت خدا شماره حساب دولت را داد تا بینندگان پول واریز کنند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2194})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2194})'>مافوق عجیب؛ مجریِ سمت خدا شماره حساب دولت را داد تا بینندگان پول واریز کنند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2194'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2199})' name='2199'>  <img width='290' height='170' src='' alt='نامه ایران به سازمان ملل درباره تهدید پمپئو'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2199})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2199})'>نامه ایران به سازمان ملل درباره تهدید پمپئو</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2199'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2203})' name='2203'>  <img width='290' height='170' src='' alt='عباس عبدی: زمان شاه نمازخوان بیشتر بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2203})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2203})'>عباس عبدی: زمان شاه نمازخوان بیشتر بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2203'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2212})' name='2212'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/09/153755204950705-irannaz-com-300x200.jpg' alt='پست فارسی و عاشقانه همسر کیم کارداشیان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2212})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2212})'>پست فارسی و عاشقانه همسر کیم کارداشیان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2212'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2214})' name='2214'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153485412066702-irannaz-com-300x200.jpg' alt='افشاگری مادر ازپشت پرده شکنجه دختر بچه مرندی توسط پدرش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2214})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2214})'>افشاگری مادر ازپشت پرده شکنجه دختر بچه مرندی توسط پدرش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2214'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2220})' name='2220'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153460477772076-irannaz-com-300x200.jpg' alt='مرگ داماد آملی در حین فیلمبرداری (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2220})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2220})'>مرگ داماد آملی در حین فیلمبرداری (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2220'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2231})' name='2231'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876752_282.jpg' alt='تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2231})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2231})'>تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2231'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>