<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سوال</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action("index","home")">خانه</a></li>
                        <li class="active">سوال </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4})' name='4'>  <img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position50/image634742181276715512.jpg' alt='آناهیتا همتی ساعاتی پیش در تازه‌ترین پست اینستاگرامی‌اش نوشت:مثل شما با اقدامات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4})'>آناهیتا همتی ساعاتی پیش در تازه‌ترین پست اینستاگرامی‌اش نوشت:مثل شما با اقدامات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان آرماني' title="ایجادکننده'ارسلان" آرماني'="" rel='author'>ارسلان آرماني</a></li><li><i class='fa fa-comment'> 3</i><a href='Comment/4'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 125</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-audio  category-quiz '><div class="defaultForAllPost">
        <div class='post-box'><div class='entry-cover'><div class='entry-cover'><a href='@Url.Action("Post","quiz", new {postID = 5})'><img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/09-11-13-15523110-1.jpg' class='  ' alt='فیلم | آوازخوانی محمدرضا شجریان در محفل سینماگران'></a></div><div class='audio-container'><!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]--><audio class='wp-audio-shortcode' id='5' preload='none' style='width: 100%;' controls='controls'><source type='audio/mpeg' src='~/Content/Audio/sample.mp3' _="1'"><a href='~/Content/Audio/sample.mp3'>~/Content/Audio/sample.mp3</a></audio></div><div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال  </a></div><a href='@Url.Action("Post","quiz", new {postID = 5})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a></div><div class='entry-content'><h3 class='entry-title'><a href='@Url.Action("Post","quiz", new {postID = 5})'>فیلم | آوازخوانی محمدرضا شجریان در محفل سینماگران</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta'><li><i class='fa fa-user'></i><a href='Admin/' 5'="" title="ایجاد" شده="" توسط'ارسلان="" آرماني'="" rel='author'>ارسلان آرماني</a> </li><li><i class='fa fa-comment'></i><a href='Comment/' 5'="">1</a> </li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i>1020</a></li></ul></div> </div></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 7})' name='7'>  <img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/18-9-24-9184457358287.jpg' alt='جزییات بازداشت خواننده سرشناس در اوایل انقلاب'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 7})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 7})'>جزییات بازداشت خواننده سرشناس در اوایل انقلاب</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان آرماني' title="ایجادکننده'ارسلان" آرماني'="" rel='author'>ارسلان آرماني</a></li><li><i class='fa fa-comment'> 2</i><a href='Comment/7'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 215</a></li></ul></div></div>

        </div>
    </div></article><article class=' col-md-4 col-lg-4  hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 8})' name='8'>  <img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/18-8-15-21442688-1.jpg' alt='خاطره غم‌انگیز محسن چاوشی از پدرش/ عکس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 8})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 8})'>خاطره غم‌انگیز محسن چاوشی از پدرش/ عکس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان آرماني' title="ایجادکننده'ارسلان" آرماني'="" rel='author'>ارسلان آرماني</a></li><li><i class='fa fa-comment'> 1</i><a href='Comment/8'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 9852</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-audio  category-quiz  category-entertainment '><div class="defaultForAllPost">
        <div class='post-box'><div class='entry-cover'><div class='entry-cover'><a href='@Url.Action("Post","quiz", new {postID = 9})'><img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/18-9-23-14414557750592.jpg' class='  ' alt='فیلم | قطعه‌ای که سالار عقیلی برای تولد محمدرضا شجریان خواند'></a></div><div class='audio-container'><!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]--><audio class='wp-audio-shortcode' id='9' preload='none' style='width: 100%;' controls='controls'><source type='audio/mpeg' src='' _="1'"><a href=''></a></audio></div><div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz   '> سوال  سرگرمی  </a></div><a href='@Url.Action("Post","quiz", new {postID = 9})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a></div><div class='entry-content'><h3 class='entry-title'><a href='@Url.Action("Post","quiz", new {postID = 9})'>فیلم | قطعه‌ای که سالار عقیلی برای تولد محمدرضا شجریان خواند</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta'><li><i class='fa fa-user'></i><a href='Admin/' 9'="" title="ایجاد" شده="" توسط'ارسلان="" آرماني'="" rel='author'>ارسلان آرماني</a> </li><li><i class='fa fa-comment'></i><a href='Comment/' 9'="">4</a> </li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i>2154</a></li></ul></div> </div></div></div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>