<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سوال</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">سوال </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4695})' name='4695'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/03/148949376315633-irannaz-com.jpg' alt='با این صبحانه ماهی 7 کیلو وزن کم کنید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4695})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4695})'>با این صبحانه ماهی 7 کیلو وزن کم کنید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4695'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4694})' name='4694'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151106002126024-irannaz-com.jpg' alt='تصاویر آزار جنسی دروازه بان زن معروف توسط بلاتر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4694})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4694})'>تصاویر آزار جنسی دروازه بان زن معروف توسط بلاتر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4694'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4684})' name='4684'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/image55/0.181853001364761411_irannaz_com.jpg' alt='عکس های بسیار خنده دار از سوژه های جدید وطنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4684})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4684})'>عکس های بسیار خنده دار از سوژه های جدید وطنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4684'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4679})' name='4679'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/01/151596114567453-irannaz-com-300x138.jpg' alt='کودکانی با خلق و خوی حیوانی و وحشی (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4679})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4679})'>کودکانی با خلق و خوی حیوانی و وحشی (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4679'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4677})' name='4677'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/02/151864187874048-irannaz-com-300x200.jpg' alt='رژیم لاغری کشنده این دختر زیبا و جوان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4677})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4677})'>رژیم لاغری کشنده این دختر زیبا و جوان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4677'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4669})' name='4669'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/03/148940922767516-irannaz-com.jpg' alt='علت قتل قهرمان پرورش اندام ایران توسط پدرزنش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4669})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4669})'>علت قتل قهرمان پرورش اندام ایران توسط پدرزنش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4669'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4667})' name='4667'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153184738862348-irannaz-com.jpg' alt='ازدواج عجیب پسر میلیاردر با دختری شبیه پیشخدمت (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4667})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4667})'>ازدواج عجیب پسر میلیاردر با دختری شبیه پیشخدمت (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4667'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4666})' name='4666'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/03/152084553240148-irannaz-com-300x200.jpg' alt='تصاویر دختر پولدار ترک قبل از سقوط هواپیما در شهرکرد (+ اسامی)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4666})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4666})'>تصاویر دختر پولدار ترک قبل از سقوط هواپیما در شهرکرد (+ اسامی)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4666'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4662})' name='4662'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/11/154290476061197-irannaz-com-300x200.jpg' alt='مرگ تلخ این تازه عروس در آغوش داماد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4662})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4662})'>مرگ تلخ این تازه عروس در آغوش داماد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4662'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4659})' name='4659'>  <img width='290' height='170' src='http://www.irannaz.com/images/2016/12/148171021343005-irannaz-com.jpg' alt='کاهش وزن شدید بهاره رهنما در کنار دکترش +عکس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4659})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4659})'>کاهش وزن شدید بهاره رهنما در کنار دکترش +عکس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4659'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4653})' name='4653'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/05/149388175130057-irannaz-com.jpg' alt='علت واقعی طلاق برد پیت و آنجلینا جولی از زبان برد پیت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4653})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4653})'>علت واقعی طلاق برد پیت و آنجلینا جولی از زبان برد پیت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4653'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4650})' name='4650'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152649473436065-irannaz-com.jpg' alt='جزئیات تشییع پیکر قاسم افشار گوینده قدیمی خبر (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4650})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4650})'>جزئیات تشییع پیکر قاسم افشار گوینده قدیمی خبر (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4650'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4637})' name='4637'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/09/153755204950705-irannaz-com-300x200.jpg' alt='پست فارسی و عاشقانه همسر کیم کارداشیان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4637})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4637})'>پست فارسی و عاشقانه همسر کیم کارداشیان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4637'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4632})' name='4632'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/10/150885523210891-irannaz-com-300x200.jpg' alt='کادو لاکچری پدر الناز شاکردوست به وی در شب تولدش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4632})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4632})'>کادو لاکچری پدر الناز شاکردوست به وی در شب تولدش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4632'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4552})' name='4552'>  <img width='290' height='170' src='https://www.karnaval.ir/uploads/2018/12/sV0Cy8KFDsKNEVdk-1544252685529.jpg' alt='برندگان مسابقه عکاسی ویکی پدیا ۲۰۱۸ در بخش ایران'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4552})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4552})'>برندگان مسابقه عکاسی ویکی پدیا ۲۰۱۸ در بخش ایران</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4552'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4545})' name='4545'>  <img width='290' height='170' src='https://www.ajibtarin.com/wp-content/uploads/2015/12/b17-604x435.jpg' alt='۱۰ بمب افکن غول آسا و بر‌تر تاریخ!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4545})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4545})'>۱۰ بمب افکن غول آسا و بر‌تر تاریخ!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4545'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4526})' name='4526'>  <img width='290' height='170' src='' alt='اولین تلویزیون هوشمند هواوی به زودی معرفی می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4526})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4526})'>اولین تلویزیون هوشمند هواوی به زودی معرفی می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4526'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4501})' name='4501'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/52/04/880x495_cmsv2_e5104557-c0fe-5f39-94b9-8b5fd7d3c39e-3495204.jpg' alt='دستور رهبر ایران برای تقویت ریال؛ دلار از مرز ۱۱ هزارتومان عقب نشست'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4501})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4501})'>دستور رهبر ایران برای تقویت ریال؛ دلار از مرز ۱۱ هزارتومان عقب نشست</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4501'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4489})' name='4489'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/58/62/880x495_cmsv2_a61e4b1d-7ddd-5c04-b556-cd30797f0c74-3495862.jpg' alt='سند جهانی مهاجرت به رغم مخالفت آمریکا و چند کشور دیگر تصویب شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4489})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4489})'>سند جهانی مهاجرت به رغم مخالفت آمریکا و چند کشور دیگر تصویب شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4489'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4468})' name='4468'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/50/54/880x495_cmsv2_8c3cc97a-fe8e-5447-8668-5687fb342ab8-3475054.jpg' alt='خانواده سلطنتی بریتانیا مشتری اصلی خاویار سلطنتی بلژیک'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4468})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4468})'>خانواده سلطنتی بریتانیا مشتری اصلی خاویار سلطنتی بلژیک</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4468'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4463})' name='4463'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/53/96/880x495_cmsv2_c40830da-b518-59e5-9423-e5855c972634-3475396.jpg' alt='تاکید دوباره ظریف: برخی از گروه‌ها در ایران از پولشویی سود می‌برند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4463})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4463})'>تاکید دوباره ظریف: برخی از گروه‌ها در ایران از پولشویی سود می‌برند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4463'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4462})' name='4462'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/38/15/08/880x495_cmsv2_255c4f83-cd4a-5893-893f-8207578a1bf2-3381508.jpg' alt='مرگ فرمانده ارشد طالبان در هلمند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4462})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4462})'>مرگ فرمانده ارشد طالبان در هلمند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4462'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4459})' name='4459'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/53/50/880x495_cmsv2_3d987157-d187-5aed-9138-f0b0d8713844-3475350.jpg' alt='بروکسل؛ راهپیمایی فعالان محیط زیست همزمان با آغاز اجلاس اقلیمی لهستان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4459})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4459})'>بروکسل؛ راهپیمایی فعالان محیط زیست همزمان با آغاز اجلاس اقلیمی لهستان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4459'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4457})' name='4457'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/35/90/880x495_cmsv2_778822dc-8b00-5b21-8ad0-d5235222ec71-3473590.jpg' alt='تنبیه بدنی کودکان در فرانسه ممنوع اعلام شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4457})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4457})'>تنبیه بدنی کودکان در فرانسه ممنوع اعلام شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4457'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4453})' name='4453'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/40/60/880x495_cmsv2_2c266ee7-8134-5c64-a1a7-052dfcadfa43-3474060.jpg' alt='جرج بوش پدر، نامی حک شده در تاریخ آمریکا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4453})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4453})'>جرج بوش پدر، نامی حک شده در تاریخ آمریکا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4453'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4449})' name='4449'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/41/34/880x495_cmsv2_eba56a7f-8a83-54d3-a6ac-2175ecde8d56-3474134.jpg' alt='بررسی استیضاح ظریف در گفتگو با ابوالفضل حسن‌بیگی و هرمیداس باوند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4449})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4449})'>بررسی استیضاح ظریف در گفتگو با ابوالفضل حسن‌بیگی و هرمیداس باوند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4449'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4409})' name='4409'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899092_734.jpg' alt='کنایه ایمن آبادی به رئیسی: تتلو وزیر ارشادت میشد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4409})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4409})'>کنایه ایمن آبادی به رئیسی: تتلو وزیر ارشادت میشد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4409'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4405})' name='4405'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899297_205.jpg' alt='برخورد با پرداخت سود سپرده بالای ۲۰ درصد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4405})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4405})'>برخورد با پرداخت سود سپرده بالای ۲۰ درصد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4405'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4402})' name='4402'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899732_899.jpg' alt='حرف پشت حرف؛ پرسپولیس و سپاهان علیه هم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4402})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4402})'>حرف پشت حرف؛ پرسپولیس و سپاهان علیه هم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4402'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4359})' name='4359'>  <img width='290' height='170' src='' alt='خلافی خودرو جریمه رانندگی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4359})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4359})'>خلافی خودرو جریمه رانندگی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4359'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4343})' name='4343'>  <img width='290' height='170' src='' alt='مهراب قاسم خانی: مرگ بر پیمان قاسم خانی!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4343})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4343})'>مهراب قاسم خانی: مرگ بر پیمان قاسم خانی!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4343'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4340})' name='4340'>  <img width='290' height='170' src='' alt='افزایش پلکانی حقوق‌ها و چالش‌ عدالت اقتصادی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4340})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4340})'>افزایش پلکانی حقوق‌ها و چالش‌ عدالت اقتصادی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4340'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4339})' name='4339'>  <img width='290' height='170' src='' alt='روحانی: اگر بخواهند جلوی صادرات نفت ایران را بگیرند، نفتی از خلیج فارس صادر نخواهد شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4339})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4339})'>روحانی: اگر بخواهند جلوی صادرات نفت ایران را بگیرند، نفتی از خلیج فارس صادر نخواهد شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4339'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4336})' name='4336'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1893607_991.jpg' alt='تحریف سخنان پروانه سلحشوری درباره چادر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4336})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4336})'>تحریف سخنان پروانه سلحشوری درباره چادر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4336'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4327})' name='4327'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1894304_672.jpg' alt='فردا؛ اجرای طرح زوج و فرد از درب منزل'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4327})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4327})'>فردا؛ اجرای طرح زوج و فرد از درب منزل</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4327'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4326})' name='4326'>  <img width='290' height='170' src='' alt='پرسپولیس با یک بُرد اقتصادی به صدر نزدیک شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4326})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4326})'>پرسپولیس با یک بُرد اقتصادی به صدر نزدیک شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4326'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4298})' name='4298'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892530_423.jpg' alt='مزدا ۳ سدان یا هاچبک؟ مسئله این است!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4298})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4298})'>مزدا ۳ سدان یا هاچبک؟ مسئله این است!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4298'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4296})' name='4296'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892542_688.jpg' alt='سینماگران خواستار حذف پروانه ساخت شدند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4296})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4296})'>سینماگران خواستار حذف پروانه ساخت شدند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4296'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4292})' name='4292'>  <img width='290' height='170' src='' alt='پیام کی‌روش به بهانه خداحافظی سیدجلال'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4292})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4292})'>پیام کی‌روش به بهانه خداحافظی سیدجلال</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4292'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4287})' name='4287'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892398_843.jpg' alt='استیضاح بطحائی در دستور کار مجلس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4287})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4287})'>استیضاح بطحائی در دستور کار مجلس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4287'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4270})' name='4270'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890918_781.jpg' alt='پرچم ژاپن این بار در جم به طرفداری از پرسپولیس!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4270})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4270})'>پرچم ژاپن این بار در جم به طرفداری از پرسپولیس!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4270'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4268})' name='4268'>  <img width='290' height='170' src='' alt='ظلی پور به فراستی: چرا اینقدر بد تیپی؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4268})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4268})'>ظلی پور به فراستی: چرا اینقدر بد تیپی؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4268'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4253})' name='4253'>  <img width='290' height='170' src='' alt='جزئیات تازه از پرونده بازداشتیِ جمعیت شناس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4253})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4253})'>جزئیات تازه از پرونده بازداشتیِ جمعیت شناس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4253'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4223})' name='4223'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' alt='بعد از ظهر یکشنبه در جزیره گراند ژات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4223})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4223})'>بعد از ظهر یکشنبه در جزیره گراند ژات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4223'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4202})' name='4202'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889979_800.jpg' alt='قرار مجرمیت جوانفکر صادر شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4202})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4202})'>قرار مجرمیت جوانفکر صادر شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4202'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4200})' name='4200'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890324_950.jpg' alt='ملاقات با بن سلمان در دروه پسا خاشقجی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4200})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4200})'>ملاقات با بن سلمان در دروه پسا خاشقجی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4200'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4198})' name='4198'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg' alt='واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4198})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4198})'>واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4198'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4196})' name='4196'>  <img width='290' height='170' src='' alt='احتمال تخصیص سهمیه بنزین به خانوار‌ها'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4196})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4196})'>احتمال تخصیص سهمیه بنزین به خانوار‌ها</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4196'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4171})' name='4171'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882166_848.jpg' alt='چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4171})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4171})'>چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4171'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4170})' name='4170'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876752_282.jpg' alt='تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4170})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4170})'>تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4170'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4168})' name='4168'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1881881_407.jpg' alt='عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4168})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4168})'>عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4168'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4148})' name='4148'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887157_489.jpg' alt='قتل امام جمعه اهل سنت در گلستان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4148})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4148})'>قتل امام جمعه اهل سنت در گلستان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4148'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 4145})' name='4145'>  <img width='290' height='170' src='' alt='بهروز افخمی از اجرای هفت کناره‌گیری کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 4145})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 4145})'>بهروز افخمی از اجرای هفت کناره‌گیری کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4145'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>