<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>فیلم</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">فیلم </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2537})' name='2537'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' alt='هوندا بهتر است یا هیوندای؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2537})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2537})'>هوندا بهتر است یا هیوندای؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2537'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2543})' name='2543'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/26/1877455_745.jpg' alt='کلکسیون خودرو‌های لوکس پل واکر، ستاره فقید هالیوود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2543})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2543})'>کلکسیون خودرو‌های لوکس پل واکر، ستاره فقید هالیوود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2543'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2556})' name='2556'>  <img width='290' height='170' src='' alt='استاد دانشگاه: اگر صنعت خودرو در اختیار بسیج قرار بگیرد، از کره جنوبی جلو می‌زنیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2556})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2556})'>استاد دانشگاه: اگر صنعت خودرو در اختیار بسیج قرار بگیرد، از کره جنوبی جلو می‌زنیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2556'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2570})' name='2570'>  <img width='290' height='170' src='' alt='بهروز افخمی از اجرای هفت کناره‌گیری کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2570})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2570})'>بهروز افخمی از اجرای هفت کناره‌گیری کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2570'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2573})' name='2573'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882546_173.jpg' alt='بیرانوند: استقلالی‌ها یک ویدئو از فینال آسیا بیاورند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2573})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2573})'>بیرانوند: استقلالی‌ها یک ویدئو از فینال آسیا بیاورند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2573'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2574})' name='2574'>  <img width='290' height='170' src='' alt='افشاگری کی‎روش: استقلال با سیدجلال و امیری بسته بود!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2574})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2574})'>افشاگری کی‎روش: استقلال با سیدجلال و امیری بسته بود!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2574'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2576})' name='2576'>  <img width='290' height='170' src='' alt='نوبخت: حقوق کارمندان امسال افزایش نمی‌یابد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2576})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2576})'>نوبخت: حقوق کارمندان امسال افزایش نمی‌یابد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2576'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2584})' name='2584'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' alt='اعترافات زورگیر خشنی که دو زن تهرانی را به کما برد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2584})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2584})'>اعترافات زورگیر خشنی که دو زن تهرانی را به کما برد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2584'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2591})' name='2591'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883204_898.jpg' alt='«خندوانه» نیامده حاشیه‌ساز شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2591})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2591})'>«خندوانه» نیامده حاشیه‌ساز شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2591'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2596})' name='2596'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883402_599.jpg' alt='برانکو، گزینه سرمربیگری «چونبوک موتورز» کره'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2596})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2596})'>برانکو، گزینه سرمربیگری «چونبوک موتورز» کره</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2596'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2597})' name='2597'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883386_780.jpg' alt='بنجل فروشی و گران‌فروشی در جمعه سیاه ایرانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2597})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2597})'>بنجل فروشی و گران‌فروشی در جمعه سیاه ایرانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2597'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2608})' name='2608'>  <img width='290' height='170' src='http://www.irannaz.com/images/2014/06/real-love-photo-122x50.jpg' alt='عکس بازیگران'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2608})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2608})'>عکس بازیگران</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2608'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2623})' name='2623'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/15293298466003-irannaz-com.jpg' alt='فواید خاص رابطه جنسی در صبح'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2623})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2623})'>فواید خاص رابطه جنسی در صبح</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2623'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2625})' name='2625'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152717259462762-irannaz-com-300x200.jpg' alt='بهترین راه بزرگ کردن آلت تناسلی مردان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2625})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2625})'>بهترین راه بزرگ کردن آلت تناسلی مردان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2625'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2626})' name='2626'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152717259462762-irannaz-com-300x200.jpg' alt='بهترین راه بزرگ کردن آلت تناسلی مردان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2626})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2626})'>بهترین راه بزرگ کردن آلت تناسلی مردان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2626'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2635})' name='2635'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152582877145139-irannaz-com.jpg' alt='واکنش روحانی به خروج آمریکا از برجام'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2635})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2635})'>واکنش روحانی به خروج آمریکا از برجام</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2635'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2636})' name='2636'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152582877145139-irannaz-com.jpg' alt='واکنش روحانی به خروج آمریکا از برجام'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2636})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2636})'>واکنش روحانی به خروج آمریکا از برجام</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2636'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2639})' name='2639'>  <img width='290' height='170' src='http://www.irannaz.com/images/2016/11/147987711041439-irannaz-com.jpg' alt='اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2639})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2639})'>اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2639'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2644})' name='2644'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149252377835537-irannaz-com.jpg' alt='ماجرای لخت کردن زنان ایرانی در فرودگاه تفلیس (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2644})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2644})'>ماجرای لخت کردن زنان ایرانی در فرودگاه تفلیس (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2644'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>