<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>فیلم</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">فیلم </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4112})' name='4112'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898122_419.jpg' alt='حاشیه تازه برای سید احمد خمینی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4112})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4112})'>حاشیه تازه برای سید احمد خمینی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4112'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4099})' name='4099'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899570_897.jpg' alt='وزارت خارجه: ایرانی‌ها فعلا به گرجستان سفر نکنند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4099})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4099})'>وزارت خارجه: ایرانی‌ها فعلا به گرجستان سفر نکنند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4099'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4083})' name='4083'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149207659159509-irannaz-com.jpg' alt='خودکشی پسر 11 ساله بخاطر شوخی دوست دخترش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4083})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4083})'>خودکشی پسر 11 ساله بخاطر شوخی دوست دخترش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4083'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4081})' name='4081'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152895483451750-irannaz-com-300x200.jpg' alt='خواستگاری دختر روس از بازیکن تیم ملی در جام جهانی (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4081})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4081})'>خواستگاری دختر روس از بازیکن تیم ملی در جام جهانی (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4081'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4078})' name='4078'>  <img width='290' height='170' src='https://www.karnaval.ir/uploads/2018/12/141024113950-holiday-airfare-1024x576.png' alt='گران فروشی و ارزان فروشی بلیت هواپیما تخلف است'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4078})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4078})'>گران فروشی و ارزان فروشی بلیت هواپیما تخلف است</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4078'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-status  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• موفقيت، كم و بيش در دسترس همه هست، اما دامنه توفيق در زندگاني شخص، بدون توان رهبري محدود است. "جان ماكسول"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-status  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• مديران اثربخش فرصت ميآفرينند، و مديران دنباله رو در انتظار فرصت مي نيشينند. "ناشناس"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4065})' name='4065'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/81/80/880x495_cmsv2_f8150f47-1a6b-50e1-95f6-edade2b39361-3478180.jpg' alt='تابوت جرج بوش به کاخ کنگره آمریکا منتقل شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4065})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4065})'>تابوت جرج بوش به کاخ کنگره آمریکا منتقل شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4065'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4064})' name='4064'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/82/10/880x495_cmsv2_5acaed53-a7c1-55e5-8f62-60cc697c3d30-3478210.jpg' alt='مادورو پس از توافق «طلایی» با اردوغان، به مسکو رفت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4064})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4064})'>مادورو پس از توافق «طلایی» با اردوغان، به مسکو رفت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4064'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4061})' name='4061'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/84/08/880x495_cmsv2_2e6d4ef0-5395-5b6e-a7a9-34ce6f5c8565-3478408.jpg' alt='«خروج یکطرفه بریتانیا از اتحادیه اروپا قانونی است»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4061})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4061})'>«خروج یکطرفه بریتانیا از اتحادیه اروپا قانونی است»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4061'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4057})' name='4057'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/84/24/880x495_cmsv2_3ddb8526-9051-5e4b-b617-a1cd7e699046-3478424.jpg' alt='کدام یک از رهبران جهان در میان کاربران اینستاگرام نفوذ بیشتری دارند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4057})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4057})'>کدام یک از رهبران جهان در میان کاربران اینستاگرام نفوذ بیشتری دارند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4057'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4055})' name='4055'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/48/03/84/880x495_cmsv2_0424d86c-43c1-5b6e-982e-70650cdb3994-3480384.jpg' alt='بزرگترین امواج گرانشی حاصل از برخورد دو سیاهچاله کشف شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4055})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4055})'>بزرگترین امواج گرانشی حاصل از برخورد دو سیاهچاله کشف شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4055'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4053})' name='4053'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/image55/0.181853001364761411_irannaz_com.jpg' alt='عکس های بسیار خنده دار از سوژه های جدید وطنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4053})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4053})'>عکس های بسیار خنده دار از سوژه های جدید وطنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4053'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4050})' name='4050'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/150951129937870-irannaz-com.jpg' alt='معصومه دختر فوتبالیست ایرانی که اندام جنسی زنانه نداشت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4050})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4050})'>معصومه دختر فوتبالیست ایرانی که اندام جنسی زنانه نداشت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4050'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4045})' name='4045'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153345422286-irannaz-com.jpg' alt='زیباترین مدل خانم به عرصه مدلینگ بازگشت (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4045})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4045})'>زیباترین مدل خانم به عرصه مدلینگ بازگشت (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4045'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4042})' name='4042'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/10/154044055254007-irannaz-com.jpg' alt='آموزش و لذت ماساژ جنسی برای خانم ها (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4042})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4042})'>آموزش و لذت ماساژ جنسی برای خانم ها (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4042'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4040})' name='4040'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892809_778.jpg' alt='پارسایی:انتساب کوروش به پهلوى از قدر او نمی‌کاهد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4040})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4040})'>پارسایی:انتساب کوروش به پهلوى از قدر او نمی‌کاهد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4040'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4028})' name='4028'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1893681_151.jpg' alt='خداحافظی شهرام شکوهی از دنیای خوانندگی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4028})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4028})'>خداحافظی شهرام شکوهی از دنیای خوانندگی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4028'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4026})' name='4026'>  <img width='290' height='170' src='' alt='برترین‌ها پلاس؛ یارانه ۲۰ برابری و کُری‌های ژاپنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4026})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4026})'>برترین‌ها پلاس؛ یارانه ۲۰ برابری و کُری‌های ژاپنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4026'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4021})' name='4021'>  <img width='290' height='170' src='' alt='پرسپولیس با یک بُرد اقتصادی به صدر نزدیک شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4021})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4021})'>پرسپولیس با یک بُرد اقتصادی به صدر نزدیک شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4021'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4019})' name='4019'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891740_329.jpg' alt='سیدجلال: نرفتن به جام جهانی سخت بود، با استقلال قرارداد نبسته بودم، از کی روش ممنونم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4019})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4019})'>سیدجلال: نرفتن به جام جهانی سخت بود، با استقلال قرارداد نبسته بودم، از کی روش ممنونم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4019'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 4015})' name='4015'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892764_933.jpg' alt='باور نکردنی؛ پیشنهاد اسپانیایی برای کنعانی زادگان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 4015})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 4015})'>باور نکردنی؛ پیشنهاد اسپانیایی برای کنعانی زادگان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4015'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3999})' name='3999'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/11/154290476061197-irannaz-com-300x200.jpg' alt='مرگ تلخ این تازه عروس در آغوش داماد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3999})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3999})'>مرگ تلخ این تازه عروس در آغوش داماد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3999'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3998})' name='3998'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/150976360296402-irannaz-com-299x200.jpg' alt='عکس های جدید همسر محسن چاوشی و پسرش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3998})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3998})'>عکس های جدید همسر محسن چاوشی و پسرش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3998'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3995})' name='3995'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/02/151933284127375-irannaz-com-300x200.jpg' alt='خواننده مشهور ایرانی دستگیر شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3995})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3995})'>خواننده مشهور ایرانی دستگیر شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3995'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3963})' name='3963'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/49/34/880x495_cmsv2_5d4c7874-8313-5fdf-b8f3-6092f65b2c7b-3474934.jpg' alt='موصل پس از سقوط داعش: مشروب‌فروشی‌ها به شهر بازگشته‌اند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3963})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3963})'>موصل پس از سقوط داعش: مشروب‌فروشی‌ها به شهر بازگشته‌اند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3963'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3955})' name='3955'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/55/50/880x495_cmsv2_d991bbc4-75ce-59e3-9e0e-c32e9f08dc94-3475550.jpg' alt='نوامبر ۲۰۱۸ با ۴۱ کشته کم‌تلفات‌ترین ماه برای غیر نظامیان عراقی بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3955})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3955})'>نوامبر ۲۰۱۸ با ۴۱ کشته کم‌تلفات‌ترین ماه برای غیر نظامیان عراقی بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3955'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3949})' name='3949'>  <img width='290' height='170' src='' alt='قاتل: راهی جز کشتن پدر نداشتم!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3949})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3949})'>قاتل: راهی جز کشتن پدر نداشتم!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3949'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3948})' name='3948'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890451_923.jpg' alt='فرزند حدادعادل عضو شورای شبکه سه شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3948})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3948})'>فرزند حدادعادل عضو شورای شبکه سه شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3948'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3946})' name='3946'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890546_421.jpg' alt='جنجال آرش ظلی‌پور و مسعود فراستی؛ بی ادب اصلی کیست؟!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3946})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3946})'>جنجال آرش ظلی‌پور و مسعود فراستی؛ بی ادب اصلی کیست؟!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3946'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3940})' name='3940'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891127_892.jpg' alt='قاب پساشایعات آقای جوان و خانم جواهریان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3940})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3940})'>قاب پساشایعات آقای جوان و خانم جواهریان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3940'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3934})' name='3934'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891194_902.jpg' alt='آشنا: سردار نقدی درباره کوروش تحقیق کند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3934})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3934})'>آشنا: سردار نقدی درباره کوروش تحقیق کند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3934'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3911})' name='3911'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/02/151982935419956-irannaz-com.jpg' alt='پسری با بینی عجیبی به شکل بیضه (تصاویر)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3911})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3911})'>پسری با بینی عجیبی به شکل بیضه (تصاویر)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3911'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3902})' name='3902'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153065859917626-irannaz-com-300x200.jpg' alt='عکس های زیباترین زنان هوادار فوتبال در جام جهانی 2018'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3902})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3902})'>عکس های زیباترین زنان هوادار فوتبال در جام جهانی 2018</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3902'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3900})' name='3900'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/15243763096308-irannaz-com.jpg' alt='قاتل سعید کریمیان مدیر شبکه جم دستگیر شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3900})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3900})'>قاتل سعید کریمیان مدیر شبکه جم دستگیر شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3900'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3895})' name='3895'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/40/42/880x495_cmsv2_a472dfd2-33a6-579d-a214-dd856a278804-3474042.jpg' alt='جرج بوش پدر در سن ۹۴ سالگی درگذشت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3895})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3895})'>جرج بوش پدر در سن ۹۴ سالگی درگذشت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3895'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3878})' name='3878'>  <img width='290' height='170' src='' alt='مغز آجیل بخورید تا لاغر بمانید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3878})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3878})'>مغز آجیل بخورید تا لاغر بمانید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3878'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3862})' name='3862'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890324_950.jpg' alt='ملاقات با بن سلمان در دروه پسا خاشقجی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3862})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3862})'>ملاقات با بن سلمان در دروه پسا خاشقجی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3862'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3861})' name='3861'>  <img width='290' height='170' src='' alt='عباس عبدی: زمان شاه نمازخوان بیشتر بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3861})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3861})'>عباس عبدی: زمان شاه نمازخوان بیشتر بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3861'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3857})' name='3857'>  <img width='290' height='170' src='' alt='مصوبه جدید سران قوا درباره چک تضمینی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3857})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3857})'>مصوبه جدید سران قوا درباره چک تضمینی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3857'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3848})' name='3848'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/09/153720672039993-irannaz-com.jpg' alt='سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3848})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3848})'>سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3848'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3844})' name='3844'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/15351918194746-irannaz-com.jpg' alt='جزئیات دستگیری محمد حسینی در حال فرار (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3844})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3844})'>جزئیات دستگیری محمد حسینی در حال فرار (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3844'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3837})' name='3837'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3837})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3837})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3837'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3814})' name='3814'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886790_919.jpg' alt='خط لوله ترکید و یزد آب ندارد و...'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3814})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3814})'>خط لوله ترکید و یزد آب ندارد و...</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3814'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3813})' name='3813'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3813})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3813})'>سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3813'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 3811})' name='3811'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 3811})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 3811})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3811'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>