<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>فیلم</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">فیلم </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2185})' name='2185'>  <img width='290' height='170' src='' alt='مغز آجیل بخورید تا لاغر بمانید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2185})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2185})'>مغز آجیل بخورید تا لاغر بمانید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2185'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2188})' name='2188'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889644_952.jpg' alt='آرش ظلی پور توبیخ شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2188})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2188})'>آرش ظلی پور توبیخ شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2188'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2195})' name='2195'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/8/1888984_548.jpg' alt='ساخت داروی ضدسرطان توسط آمریکایی‌ها'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2195})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2195})'>ساخت داروی ضدسرطان توسط آمریکایی‌ها</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2195'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2207})' name='2207'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890554_152.jpg' alt='سیدجلال حسینی از فوتبال ملی خداحافظی کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2207})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2207})'>سیدجلال حسینی از فوتبال ملی خداحافظی کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2207'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2213})' name='2213'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/152310552938443-irannaz-com.jpg' alt='سانسور سینه های گرگ لوگوی باشگاه جهانی شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2213})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2213})'>سانسور سینه های گرگ لوگوی باشگاه جهانی شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2213'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2218})' name='2218'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152760652265763-irannaz-com.jpg' alt='خواننده لس آنجلسی در مراسم تشییع ناصر ملک مطیعی (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2218})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2218})'>خواننده لس آنجلسی در مراسم تشییع ناصر ملک مطیعی (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2218'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2219})' name='2219'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/15351918194746-irannaz-com.jpg' alt='جزئیات دستگیری محمد حسینی در حال فرار (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2219})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2219})'>جزئیات دستگیری محمد حسینی در حال فرار (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2219'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2227})' name='2227'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' alt='اولین موتورسیکلت الکتریکی هارلی دیویدسون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2227})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2227})'>اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2227'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2237})' name='2237'>  <img width='290' height='170' src='' alt='طرح استیضاح لاریجانی کلید خورد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2237})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2237})'>طرح استیضاح لاریجانی کلید خورد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2237'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2239})' name='2239'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885305_642.jpg' alt='واکنش حاج‌صفی به آفساید اعلام شدن گلش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2239})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2239})'>واکنش حاج‌صفی به آفساید اعلام شدن گلش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2239'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2241})' name='2241'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886790_919.jpg' alt='خط لوله ترکید و یزد آب ندارد و...'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2241})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2241})'>خط لوله ترکید و یزد آب ندارد و...</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2241'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2245})' name='2245'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886384_785.jpg' alt='سید احمد خمینی ازدواج کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2245})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2245})'>سید احمد خمینی ازدواج کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2245'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2264})' name='2264'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891088_841.jpg' alt='ابوالفضل زرویی نصرآباد درگذشت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2264})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2264})'>ابوالفضل زرویی نصرآباد درگذشت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2264'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2266})' name='2266'>  <img width='290' height='170' src='' alt='کم فروشی بی سابقه شرکت‌های لبنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2266})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2266})'>کم فروشی بی سابقه شرکت‌های لبنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2266'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2281})' name='2281'>  <img width='290' height='170' src='' alt='جزئیات تازه از پرونده بازداشتیِ جمعیت شناس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2281})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2281})'>جزئیات تازه از پرونده بازداشتیِ جمعیت شناس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2281'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2306})' name='2306'>  <img width='290' height='170' src='' alt='شاید پنجره تراکتورسازی هم بسته شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2306})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2306})'>شاید پنجره تراکتورسازی هم بسته شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2306'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2321})' name='2321'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153201085653915-irannaz-com-300x200.jpg' alt='واکنش زنان به مردی که در اتوبوس آلت جنسی اش را نشان داد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2321})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2321})'>واکنش زنان به مردی که در اتوبوس آلت جنسی اش را نشان داد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2321'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2324})' name='2324'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/02/151982935419956-irannaz-com.jpg' alt='پسری با بینی عجیبی به شکل بیضه (تصاویر)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2324})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2324})'>پسری با بینی عجیبی به شکل بیضه (تصاویر)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2324'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2328})' name='2328'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/09/150501809573291-irannaz-com.jpg' alt='دختری سیاهپوست که زیباییش زبانزد شده (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2328})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2328})'>دختری سیاهپوست که زیباییش زبانزد شده (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2328'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2353})' name='2353'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1893301_635.jpg' alt='لحظه به لحظه با مراسم توپ طلا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2353})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2353})'>لحظه به لحظه با مراسم توپ طلا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2353'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2365})' name='2365'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152858156549696-irannaz-com-300x200.jpg' alt='مجری مشهور و محبوب خودکشی کرد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2365})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2365})'>مجری مشهور و محبوب خودکشی کرد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2365'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2369})' name='2369'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/03/152084553240148-irannaz-com-300x200.jpg' alt='تصاویر دختر پولدار ترک قبل از سقوط هواپیما در شهرکرد (+ اسامی)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2369})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2369})'>تصاویر دختر پولدار ترک قبل از سقوط هواپیما در شهرکرد (+ اسامی)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2369'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2384})' name='2384'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/81/80/880x495_cmsv2_f8150f47-1a6b-50e1-95f6-edade2b39361-3478180.jpg' alt='تابوت جرج بوش به کاخ کنگره آمریکا منتقل شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2384})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2384})'>تابوت جرج بوش به کاخ کنگره آمریکا منتقل شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2384'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2389})' name='2389'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/85/14/880x495_cmsv2_a395ec56-5728-58c4-883f-7a25d64298cb-3478514.jpg' alt='عقب نشینی دولت فرانسه در برابر جلیقه زردها؛ اجرای طرح افزایش مالیات سوخت معلق شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2389})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2389})'>عقب نشینی دولت فرانسه در برابر جلیقه زردها؛ اجرای طرح افزایش مالیات سوخت معلق شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2389'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2392})' name='2392'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/84/24/880x495_cmsv2_3ddb8526-9051-5e4b-b617-a1cd7e699046-3478424.jpg' alt='کدام یک از رهبران جهان در میان کاربران اینستاگرام نفوذ بیشتری دارند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2392})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2392})'>کدام یک از رهبران جهان در میان کاربران اینستاگرام نفوذ بیشتری دارند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2392'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2395})' name='2395'>  <img width='290' height='170' src='' alt='خلافی خودرو جریمه رانندگی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2395})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2395})'>خلافی خودرو جریمه رانندگی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2395'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2419})' name='2419'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892809_778.jpg' alt='پارسایی:انتساب کوروش به پهلوى از قدر او نمی‌کاهد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2419})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2419})'>پارسایی:انتساب کوروش به پهلوى از قدر او نمی‌کاهد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2419'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2421})' name='2421'>  <img width='290' height='170' src='' alt='مهراب قاسم خانی: مرگ بر پیمان قاسم خانی!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2421})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2421})'>مهراب قاسم خانی: مرگ بر پیمان قاسم خانی!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2421'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class=' col-md-4 col-lg-4  hentry  format-standard  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-cover'><div id="15439264816967715"><script type="text/JavaScript" src="https://www.aparat.com/embed/oY9uU?data[rnddiv]=15439264816967715&data[responsive]=yes"></script></div><div class='post-category'><a href='@Url.Action("Index","films")' class='  '>  فیلم </a></div></div><div class='entry-content'><h3 class='entry-title'> <a href='@Url.Action("Post","films", new {postID = 2433})'>خداحافظی شهرام شکوهی از دنیای خوانندگی</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta' style='width:auto'><li><i class='fa fa-user'></i><a href='Admin/ارسلان دانشور' title="ایجاد" شده="" توسط'ارسلان="" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'></i><a href='Comment/' 0=""> 0  </a></li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i></a></li></ul></div></div></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2436})' name='2436'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1894169_206.jpg' alt='پرستویی با یک ویدئو از خجالت فراستی درآمد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2436})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2436})'>پرستویی با یک ویدئو از خجالت فراستی درآمد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2436'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class=' col-md-4 col-lg-4  hentry  format-standard  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-cover'><div id="15439264816967715"><script type="text/JavaScript" src="https://www.aparat.com/embed/oY9uU?data[rnddiv]=15439264816967715&data[responsive]=yes"></script></div><div class='post-category'><a href='@Url.Action("Index","films")' class='  '>  فیلم </a></div></div><div class='entry-content'><h3 class='entry-title'> <a href='@Url.Action("Post","films", new {postID = 2433})'>خداحافظی شهرام شکوهی از دنیای خوانندگی</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta' style='width:auto'><li><i class='fa fa-user'></i><a href='Admin/ارسلان دانشور' title="ایجاد" شده="" توسط'ارسلان="" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'></i><a href='Comment/' 0=""> 0  </a></li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i></a></li></ul></div></div></div></div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>