<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>فیلم</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">فیلم </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2753})' name='2753'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/1/1910615_379.jpg' alt='اسپری پاشی روی نام مصدق در تهران'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2753})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2753})'>اسپری پاشی روی نام مصدق در تهران</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2753'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2748})' name='2748'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/2/1911914_987.jpg' alt='پلنگ ایرانی در حال انقراض رؤیت شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2748})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2748})'>پلنگ ایرانی در حال انقراض رؤیت شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2748'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2729})' name='2729'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/98/16/880x495_cmsv2_ced75c8b-d0a8-5ec5-9d55-047377d3e128-3519816.jpg' alt='توافق روسیه، ترکیه و ایران برای آغاز به کار کمیته قانون اساسی سوریه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2729})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2729})'>توافق روسیه، ترکیه و ایران برای آغاز به کار کمیته قانون اساسی سوریه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2729'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2721})' name='2721'>  <img width='290' height='170' src='' alt='مرغ پَر درآورد؛ کیلویی ۱۳ هزار تومان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2721})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2721})'>مرغ پَر درآورد؛ کیلویی ۱۳ هزار تومان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2721'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2719})' name='2719'>  <img width='290' height='170' src='' alt='داماد روحانی استعفا کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2719})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2719})'>داماد روحانی استعفا کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2719'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2717})' name='2717'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/26/1906395_807.jpg' alt='واکنش نماینده سراوان به توهین به یک کارمند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2717})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2717})'>واکنش نماینده سراوان به توهین به یک کارمند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2717'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2713})' name='2713'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1906969_732.jpg' alt='آتش در دبستان دخترانه؛ ۲ دانش آموز فوت کردند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2713})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2713})'>آتش در دبستان دخترانه؛ ۲ دانش آموز فوت کردند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2713'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2706})' name='2706'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907381_476.jpg' alt='برگزیدگان دوازدهمین جشن منتقدان سینمایی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2706})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2706})'>برگزیدگان دوازدهمین جشن منتقدان سینمایی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2706'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2698})' name='2698'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898611_669.jpg' alt='برخورد خشونت آمیز پلیس تفلیس با زن ایرانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2698})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2698})'>برخورد خشونت آمیز پلیس تفلیس با زن ایرانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2698'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-status  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• كاركنان كاري ندارند كه رهبر به چه ميزان آگاه است، مگر اينكه مطمئن باشند رهبر به فكر آنها است. رهبري از قلب آغاز مي شود نه از مغز. "جان ماكسول"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-status  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• موفق ترين مديران داراي نبوغ خاصي هستند كه مي توانند چكيده و جان كلام را از ميان انبوهي از اطلاعات دريابند و آن را به سرعت به ديگران منتقل سازند. "جان گريندل"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2643})' name='2643'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892398_843.jpg' alt='استیضاح بطحائی در دستور کار مجلس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2643})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2643})'>استیضاح بطحائی در دستور کار مجلس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2643'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2641})' name='2641'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/48/92/880x495_cmsv2_0d1b6750-100f-5baa-8c1b-5258cbe5edba-3474892.jpg' alt='موافقت چین و آمریکا برای توقف ۹۰ روزه در جنگ تجاری'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2641})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2641})'>موافقت چین و آمریکا برای توقف ۹۰ روزه در جنگ تجاری</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2641'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2619})' name='2619'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' alt='بعد از ظهر یکشنبه در جزیره گراند ژات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2619})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2619})'>بعد از ظهر یکشنبه در جزیره گراند ژات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2619'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2612})' name='2612'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/8/1888984_548.jpg' alt='ساخت داروی ضدسرطان توسط آمریکایی‌ها'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2612})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2612})'>ساخت داروی ضدسرطان توسط آمریکایی‌ها</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2612'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2600})' name='2600'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886384_785.jpg' alt='سید احمد خمینی ازدواج کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2600})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2600})'>سید احمد خمینی ازدواج کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2600'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2598})' name='2598'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/4/1885251_657.jpg' alt='زیباکلام: روحانی به عربستان توهین کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2598})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2598})'>زیباکلام: روحانی به عربستان توهین کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2598'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2592})' name='2592'>  <img width='290' height='170' src='' alt='برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2592})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2592})'>برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2592'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2591})' name='2591'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2591})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2591})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2591'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2587})' name='2587'>  <img width='290' height='170' src='' alt='بهروز افخمی از اجرای هفت کناره‌گیری کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2587})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2587})'>بهروز افخمی از اجرای هفت کناره‌گیری کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2587'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>