<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>مکان ها</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">مکان ها </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3591})' name='3591'>  <img width='290' height='170' src='' alt='بعد از ظهر یکشنبه در جزیره گراند ژات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3591})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3591})'>بعد از ظهر یکشنبه در جزیره گراند ژات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3591'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3616})' name='3616'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1874438_289.jpg' alt='لاکچری بازی پلیس دبی؛ استفاده از پرنده‌های هاوربایک!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3616})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3616})'>لاکچری بازی پلیس دبی؛ استفاده از پرنده‌های هاوربایک!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3616'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3622})' name='3622'>  <img width='290' height='170' src='' alt='دلار پایین آمد، اما چرا قیمت‌ها بالا مانده‌اند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3622})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3622})'>دلار پایین آمد، اما چرا قیمت‌ها بالا مانده‌اند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3622'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3629})' name='3629'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/7/1887805_968.jpg' alt='ابتکار: رفتن پسرم به آمریکا انتخاب خودش بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3629})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3629})'>ابتکار: رفتن پسرم به آمریکا انتخاب خودش بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3629'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3638})' name='3638'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889350_913.png' alt='نیمای ترنس «ممنوعه» کلا سانسور شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3638})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3638})'>نیمای ترنس «ممنوعه» کلا سانسور شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3638'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3657})' name='3657'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3657})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3657})'>سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3657'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3659})' name='3659'>  <img width='290' height='170' src='' alt='طرح استیضاح لاریجانی کلید خورد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3659})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3659})'>طرح استیضاح لاریجانی کلید خورد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3659'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3665})' name='3665'>  <img width='290' height='170' src='' alt='توضیح دژپسند درباره انتصاب فرزند وزیر کشور'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3665})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3665})'>توضیح دژپسند درباره انتصاب فرزند وزیر کشور</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3665'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 3672})' name='3672'>  <img width='290' height='170' src='' alt='پمپئو: صحبت‌های روحانی تنش زا است'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 3672})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 3672})'>پمپئو: صحبت‌های روحانی تنش زا است</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3672'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>