@model GossipDashboard.ViewModel.VM_Post

@{
    ViewBag.Title = @Html.DisplayFor(modelItem => modelItem.Subject1);
}

<input type="hidden" id="postIDHidden" value="@Html.DisplayFor(modelItem => modelItem.PostID)" />
<div class="col-md-12 content-area" style="direction:rtl;">
    <article class="post-box ">
        <div class="entry-cover">
            <a href="@Html.DisplayFor(modelItem => modelItem.Url)" class="single-post-image">
                <img src="@Html.DisplayFor(modelItem => modelItem.Image1_1)" />
            </a>
        </div>
        <div class="entry-content">
            @*@{if (Model.JalaliModifyDate != null && Model.JalaliModifyDate != "")
                {
                    <p id="JalaliModifyDate" style="display:inline-block">
                        تاریخ انتشار:  @Html.DisplayFor(modelItem => modelItem.JalaliModifyDate)
                    </p>
                }
            }*@
            @{if (Model.Subject1 != null && Model.Subject1 != "")
                {
                    <h2 class="post-single-title" id="Subject2" style="margin-bottom: 25px; margin-top: 15px;">

                        @Html.DisplayFor(modelItem => modelItem.Subject1)
                    </h2>
                }
            }
            @{if (Model.SubSubject1_1 != null && Model.SubSubject1_1.Trim() != "")
                {
                    <p id="SubSubject1_1" style="background-color: darkslategray; color: white; padding-right: 20px; padding-left: 20px; padding-top: 10px;padding-bottom: 10px;">@Html.DisplayFor(modelItem => modelItem.SubSubject1_1)</p>
                }
            }
            @{if (Model.SubSubject1_2 != null && Model.SubSubject1_2 != "")
                {
                    <p id="SubSubject1_2">@Html.DisplayFor(modelItem => modelItem.SubSubject1_2)</p>
                }
            }

            <!------------------------------------------------------------>
            <!------------------------------اگر کاربر پست را ايجاد کرده باشد------------------------------>
            <!------------------------------------------------------------>
            @if (Model.ContentPostHTML != null && Model.ContentPostHTML != "")
            {
                @Html.DisplayFor(modelItem => modelItem.ContentPostHTML)
            }
            @*else
            {
                @{if (Model.ContentPost1_1 != null && Model.ContentPost1_1 != "")
                    {
                        <p id="ContentPost1_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost1_1)
                        </p>
                    }
                }
                @{if (Model.Image1_2 != null && Model.Image1_2 != "")
                    {

                        <img id="Image1_2" src="@Html.DisplayFor(modelItem => modelItem.Image1_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost1_2 != null && Model.ContentPost1_2 != "")
                    {
                        <p id="ContentPost1_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost1_2)
                        </p>
                    }
                }
                @{if (Model.ContentPost1_3 != null && Model.ContentPost1_3 != "")
                    {
                        <p id="ContentPost1_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost1_3)
                        </p>
                    }
                }
                @{if (Model.Image1_3 != null && Model.Image1_3 != "")
                    {
                        <img id="Image1_3" src="@Html.DisplayFor(modelItem => modelItem.Image1_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost1_4 != null && Model.ContentPost1_4 != "")
                    {
                        <p id="ContentPost1_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost1_4)
                        </p>
                    }
                }
                @{if (Model.ContentPost1_5 != null && Model.ContentPost1_5 != "")
                    {
                        <p id="ContentPost1_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost1_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject2 != null && Model.Subject2 != "")
                    {
                        <h3 id="Subject2">
                            @Html.DisplayFor(modelItem => modelItem.Subject2)
                        </h3>
                    }
                }
                @{if (Model.SubSubject2_1 != null && Model.SubSubject2_1 != "")
                    {
                        <p id="SubSubject2_1">@Html.DisplayFor(modelItem => modelItem.SubSubject2_1)</p>
                    }
                }
                @{if (Model.SubSubject2_2 != null && Model.SubSubject2_2 != "")
                    {
                        <p id="SubSubject2_2">@Html.DisplayFor(modelItem => modelItem.SubSubject2_2)</p>
                    }
                }
                @{if (Model.Image2_1 != null && Model.Image2_1 != "")
                    {

                        <img id="Image2_1" src="@Html.DisplayFor(modelItem => modelItem.Image2_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost2_1 != null && Model.ContentPost2_1 != "")
                    {
                        <p id="ContentPost2_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost2_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost2_2 != null && Model.ContentPost2_2 != "")
                    {
                        <p id="ContentPost2_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost2_2)
                        </p>
                    }
                }
                @{if (Model.Image2_2 != null && Model.Image2_2 != "")
                    {

                        <img id="Image2_2" src="@Html.DisplayFor(modelItem => modelItem.Image2_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost2_3 != null && Model.ContentPost2_3 != "")
                    {
                        <p id="ContentPost2_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost2_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost2_4 != null && Model.ContentPost2_4 != "")
                    {
                        <p id="ContentPost2_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost2_4)
                        </p>
                    }
                }
                @{if (Model.Image2_3 != null && Model.Image2_3 != "")
                    {
                        <img id="Image2_3" src="@Html.DisplayFor(modelItem => modelItem.Image2_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost2_5 != null && Model.ContentPost2_5 != "")
                    {
                        <p id="ContentPost2_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost2_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject3 != null && Model.Subject3 != "")
                    {
                        <h3 id="Subject3">
                            @Html.DisplayFor(modelItem => modelItem.Subject3)
                        </h3>
                    }
                }
                @{if (Model.SubSubject3_1 != null && Model.SubSubject3_1 != "")
                    {
                        <p id="SubSubject3_1">@Html.DisplayFor(modelItem => modelItem.SubSubject3_1)</p>
                    }
                }
                @{if (Model.SubSubject3_2 != null && Model.SubSubject3_2 != "")
                    {
                        <p id="SubSubject3_2">@Html.DisplayFor(modelItem => modelItem.SubSubject3_2)</p>
                    }
                }
                @{if (Model.Image3_1 != null && Model.Image3_1 != "")
                    {

                        <img id="Image3_1" src="@Html.DisplayFor(modelItem => modelItem.Image3_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost3_1 != null && Model.ContentPost3_1 != "")
                    {
                        <p id="ContentPost3_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost3_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost3_2 != null && Model.ContentPost3_2 != "")
                    {
                        <p id="ContentPost3_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost3_2)
                        </p>
                    }
                }
                @{if (Model.Image3_2 != null && Model.Image3_2 != "")
                    {

                        <img id="Image3_2" src="@Html.DisplayFor(modelItem => modelItem.Image3_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost3_3 != null && Model.ContentPost3_3 != "")
                    {
                        <p id="ContentPost3_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost3_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost3_4 != null && Model.ContentPost3_4 != "")
                    {
                        <p id="ContentPost3_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost3_4)
                        </p>
                    }
                }
                @{if (Model.Image3_3 != null && Model.Image3_3 != "")
                    {
                        <img id="Image3_3" src="@Html.DisplayFor(modelItem => modelItem.Image3_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost3_5 != null && Model.ContentPost3_5 != "")
                    {
                        <p id="ContentPost3_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost3_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject4 != null && Model.Subject4 != "")
                    {
                        <h3 id="Subject4">
                            @Html.DisplayFor(modelItem => modelItem.Subject4)
                        </h3>
                    }
                }
                @{if (Model.SubSubject4_1 != null && Model.SubSubject4_1 != "")
                    {
                        <p id="SubSubject4_1">@Html.DisplayFor(modelItem => modelItem.SubSubject4_1)</p>
                    }
                }
                @{if (Model.SubSubject4_2 != null && Model.SubSubject4_2 != "")
                    {
                        <p id="SubSubject4_2">@Html.DisplayFor(modelItem => modelItem.SubSubject4_2)</p>
                    }
                }
                @{if (Model.Image4_1 != null && Model.Image4_1 != "")
                    {

                        <img id="Image4_1" src="@Html.DisplayFor(modelItem => modelItem.Image4_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost4_1 != null && Model.ContentPost4_1 != "")
                    {
                        <p id="ContentPost4_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost4_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost4_2 != null && Model.ContentPost4_2 != "")
                    {
                        <p id="ContentPost4_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost4_2)
                        </p>
                    }
                }
                @{if (Model.Image4_2 != null && Model.Image4_2 != "")
                    {

                        <img id="Image4_2" src="@Html.DisplayFor(modelItem => modelItem.Image4_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost4_3 != null && Model.ContentPost4_3 != "")
                    {
                        <p id="ContentPost4_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost4_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost4_4 != null && Model.ContentPost4_4 != "")
                    {
                        <p id="ContentPost4_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost4_4)
                        </p>
                    }
                }
                @{if (Model.Image4_3 != null && Model.Image4_3 != "")
                    {
                        <img id="Image4_3" src="@Html.DisplayFor(modelItem => modelItem.Image4_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost4_5 != null && Model.ContentPost4_5 != "")
                    {
                        <p id="ContentPost4_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost4_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject5 != null && Model.Subject5 != "")
                    {
                        <h3 id="Subject5">
                            @Html.DisplayFor(modelItem => modelItem.Subject5)
                        </h3>
                    }
                }
                @{if (Model.SubSubject5_1 != null && Model.SubSubject5_1 != "")
                    {
                        <p id="SubSubject5_1">@Html.DisplayFor(modelItem => modelItem.SubSubject5_1)</p>
                    }
                }
                @{if (Model.SubSubject5_2 != null && Model.SubSubject5_2 != "")
                    {
                        <p id="SubSubject5_2">@Html.DisplayFor(modelItem => modelItem.SubSubject5_2)</p>
                    }
                }
                @{if (Model.Image5_1 != null && Model.Image5_1 != "")
                    {

                        <img id="Image5_1" src="@Html.DisplayFor(modelItem => modelItem.Image5_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost5_1 != null && Model.ContentPost5_1 != "")
                    {
                        <p id="ContentPost5_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost5_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost5_2 != null && Model.ContentPost5_2 != "")
                    {
                        <p id="ContentPost5_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost5_2)
                        </p>
                    }
                }
                @{if (Model.Image5_2 != null && Model.Image5_2 != "")
                    {

                        <img id="Image5_2" src="@Html.DisplayFor(modelItem => modelItem.Image5_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost5_3 != null && Model.ContentPost5_3 != "")
                    {
                        <p id="ContentPost5_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost5_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost5_4 != null && Model.ContentPost5_4 != "")
                    {
                        <p id="ContentPost5_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost5_4)
                        </p>
                    }
                }
                @{if (Model.Image5_3 != null && Model.Image5_3 != "")
                    {
                        <img id="Image5_3" src="@Html.DisplayFor(modelItem => modelItem.Image5_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost5_5 != null && Model.ContentPost5_5 != "")
                    {
                        <p id="ContentPost5_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost5_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject6 != null && Model.Subject6 != "")
                    {
                        <h3 id="Subject6">
                            @Html.DisplayFor(modelItem => modelItem.Subject6)
                        </h3>
                    }
                }
                @{if (Model.SubSubject6_1 != null && Model.SubSubject6_1 != "")
                    {
                        <p id="SubSubject6_1">@Html.DisplayFor(modelItem => modelItem.SubSubject6_1)</p>
                    }
                }
                @{if (Model.SubSubject6_2 != null && Model.SubSubject6_2 != "")
                    {
                        <p id="SubSubject6_2">@Html.DisplayFor(modelItem => modelItem.SubSubject6_2)</p>
                    }
                }
                @{if (Model.Image6_1 != null && Model.Image6_1 != "")
                    {

                        <img id="Image6_1" src="@Html.DisplayFor(modelItem => modelItem.Image6_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost6_1 != null && Model.ContentPost6_1 != "")
                    {
                        <p id="ContentPost6_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost6_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost6_2 != null && Model.ContentPost6_2 != "")
                    {
                        <p id="ContentPost6_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost6_2)
                        </p>
                    }
                }
                @{if (Model.Image6_2 != null && Model.Image6_2 != "")
                    {

                        <img id="Image6_2" src="@Html.DisplayFor(modelItem => modelItem.Image6_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost6_3 != null && Model.ContentPost6_3 != "")
                    {
                        <p id="ContentPost6_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost6_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost6_4 != null && Model.ContentPost6_4 != "")
                    {
                        <p id="ContentPost6_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost6_4)
                        </p>
                    }
                }
                @{if (Model.Image6_3 != null && Model.Image6_3 != "")
                    {
                        <img id="Image6_3" src="@Html.DisplayFor(modelItem => modelItem.Image6_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost6_5 != null && Model.ContentPost6_5 != "")
                    {
                        <p id="ContentPost6_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost6_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject7 != null && Model.Subject7 != "")
                    {
                        <h3 id="Subject7">
                            @Html.DisplayFor(modelItem => modelItem.Subject7)
                        </h3>
                    }
                }
                @{if (Model.SubSubject7_1 != null && Model.SubSubject7_1 != "")
                    {
                        <p id="SubSubject7_1">@Html.DisplayFor(modelItem => modelItem.SubSubject7_1)</p>
                    }
                }
                @{if (Model.SubSubject7_2 != null && Model.SubSubject7_2 != "")
                    {
                        <p id="SubSubject7_2">@Html.DisplayFor(modelItem => modelItem.SubSubject7_2)</p>
                    }
                }
                @{if (Model.Image7_1 != null && Model.Image7_1 != "")
                    {

                        <img id="Image7_1" src="@Html.DisplayFor(modelItem => modelItem.Image7_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost7_1 != null && Model.ContentPost7_1 != "")
                    {
                        <p id="ContentPost7_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost7_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost7_2 != null && Model.ContentPost7_2 != "")
                    {
                        <p id="ContentPost7_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost7_2)
                        </p>
                    }
                }
                @{if (Model.Image7_2 != null && Model.Image7_2 != "")
                    {

                        <img id="Image7_2" src="@Html.DisplayFor(modelItem => modelItem.Image7_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost7_3 != null && Model.ContentPost7_3 != "")
                    {
                        <p id="ContentPost7_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost7_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost7_4 != null && Model.ContentPost7_4 != "")
                    {
                        <p id="ContentPost7_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost7_4)
                        </p>
                    }
                }
                @{if (Model.Image7_3 != null && Model.Image7_3 != "")
                    {
                        <img id="Image7_3" src="@Html.DisplayFor(modelItem => modelItem.Image7_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost7_5 != null && Model.ContentPost7_5 != "")
                    {
                        <p id="ContentPost7_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost7_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject8 != null && Model.Subject8 != "")
                    {
                        <h3 id="Subject8">
                            @Html.DisplayFor(modelItem => modelItem.Subject8)
                        </h3>
                    }
                }
                @{if (Model.SubSubject8_1 != null && Model.SubSubject8_1 != "")
                    {
                        <p id="SubSubject8_1">@Html.DisplayFor(modelItem => modelItem.SubSubject8_1)</p>
                    }
                }
                @{if (Model.SubSubject8_2 != null && Model.SubSubject8_2 != "")
                    {
                        <p id="SubSubject8_2">@Html.DisplayFor(modelItem => modelItem.SubSubject8_2)</p>
                    }
                }
                @{if (Model.Image8_1 != null && Model.Image8_1 != "")
                    {

                        <img id="Image8_1" src="@Html.DisplayFor(modelItem => modelItem.Image8_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost8_1 != null && Model.ContentPost8_1 != "")
                    {
                        <p id="ContentPost8_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost8_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost8_2 != null && Model.ContentPost8_2 != "")
                    {
                        <p id="ContentPost8_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost8_2)
                        </p>
                    }
                }
                @{if (Model.Image8_2 != null && Model.Image8_2 != "")
                    {

                        <img id="Image8_2" src="@Html.DisplayFor(modelItem => modelItem.Image8_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost8_3 != null && Model.ContentPost8_3 != "")
                    {
                        <p id="ContentPost8_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost8_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost8_4 != null && Model.ContentPost8_4 != "")
                    {
                        <p id="ContentPost8_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost8_4)
                        </p>
                    }
                }
                @{if (Model.Image8_3 != null && Model.Image8_3 != "")
                    {
                        <img id="Image8_3" src="@Html.DisplayFor(modelItem => modelItem.Image8_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost8_5 != null && Model.ContentPost8_5 != "")
                    {
                        <p id="ContentPost8_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost8_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject9 != null && Model.Subject9 != "")
                    {
                        <h3 id="Subject9">
                            @Html.DisplayFor(modelItem => modelItem.Subject9)
                        </h3>
                    }
                }
                @{if (Model.SubSubject9_1 != null && Model.SubSubject9_1 != "")
                    {
                        <p id="SubSubject9_1">@Html.DisplayFor(modelItem => modelItem.SubSubject9_1)</p>
                    }
                }
                @{if (Model.SubSubject9_2 != null && Model.SubSubject9_2 != "")
                    {
                        <p id="SubSubject9_2">@Html.DisplayFor(modelItem => modelItem.SubSubject9_2)</p>
                    }
                }
                @{if (Model.Image9_1 != null && Model.Image9_1 != "")
                    {

                        <img id="Image9_1" src="@Html.DisplayFor(modelItem => modelItem.Image9_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost9_1 != null && Model.ContentPost9_1 != "")
                    {
                        <p id="ContentPost9_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost9_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost9_2 != null && Model.ContentPost9_2 != "")
                    {
                        <p id="ContentPost9_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost9_2)
                        </p>
                    }
                }
                @{if (Model.Image9_2 != null && Model.Image9_2 != "")
                    {

                        <img id="Image9_2" src="@Html.DisplayFor(modelItem => modelItem.Image9_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost9_3 != null && Model.ContentPost9_3 != "")
                    {
                        <p id="ContentPost9_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost9_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost9_4 != null && Model.ContentPost9_4 != "")
                    {
                        <p id="ContentPost9_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost9_4)
                        </p>
                    }
                }
                @{if (Model.Image9_3 != null && Model.Image9_3 != "")
                    {
                        <img id="Image9_3" src="@Html.DisplayFor(modelItem => modelItem.Image9_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost9_5 != null && Model.ContentPost9_5 != "")
                    {
                        <p id="ContentPost9_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost9_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject10 != null && Model.Subject10 != "")
                    {
                        <h3 id="Subject10">
                            @Html.DisplayFor(modelItem => modelItem.Subject10)
                        </h3>
                    }
                }
                @{if (Model.SubSubject10_1 != null && Model.SubSubject10_1 != "")
                    {
                        <p id="SubSubject10_1">@Html.DisplayFor(modelItem => modelItem.SubSubject10_1)</p>
                    }
                }
                @{if (Model.SubSubject10_2 != null && Model.SubSubject10_2 != "")
                    {
                        <p id="SubSubject10_2">@Html.DisplayFor(modelItem => modelItem.SubSubject10_2)</p>
                    }
                }
                @{if (Model.Image10_1 != null && Model.Image10_1 != "")
                    {

                        <img id="Image10_1" src="@Html.DisplayFor(modelItem => modelItem.Image10_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost10_1 != null && Model.ContentPost10_1 != "")
                    {
                        <p id="ContentPost10_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost10_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost10_2 != null && Model.ContentPost10_2 != "")
                    {
                        <p id="ContentPost10_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost10_2)
                        </p>
                    }
                }
                @{if (Model.Image10_2 != null && Model.Image10_2 != "")
                    {

                        <img id="Image10_2" src="@Html.DisplayFor(modelItem => modelItem.Image10_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost10_3 != null && Model.ContentPost10_3 != "")
                    {
                        <p id="ContentPost10_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost10_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost10_4 != null && Model.ContentPost10_4 != "")
                    {
                        <p id="ContentPost10_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost10_4)
                        </p>
                    }
                }
                @{if (Model.Image10_3 != null && Model.Image10_3 != "")
                    {
                        <img id="Image10_3" src="@Html.DisplayFor(modelItem => modelItem.Image10_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost10_5 != null && Model.ContentPost10_5 != "")
                    {
                        <p id="ContentPost10_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost10_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject11 != null && Model.Subject11 != "")
                    {
                        <h3 id="Subject11">
                            @Html.DisplayFor(modelItem => modelItem.Subject11)
                        </h3>
                    }
                }
                @{if (Model.SubSubject11_1 != null && Model.SubSubject11_1 != "")
                    {
                        <p id="SubSubject11_1">@Html.DisplayFor(modelItem => modelItem.SubSubject11_1)</p>
                    }
                }
                @{if (Model.SubSubject11_2 != null && Model.SubSubject11_2 != "")
                    {
                        <p id="SubSubject11_2">@Html.DisplayFor(modelItem => modelItem.SubSubject11_2)</p>
                    }
                }
                @{if (Model.Image11_1 != null && Model.Image11_1 != "")
                    {

                        <img id="Image11_1" src="@Html.DisplayFor(modelItem => modelItem.Image11_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost11_1 != null && Model.ContentPost11_1 != "")
                    {
                        <p id="ContentPost11_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost11_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost11_2 != null && Model.ContentPost11_2 != "")
                    {
                        <p id="ContentPost11_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost11_2)
                        </p>
                    }
                }
                @{if (Model.Image11_2 != null && Model.Image11_2 != "")
                    {

                        <img id="Image11_2" src="@Html.DisplayFor(modelItem => modelItem.Image11_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost11_3 != null && Model.ContentPost11_3 != "")
                    {
                        <p id="ContentPost11_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost11_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost11_4 != null && Model.ContentPost11_4 != "")
                    {
                        <p id="ContentPost11_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost11_4)
                        </p>
                    }
                }
                @{if (Model.Image11_3 != null && Model.Image11_3 != "")
                    {
                        <img id="Image11_3" src="@Html.DisplayFor(modelItem => modelItem.Image11_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost11_5 != null && Model.ContentPost11_5 != "")
                    {
                        <p id="ContentPost11_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost11_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject12 != null && Model.Subject12 != "")
                    {
                        <h3 id="Subject12">
                            @Html.DisplayFor(modelItem => modelItem.Subject12)
                        </h3>
                    }
                }
                @{if (Model.SubSubject12_1 != null && Model.SubSubject12_1 != "")
                    {
                        <p id="SubSubject12_1">@Html.DisplayFor(modelItem => modelItem.SubSubject12_1)</p>
                    }
                }
                @{if (Model.SubSubject12_2 != null && Model.SubSubject12_2 != "")
                    {
                        <p id="SubSubject12_2">@Html.DisplayFor(modelItem => modelItem.SubSubject12_2)</p>
                    }
                }
                @{if (Model.Image12_1 != null && Model.Image12_1 != "")
                    {

                        <img id="Image12_1" src="@Html.DisplayFor(modelItem => modelItem.Image12_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost12_1 != null && Model.ContentPost12_1 != "")
                    {
                        <p id="ContentPost12_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost12_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost12_2 != null && Model.ContentPost12_2 != "")
                    {
                        <p id="ContentPost12_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost12_2)
                        </p>
                    }
                }
                @{if (Model.Image12_2 != null && Model.Image12_2 != "")
                    {

                        <img id="Image12_2" src="@Html.DisplayFor(modelItem => modelItem.Image12_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost12_3 != null && Model.ContentPost12_3 != "")
                    {
                        <p id="ContentPost12_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost12_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost12_4 != null && Model.ContentPost12_4 != "")
                    {
                        <p id="ContentPost12_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost12_4)
                        </p>
                    }
                }
                @{if (Model.Image12_3 != null && Model.Image12_3 != "")
                    {
                        <img id="Image12_3" src="@Html.DisplayFor(modelItem => modelItem.Image12_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost12_5 != null && Model.ContentPost12_5 != "")
                    {
                        <p id="ContentPost12_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost12_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject13 != null && Model.Subject13 != "")
                    {
                        <h3 id="Subject13">
                            @Html.DisplayFor(modelItem => modelItem.Subject13)
                        </h3>
                    }
                }
                @{if (Model.SubSubject13_1 != null && Model.SubSubject13_1 != "")
                    {
                        <p id="SubSubject13_1">@Html.DisplayFor(modelItem => modelItem.SubSubject13_1)</p>
                    }
                }
                @{if (Model.SubSubject13_2 != null && Model.SubSubject13_2 != "")
                    {
                        <p id="SubSubject13_2">@Html.DisplayFor(modelItem => modelItem.SubSubject13_2)</p>
                    }
                }
                @{if (Model.Image13_1 != null && Model.Image13_1 != "")
                    {

                        <img id="Image13_1" src="@Html.DisplayFor(modelItem => modelItem.Image13_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost13_1 != null && Model.ContentPost13_1 != "")
                    {
                        <p id="ContentPost13_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost13_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost13_2 != null && Model.ContentPost13_2 != "")
                    {
                        <p id="ContentPost13_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost13_2)
                        </p>
                    }
                }
                @{if (Model.Image13_2 != null && Model.Image13_2 != "")
                    {

                        <img id="Image13_2" src="@Html.DisplayFor(modelItem => modelItem.Image13_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost13_3 != null && Model.ContentPost13_3 != "")
                    {
                        <p id="ContentPost13_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost13_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost13_4 != null && Model.ContentPost13_4 != "")
                    {
                        <p id="ContentPost13_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost13_4)
                        </p>
                    }
                }
                @{if (Model.Image13_3 != null && Model.Image13_3 != "")
                    {
                        <img id="Image13_3" src="@Html.DisplayFor(modelItem => modelItem.Image13_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost13_5 != null && Model.ContentPost13_5 != "")
                    {
                        <p id="ContentPost13_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost13_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject14 != null && Model.Subject14 != "")
                    {
                        <h3 id="Subject14">
                            @Html.DisplayFor(modelItem => modelItem.Subject14)
                        </h3>
                    }
                }
                @{if (Model.SubSubject14_1 != null && Model.SubSubject14_1 != "")
                    {
                        <p id="SubSubject14_1">@Html.DisplayFor(modelItem => modelItem.SubSubject14_1)</p>
                    }
                }
                @{if (Model.SubSubject14_2 != null && Model.SubSubject14_2 != "")
                    {
                        <p id="SubSubject14_2">@Html.DisplayFor(modelItem => modelItem.SubSubject14_2)</p>
                    }
                }
                @{if (Model.Image14_1 != null && Model.Image14_1 != "")
                    {

                        <img id="Image14_1" src="@Html.DisplayFor(modelItem => modelItem.Image14_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost14_1 != null && Model.ContentPost14_1 != "")
                    {
                        <p id="ContentPost14_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost14_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost14_2 != null && Model.ContentPost14_2 != "")
                    {
                        <p id="ContentPost14_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost14_2)
                        </p>
                    }
                }
                @{if (Model.Image14_2 != null && Model.Image14_2 != "")
                    {

                        <img id="Image14_2" src="@Html.DisplayFor(modelItem => modelItem.Image14_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost14_3 != null && Model.ContentPost14_3 != "")
                    {
                        <p id="ContentPost14_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost14_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost14_4 != null && Model.ContentPost14_4 != "")
                    {
                        <p id="ContentPost14_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost14_4)
                        </p>
                    }
                }
                @{if (Model.Image14_3 != null && Model.Image14_3 != "")
                    {
                        <img id="Image14_3" src="@Html.DisplayFor(modelItem => modelItem.Image14_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost14_5 != null && Model.ContentPost14_5 != "")
                    {
                        <p id="ContentPost14_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost14_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject15 != null && Model.Subject15 != "")
                    {
                        <h3 id="Subject15">
                            @Html.DisplayFor(modelItem => modelItem.Subject15)
                        </h3>
                    }
                }
                @{if (Model.SubSubject15_1 != null && Model.SubSubject15_1 != "")
                    {
                        <p id="SubSubject15_1">@Html.DisplayFor(modelItem => modelItem.SubSubject15_1)</p>
                    }
                }
                @{if (Model.SubSubject15_2 != null && Model.SubSubject15_2 != "")
                    {
                        <p id="SubSubject15_2">@Html.DisplayFor(modelItem => modelItem.SubSubject15_2)</p>
                    }
                }
                @{if (Model.Image15_1 != null && Model.Image15_1 != "")
                    {

                        <img id="Image15_1" src="@Html.DisplayFor(modelItem => modelItem.Image15_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost15_1 != null && Model.ContentPost15_1 != "")
                    {
                        <p id="ContentPost15_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost15_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost15_2 != null && Model.ContentPost15_2 != "")
                    {
                        <p id="ContentPost15_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost15_2)
                        </p>
                    }
                }
                @{if (Model.Image15_2 != null && Model.Image15_2 != "")
                    {

                        <img id="Image15_2" src="@Html.DisplayFor(modelItem => modelItem.Image15_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost15_3 != null && Model.ContentPost15_3 != "")
                    {
                        <p id="ContentPost15_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost15_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost15_4 != null && Model.ContentPost15_4 != "")
                    {
                        <p id="ContentPost15_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost15_4)
                        </p>
                    }
                }
                @{if (Model.Image15_3 != null && Model.Image15_3 != "")
                    {
                        <img id="Image15_3" src="@Html.DisplayFor(modelItem => modelItem.Image15_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost15_5 != null && Model.ContentPost15_5 != "")
                    {
                        <p id="ContentPost15_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost15_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject16 != null && Model.Subject16 != "")
                    {
                        <h3 id="Subject16">
                            @Html.DisplayFor(modelItem => modelItem.Subject16)
                        </h3>
                    }
                }
                @{if (Model.SubSubject16_1 != null && Model.SubSubject16_1 != "")
                    {
                        <p id="SubSubject16_1">@Html.DisplayFor(modelItem => modelItem.SubSubject16_1)</p>
                    }
                }
                @{if (Model.SubSubject16_2 != null && Model.SubSubject16_2 != "")
                    {
                        <p id="SubSubject16_2">@Html.DisplayFor(modelItem => modelItem.SubSubject16_2)</p>
                    }
                }
                @{if (Model.Image16_1 != null && Model.Image16_1 != "")
                    {

                        <img id="Image16_1" src="@Html.DisplayFor(modelItem => modelItem.Image16_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost16_1 != null && Model.ContentPost16_1 != "")
                    {
                        <p id="ContentPost16_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost16_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost16_2 != null && Model.ContentPost16_2 != "")
                    {
                        <p id="ContentPost16_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost16_2)
                        </p>
                    }
                }
                @{if (Model.Image16_2 != null && Model.Image16_2 != "")
                    {

                        <img id="Image16_2" src="@Html.DisplayFor(modelItem => modelItem.Image16_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost16_3 != null && Model.ContentPost16_3 != "")
                    {
                        <p id="ContentPost16_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost16_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost16_4 != null && Model.ContentPost16_4 != "")
                    {
                        <p id="ContentPost16_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost16_4)
                        </p>
                    }
                }
                @{if (Model.Image16_3 != null && Model.Image16_3 != "")
                    {
                        <img id="Image16_3" src="@Html.DisplayFor(modelItem => modelItem.Image16_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost16_5 != null && Model.ContentPost16_5 != "")
                    {
                        <p id="ContentPost16_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost16_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject17 != null && Model.Subject17 != "")
                    {
                        <h3 id="Subject17">
                            @Html.DisplayFor(modelItem => modelItem.Subject17)
                        </h3>
                    }
                }
                @{if (Model.SubSubject17_1 != null && Model.SubSubject17_1 != "")
                    {
                        <p id="SubSubject17_1">@Html.DisplayFor(modelItem => modelItem.SubSubject17_1)</p>
                    }
                }
                @{if (Model.SubSubject17_2 != null && Model.SubSubject17_2 != "")
                    {
                        <p id="SubSubject17_2">@Html.DisplayFor(modelItem => modelItem.SubSubject17_2)</p>
                    }
                }
                @{if (Model.Image17_1 != null && Model.Image17_1 != "")
                    {

                        <img id="Image17_1" src="@Html.DisplayFor(modelItem => modelItem.Image17_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost17_1 != null && Model.ContentPost17_1 != "")
                    {
                        <p id="ContentPost17_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost17_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost17_2 != null && Model.ContentPost17_2 != "")
                    {
                        <p id="ContentPost17_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost17_2)
                        </p>
                    }
                }
                @{if (Model.Image17_2 != null && Model.Image17_2 != "")
                    {

                        <img id="Image17_2" src="@Html.DisplayFor(modelItem => modelItem.Image17_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost17_3 != null && Model.ContentPost17_3 != "")
                    {
                        <p id="ContentPost17_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost17_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost17_4 != null && Model.ContentPost17_4 != "")
                    {
                        <p id="ContentPost17_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost17_4)
                        </p>
                    }
                }
                @{if (Model.Image17_3 != null && Model.Image17_3 != "")
                    {
                        <img id="Image17_3" src="@Html.DisplayFor(modelItem => modelItem.Image17_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost17_5 != null && Model.ContentPost17_5 != "")
                    {
                        <p id="ContentPost17_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost17_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject18 != null && Model.Subject18 != "")
                    {
                        <h3 id="Subject18">
                            @Html.DisplayFor(modelItem => modelItem.Subject18)
                        </h3>
                    }
                }
                @{if (Model.SubSubject18_1 != null && Model.SubSubject18_1 != "")
                    {
                        <p id="SubSubject18_1">@Html.DisplayFor(modelItem => modelItem.SubSubject18_1)</p>
                    }
                }
                @{if (Model.SubSubject18_2 != null && Model.SubSubject18_2 != "")
                    {
                        <p id="SubSubject18_2">@Html.DisplayFor(modelItem => modelItem.SubSubject18_2)</p>
                    }
                }
                @{if (Model.Image18_1 != null && Model.Image18_1 != "")
                    {

                        <img id="Image18_1" src="@Html.DisplayFor(modelItem => modelItem.Image18_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost18_1 != null && Model.ContentPost18_1 != "")
                    {
                        <p id="ContentPost18_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost18_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost18_2 != null && Model.ContentPost18_2 != "")
                    {
                        <p id="ContentPost18_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost18_2)
                        </p>
                    }
                }
                @{if (Model.Image18_2 != null && Model.Image18_2 != "")
                    {

                        <img id="Image18_2" src="@Html.DisplayFor(modelItem => modelItem.Image18_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost18_3 != null && Model.ContentPost18_3 != "")
                    {
                        <p id="ContentPost18_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost18_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost18_4 != null && Model.ContentPost18_4 != "")
                    {
                        <p id="ContentPost18_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost18_4)
                        </p>
                    }
                }
                @{if (Model.Image18_3 != null && Model.Image18_3 != "")
                    {
                        <img id="Image18_3" src="@Html.DisplayFor(modelItem => modelItem.Image18_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost18_5 != null && Model.ContentPost18_5 != "")
                    {
                        <p id="ContentPost18_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost18_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject19 != null && Model.Subject19 != "")
                    {
                        <h3 id="Subject19">
                            @Html.DisplayFor(modelItem => modelItem.Subject19)
                        </h3>
                    }
                }
                @{if (Model.SubSubject19_1 != null && Model.SubSubject19_1 != "")
                    {
                        <p id="SubSubject19_1">@Html.DisplayFor(modelItem => modelItem.SubSubject19_1)</p>
                    }
                }
                @{if (Model.SubSubject19_2 != null && Model.SubSubject19_2 != "")
                    {
                        <p id="SubSubject19_2">@Html.DisplayFor(modelItem => modelItem.SubSubject19_2)</p>
                    }
                }
                @{if (Model.Image19_1 != null && Model.Image19_1 != "")
                    {

                        <img id="Image19_1" src="@Html.DisplayFor(modelItem => modelItem.Image19_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost19_1 != null && Model.ContentPost19_1 != "")
                    {
                        <p id="ContentPost19_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost19_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost19_2 != null && Model.ContentPost19_2 != "")
                    {
                        <p id="ContentPost19_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost19_2)
                        </p>
                    }
                }
                @{if (Model.Image19_2 != null && Model.Image19_2 != "")
                    {

                        <img id="Image19_2" src="@Html.DisplayFor(modelItem => modelItem.Image19_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost19_3 != null && Model.ContentPost19_3 != "")
                    {
                        <p id="ContentPost19_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost19_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost19_4 != null && Model.ContentPost19_4 != "")
                    {
                        <p id="ContentPost19_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost19_4)
                        </p>
                    }
                }
                @{if (Model.Image19_3 != null && Model.Image19_3 != "")
                    {
                        <img id="Image19_3" src="@Html.DisplayFor(modelItem => modelItem.Image19_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost19_5 != null && Model.ContentPost19_5 != "")
                    {
                        <p id="ContentPost19_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost19_5)
                        </p>
                    }
                }

                <!-------------------------------------------------------------------------------------->
                @{if (Model.Subject20 != null && Model.Subject20 != "")
                    {
                        <h3 id="Subject20">
                            @Html.DisplayFor(modelItem => modelItem.Subject20)
                        </h3>
                    }
                }
                @{if (Model.SubSubject20_1 != null && Model.SubSubject20_1 != "")
                    {
                        <p id="SubSubject20_1">@Html.DisplayFor(modelItem => modelItem.SubSubject20_1)</p>
                    }
                }
                @{if (Model.SubSubject20_2 != null && Model.SubSubject20_2 != "")
                    {
                        <p id="SubSubject20_2">@Html.DisplayFor(modelItem => modelItem.SubSubject20_2)</p>
                    }
                }
                @{if (Model.Image20_1 != null && Model.Image20_1 != "")
                    {

                        <img id="Image20_1" src="@Html.DisplayFor(modelItem => modelItem.Image20_1)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost20_1 != null && Model.ContentPost20_1 != "")
                    {
                        <p id="ContentPost20_1">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost20_1)
                        </p>
                    }
                }
                @{if (Model.ContentPost20_2 != null && Model.ContentPost20_2 != "")
                    {
                        <p id="ContentPost20_2">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost20_2)
                        </p>
                    }
                }
                @{if (Model.Image20_2 != null && Model.Image20_2 != "")
                    {

                        <img id="Image20_2" src="@Html.DisplayFor(modelItem => modelItem.Image20_2)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost20_3 != null && Model.ContentPost20_3 != "")
                    {
                        <p id="ContentPost20_3">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost20_3)
                        </p>
                    }
                }
                @{if (Model.ContentPost20_4 != null && Model.ContentPost20_4 != "")
                    {
                        <p id="ContentPost20_4">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost20_4)
                        </p>
                    }
                }
                @{if (Model.Image20_3 != null && Model.Image20_3 != "")
                    {
                        <img id="Image20_3" src="@Html.DisplayFor(modelItem => modelItem.Image20_3)" style="margin-bottom: 10px;" />
                    }
                }
                @{if (Model.ContentPost20_5 != null && Model.ContentPost20_5 != "")
                    {
                        <p id="ContentPost20_5">
                            @Html.DisplayFor(modelItem => modelItem.ContentPost20_5)
                        </p>
                    }
                }
            }*@
            <!------------------------------------------------------------>
            <!------------------------------------------------------------>
            <!------------------------------------------------------------>


            <div class="heateorSssClear"></div>
            <div class="heateorSssClear"></div>
            <div class="entry-meta row">
                <div class="col-md-12">
                    <ul class="common-meta">
                        <li>
                            <i class="fa fa-user"></i>
                            <a href="@Url.Action("Index", "Admin")" title="ايجاد شده توسط @Html.DisplayFor(modelItem => modelItem.Fullname)" rel="author">@Html.DisplayFor(modelItem => modelItem.Fullname)</a>
                        </li>
                        <li>
                            <i class="fa fa-comment"></i>
                            <a href="@Url.Action("Index", "Comment")"> @Html.DisplayFor(modelItem => modelItem.CommentCount)</a>
                        </li>
                        <li class="post-like">
                            <a href="#"><i class="fa fa-eye"></i> @Html.DisplayFor(modelItem => modelItem.Views)</a>
                        </li>
                    </ul>
                </div>
            </div>


            @{if (Model.SourceSiteNameFa != null && Model.SourceSiteNameFa != "")
                {
                    <p id="SourceSiteNameFa">
                        <div style="display:inline-block">سایت مرجع:&nbsp;</div><a href="@Model.SourceSiteUrl" target="_blank">@Model.SourceSiteNameFa</a>
                        @*@Html.ActionLink(Model.SourceSiteNameFa, Model.SourceSiteUrl)*@
                    </p>
                }
            }

            <div class="tag-block">
                @{
                    if (Model != null && Model.PostCategory != null)
                    {
                        foreach (var item in Model.PostCategory.ToList())
                        {
                            <span class="tags-caption">@item.NameFa</span>
                        }
                    }
                }

            </div>
        </div>
    </article>

    <!-- Include author box -->
    <div class="author-box">
        <div class="panel">
            <div class="panel-body">
                <div class="author-avatar">
                    <a href="@Url.Action("WebSite","Admin")"><img alt="@Html.DisplayFor(modelItem => modelItem.Fullname)" src="@Url.Action( "ShowImage", "Post", new { id = @Html.DisplayFor(modelItem => modelItem.UserID_fk) })" srcset="" class="media-object avatar-90 photo" height="90" width="90"></a>
                </div>
                <div class="author-info">
                    <h4 class="heading-single"><span>درباره نويسنده - <a href="@Url.Action("WebSite","Admin")" title="وب سايت نويسنده" rel="author external">@Html.DisplayFor(modelItem => modelItem.Fullname)</a></span></h4>
                    <p>يک متن درباره نويسنده</p>
                </div>
                <div class="clearfix"></div>
                <div class="author-social">
                    <ul class="social-icons social-small icon-circle list-inline">
                        <li>
                            <a class="tooltip-on white" title="Facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip-on white" title="Twitter" href="#">
                                <div class="icon-wrapper icon-full-radius bg-color-info">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-on white" title="Google Plus" href="#">
                                <div class="icon-wrapper icon-full-radius bg-color-danger">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip-on white" title="Linkedin" href="#">
                                <div class="icon-wrapper icon-full-radius bg-color-default linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Show comments -->
    @Html.Partial("~/Views/Post/_Comment.cshtml")

    <!-- Show related posts -->
    <div id="related-tab">
        <h3 class="related-posts-title">مطالب مشابه</h3><div class="related-posts row">
            <article class='col-md-4 hentry  format-standard  category-quiz '>
                <div class="post-box">
                    <div class="entry-cover">
                        <a href='/Quiz/Post?PostID=7' name='7'>  <img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/18-9-24-9184457358287.jpg' alt='جزییات بازداشت خواننده سرشناس در اوایل انقلاب'>  </a>
                        <div class='post-category'><a href=' quiz/Index' class=' cat-quiz '> سوال </a></div>
                        <a href='/Quiz/Post?PostID=7' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
                    </div>
                    <div class="entry-content">
                        <h3 class="entry-title"> <a href='/Quiz/Post?PostID=7'>جزییات بازداشت خواننده سرشناس در اوایل انقلاب</a></h3>
                    </div>
                    <div class="entry-footer">
                        <div class=' row'>
                            <div class='col-md-12'>
                                <ul class='common-meta' style='width:auto'>
                                    <li>
                                        <i class='fa fa-user'></i>
                                        <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a>
                                    </li>
                                    <li><i class='fa fa-comment'> 2</i><a href='Comment/7'> </a></li>
                                    <li class='post-like'><a href='#'><p class='fa fa-eye'> 215</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </div>
</div>



