<div class="vc_row wpb_row vc_row-fluid">
    @*<div class="imgwrapper">

        @using (Html.BeginForm("SaveImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
        {

            @Html.Upload("UploadFile")
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="بارگذاري تصوير" id="btnUploadFile">
            <input id="viewbaginput" type="hidden" value="@ViewBag.RetUploadFile">
        }
    </div>*@
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides sp-slider-image-top"><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 2178})'> <img width='640' height='315' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' class='sp-image ' alt='بعد از ظهر یکشنبه در جزیره گراند ژات'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 2178})'> بعد از ظهر یکشنبه در جزیره گراند ژات</a></h4><a href='@Url.Action("Post","sexy", new {postID = 2178})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 2179})'> <img width='640' height='315' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Jackson-Pollock-1.jpg' class='sp-image ' alt='آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 2179})'> آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش</a></h4><a href='@Url.Action("Post","sexy", new {postID = 2179})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2180})'> <img width='640' height='315' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Surrealism-1.jpg' class='sp-image ' alt='سورئاليسم چیست و چگونه شکل گرفت؟'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2180})'> سورئاليسم چیست و چگونه شکل گرفت؟</a></h4><a href='@Url.Action("Post","cute", new {postID = 2180})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2181})'> <img width='640' height='315' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-image ' alt='آشنایی با رنگ و ویژگی های آن'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2181})'> آشنایی با رنگ و ویژگی های آن</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2181})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 2186})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg' class='sp-image ' alt='روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 2186})'> روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</a></h4><a href='@Url.Action("Post","places", new {postID = 2186})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2187})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg' class='sp-image ' alt='واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2187})'> واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</a></h4><a href='@Url.Action("Post","cute", new {postID = 2187})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image-top"><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>بعد از ظهر یکشنبه در جزیره گراند ژات</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' class='sp-thumbnail-image ' alt='بعد از ظهر یکشنبه در جزیره گراند ژات' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Jackson-Pollock-1.jpg' class='sp-thumbnail-image ' alt='آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>سورئاليسم چیست و چگونه شکل گرفت؟</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Surrealism-1.jpg' class='sp-thumbnail-image ' alt='سورئاليسم چیست و چگونه شکل گرفت؟' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>آشنایی با رنگ و ویژگی های آن</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-thumbnail-image ' alt='آشنایی با رنگ و ویژگی های آن' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg' class='sp-thumbnail-image ' alt='روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg' class='sp-thumbnail-image ' alt='واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div></div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid"><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2255})' name='2255'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg' alt='دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2255})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2255})'>دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2255'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2254})' name='2254'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887157_489.jpg' alt='قتل امام جمعه اهل سنت در گلستان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2254})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2254})'>قتل امام جمعه اهل سنت در گلستان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2254'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2253})' name='2253'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2253})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2253})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2253'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2252})' name='2252'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886848_729.png' alt='برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2252})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2252})'>برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2252'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2249})' name='2249'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/4/1885251_657.jpg' alt='زیباکلام: روحانی به عربستان توهین کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2249})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2249})'>زیباکلام: روحانی به عربستان توهین کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2249'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2248})' name='2248'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885871_842.jpg' alt='تعجب کاربران از تغییرات ظاهری رزیتا غفاری'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2248})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2248})'>تعجب کاربران از تغییرات ظاهری رزیتا غفاری</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2248'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2247})' name='2247'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886766_881.png' alt='ماکان‌بند؛ همین‌قدر بی‌سواد و تاسف برانگیز'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2247})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2247})'>ماکان‌بند؛ همین‌قدر بی‌سواد و تاسف برانگیز</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2247'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2246})' name='2246'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886483_836.jpg' alt='کاوشگر ناسا روی مریخ نشست'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2246})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2246})'>کاوشگر ناسا روی مریخ نشست</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2246'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2245})' name='2245'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886384_785.jpg' alt='سید احمد خمینی ازدواج کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2245})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2245})'>سید احمد خمینی ازدواج کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2245'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2241})' name='2241'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886790_919.jpg' alt='خط لوله ترکید و یزد آب ندارد و...'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2241})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2241})'>خط لوله ترکید و یزد آب ندارد و...</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2241'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2240})' name='2240'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886730_784.jpg' alt='برانکو و پرسپولیس «کی‌روش ممنوع» شدند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2240})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2240})'>برانکو و پرسپولیس «کی‌روش ممنوع» شدند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2240'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2239})' name='2239'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885305_642.jpg' alt='واکنش حاج‌صفی به آفساید اعلام شدن گلش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2239})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2239})'>واکنش حاج‌صفی به آفساید اعلام شدن گلش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2239'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2238})' name='2238'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886321_587.jpg' alt='فتح الله زاده: من مدیرعامل قانونی استقلالم!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2238})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2238})'>فتح الله زاده: من مدیرعامل قانونی استقلالم!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2238'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2236})' name='2236'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885803_372.jpg' alt='اطلاعیه در مورد نحوه شهادت حسین فهمیده'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2236})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2236})'>اطلاعیه در مورد نحوه شهادت حسین فهمیده</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2236'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2235})' name='2235'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2235})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2235})'>سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2235'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2234})' name='2234'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886603_862.jpg' alt='۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2234})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2234})'>۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2234'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2233})' name='2233'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1881881_407.jpg' alt='عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2233})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2233})'>عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2233'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2232})' name='2232'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/7/30/1850647_910.jpg' alt='ماشین‌های پرنده، برای آینده‌ای نه چندان دور'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2232})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2232})'>ماشین‌های پرنده، برای آینده‌ای نه چندان دور</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2232'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2231})' name='2231'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876752_282.jpg' alt='تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2231})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2231})'>تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2231'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2230})' name='2230'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882166_848.jpg' alt='چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2230})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2230})'>چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2230'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2229})' name='2229'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/26/1877455_745.jpg' alt='کلکسیون خودرو‌های لوکس پل واکر، ستاره فقید هالیوود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2229})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2229})'>کلکسیون خودرو‌های لوکس پل واکر، ستاره فقید هالیوود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2229'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2228})' name='2228'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879977_175.jpg' alt='آفرود چیست و چقدر هزینه دارد؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2228})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2228})'>آفرود چیست و چقدر هزینه دارد؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2228'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2227})' name='2227'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' alt='اولین موتورسیکلت الکتریکی هارلی دیویدسون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2227})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2227})'>اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2227'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2226})' name='2226'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2226})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2226})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2226'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2225})' name='2225'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' alt='زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2225})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2225})'>زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2225'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2224})' name='2224'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg' alt='چرا در باران لیز میخوریم؟ پدیده آب سواری چیست؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2224})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2224})'>چرا در باران لیز میخوریم؟ پدیده آب سواری چیست؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2224'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2223})' name='2223'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' alt='هوندا بهتر است یا هیوندای؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2223})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2223})'>هوندا بهتر است یا هیوندای؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2223'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2222})' name='2222'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153468815062958-irannaz-com-300x200.jpg' alt='پلاکارد تهدید روحانی و اعتراف به مرگ عمدی هاشمی (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2222})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2222})'>پلاکارد تهدید روحانی و اعتراف به مرگ عمدی هاشمی (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2222'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2221})' name='2221'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151058751991859-irannaz-com-297x200.jpg' alt='خودارضایی یا جلق بیش از اندازه و عوارض آن'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2221})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2221})'>خودارضایی یا جلق بیش از اندازه و عوارض آن</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2221'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2220})' name='2220'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153460477772076-irannaz-com-300x200.jpg' alt='مرگ داماد آملی در حین فیلمبرداری (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2220})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2220})'>مرگ داماد آملی در حین فیلمبرداری (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2220'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">دیگر رويدادها</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">سوال</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content"><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","sexy", new {postID = 2698})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2698})'> واکنش کانادا به اظهارات روحانی درباره اسرائیل</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/04  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","cute", new {postID = 2692})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/21/1872940_219.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2692})'> تام کروز چه خودرو‌ها و موتورسیکلت‌هایی سوار می‌شود؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/03  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","quiz", new {postID = 2688})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 2688})'> جنگ تجاری چین و آمریکا؛ چشم امید به بوینوس آیرس دوخته شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/02  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","films", new {postID = 2678})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2678})'> افتتاح سرزمین عجایب در باغ وحش لس‌آنجلس در آستانه کریسمس</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/03  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","films", new {postID = 2675})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2675})'> آنگلا مرکل به دلیل نقص فنی هواپیما به افتتاحیه گروه بیست نمی‌رسد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/01  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","bizarre", new {postID = 2658})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2658})'> طراحی فیگور با زغال</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/03  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row bloglist-content"><article class='col-md-4'><div class='post-object' style=' background-image:url(https://www.rangehonar.com/data/_uploaded/image/painting-training/Jackson-Pollock-1.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2179})'> آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(https://www.rangehonar.com/data/_uploaded/image/painting-training/Surrealism-1.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2180})'> سورئاليسم چیست و چگونه شکل گرفت؟</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><h3 class='title'><a href='@Url.Action("Post","amazing", new {postID = 2181})'> آشنایی با رنگ و ویژگی های آن</a></h3><a href='@Url.Action("Index","amazing")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> طراحی فیگور با زغال</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2183})'> آتش زیر خاکسترِ استقلال با نفت شعله‌ور شد</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2184})'> دلار پایین آمد، اما چرا قیمت‌ها بالا مانده‌اند؟</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2185})'> مغز آجیل بخورید تا لاغر بمانید</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><h3 class='title'><a href='@Url.Action("Post","places", new {postID = 2186})'> روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</a></h3><a href='@Url.Action("Index","places")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2187})'> واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889644_952.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2188})'> آرش ظلی پور توبیخ شد</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default"><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 2178})'> <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2178})'> </a></h4><div class='blogitem-excerpt'>نقاشی بعد از ظهر یکشنبه در جزیره گراند ژات یکی از آثار مشهور ژرژ سورا ، نقاش پست امپرسیونیست فرانسوی است که با شیوه پوینتیلیسم به معنی نقطه‌چینی یا نقطه گذاری (Pointillism) نقاشی شده است. این تابلو بی</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 2178})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 2179})'> <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Jackson-Pollock-1.jpg' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2179})'> </a></h4><div class='blogitem-excerpt'>جکسون پولاک (۲۸ ژانویه ۱۹۱۲، ۱۱ اوت ۱۹۵۶)، هنرمند آمریکایی و یک شخصیت مهم در جنبش نقاشی انتزاعی بود. Jackson Pollock در طول عمر خود از شهرت قابل توجهی برخوردار بوده و به عنوان هنرمندی منحصر به فرد در </div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 2179})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2180})'> <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Surrealism-1.jpg' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2180})'> </a></h4><div class='blogitem-excerpt'>در ۱۹۲۴ آندره بروتون بیانیه ی سوررئالیسم را منتشر کرد. این جنبش که هنرمندان و روشنفکرانی با منشأهای فکری گوناگون به عضویت آن در آمدند، به سرعت زبانی به وجود آورد که با گذشته قطع رابطه می کرد. تحقیقات </div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2180})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","amazing", new {postID = 2181})'> <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='' alt=''></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2181})'> </a></h4><div class='blogitem-excerpt'>مطالعه درباره رنگ (Color) ، ملاحظاتی را درباره فیزیک، فیزیولوژی و روانشناسی پیش می آورد. علم فیزیک، توزیع انرژی طیفی نوری را که از یک سطح صادر و یا به وسیله آن منعکس می شود، بررسی می کند (شاخه خاصی از</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","amazing", new {postID = 2181})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> </a></h4><div class='blogitem-excerpt'>طراحی فیگور با زغال چالش برانگیز، جذاب و بسیار کاربردی است. به طور کل فیگور انسان علی رغم پیچیدگی های خاص خود، موضوعی همیشگی برای طراحان و نقاشان در سراسر دنیاست. هنگام استفاده از زغال طراحی، هنرمند ا</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 2182})' class='readmore'><span>بیشتر بخوانيد</span></a></div></div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides sp-slider-image"><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 1981})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 1981})'>هوندا بهتر است یا هیوندای؟</a></h4><a href='@Url.Action("Post","places", new {postID = 1981})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","quiz", new {postID = 1982})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","quiz", new {postID = 1982})'>چرا در باران لیز میخوریم؟ پدیده آب سواری چیست؟</a></h4><a href='@Url.Action("Post","quiz", new {postID = 1982})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 1983})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 1983})'>زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده</a></h4><a href='@Url.Action("Post","amazing", new {postID = 1983})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","films", new {postID = 1984})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","films", new {postID = 1984})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h4><a href='@Url.Action("Post","films", new {postID = 1984})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 1985})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 1985})'>اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h4><a href='@Url.Action("Post","places", new {postID = 1985})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","films", new {postID = 1986})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879977_175.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","films", new {postID = 1986})'>آفرود چیست و چقدر هزینه دارد؟</a></h4><a href='@Url.Action("Post","films", new {postID = 1986})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image"><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879977_175.jpg' width='70' height='70' alt=''></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>