<div class="vc_row wpb_row vc_row-fluid">
    @*<div class="imgwrapper">

            @using (Html.BeginForm("SaveImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
            {

                @Html.Upload("UploadFile")
                <br>
                <input type="submit" class="btn btn-primary btn-lg" value="بارگذاري تصوير" id="btnUploadFile">
                <input id="viewbaginput" type="hidden" value="@ViewBag.RetUploadFile">
            }
        </div>*@
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides sp-slider-image-top"><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2307})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891208_818.jpg' class='sp-image ' alt='کاربران «بن سلمان» را چهره سال تایم کردند'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2307})'> کاربران «بن سلمان» را چهره سال تایم کردند</a></h4><a href='@Url.Action("Post","cute", new {postID = 2307})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2290})'> <img width='640' height='315' src='https://static.euronews.com/articles/stories/03/47/42/86/880x495_cmsv2_05165a41-548e-50da-8143-221bebfd70e3-3474286.jpg' class='sp-image ' alt='یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2290})'> یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد</a></h4><a href='@Url.Action("Post","cute", new {postID = 2290})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2215})'> <img width='640' height='315' src='http://www.irannaz.com/images/2018/09/153720672039993-irannaz-com.jpg' class='sp-image ' alt='سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2215})'> سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)</a></h4><a href='@Url.Action("Post","cute", new {postID = 2215})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> <img width='640' height='315' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-image ' alt='آشنایی با رنگ و ویژگی های آن'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> آشنایی با رنگ و ویژگی های آن</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2181})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2226})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' class='sp-image ' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2226})'> وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h4><a href='@Url.Action("Post","cute", new {postID = 2226})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> <img width='640' height='315' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-image ' alt='آشنایی با رنگ و ویژگی های آن'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> آشنایی با رنگ و ویژگی های آن</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2181})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image-top"><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>کاربران «بن سلمان» را چهره سال تایم کردند</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891208_818.jpg' class='sp-thumbnail-image ' alt='کاربران «بن سلمان» را چهره سال تایم کردند' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://static.euronews.com/articles/stories/03/47/42/86/880x495_cmsv2_05165a41-548e-50da-8143-221bebfd70e3-3474286.jpg' class='sp-thumbnail-image ' alt='یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://www.irannaz.com/images/2018/09/153720672039993-irannaz-com.jpg' class='sp-thumbnail-image ' alt='سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>آشنایی با رنگ و ویژگی های آن</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-thumbnail-image ' alt='آشنایی با رنگ و ویژگی های آن' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' class='sp-thumbnail-image ' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>آشنایی با رنگ و ویژگی های آن</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-thumbnail-image ' alt='آشنایی با رنگ و ویژگی های آن' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div></div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid"><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2378})' name='2378'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/12/151284282747725-irannaz-com.jpg' alt='استفاده های شگفت انگیز از موی انسان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2378})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2378})'>استفاده های شگفت انگیز از موی انسان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2378'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2377})' name='2377'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/02/151933284127375-irannaz-com-300x200.jpg' alt='خواننده مشهور ایرانی دستگیر شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2377})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2377})'>خواننده مشهور ایرانی دستگیر شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2377'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2376})' name='2376'>  <img width='290' height='170' src='http://www.irannaz.com/images/2016/12/148171021343005-irannaz-com.jpg' alt='کاهش وزن شدید بهاره رهنما در کنار دکترش +عکس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2376})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2376})'>کاهش وزن شدید بهاره رهنما در کنار دکترش +عکس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2376'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2375})' name='2375'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152891257014489-irannaz-com-300x200.jpg' alt='واکنش همسر بهاره رهنما به کلیپ جنجالی دخترش (فیلم و عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2375})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2375})'>واکنش همسر بهاره رهنما به کلیپ جنجالی دخترش (فیلم و عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2375'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2374})' name='2374'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/150976360296402-irannaz-com-299x200.jpg' alt='عکس های جدید همسر محسن چاوشی و پسرش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2374})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2374})'>عکس های جدید همسر محسن چاوشی و پسرش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2374'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2373})' name='2373'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/11/154290476061197-irannaz-com-300x200.jpg' alt='مرگ تلخ این تازه عروس در آغوش داماد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2373})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2373})'>مرگ تلخ این تازه عروس در آغوش داماد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2373'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2372})' name='2372'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149328730294898-irannaz-com.jpg' alt='ازدواج بازیکن استقلال با خواهر زن خسرو حیدری (تصاویر)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2372})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2372})'>ازدواج بازیکن استقلال با خواهر زن خسرو حیدری (تصاویر)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2372'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2371})' name='2371'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152739152782764-irannaz-com-300x200.jpg' alt='سرقت تندیس بازیگری ناصر ملک مطیعی از خانه دخترش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2371})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2371})'>سرقت تندیس بازیگری ناصر ملک مطیعی از خانه دخترش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2371'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2370})' name='2370'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152717496767670-irannaz-com.jpg' alt='جشن تولد شایلی همسر بنیامین بهادری در کنار فرزندانش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2370})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2370})'>جشن تولد شایلی همسر بنیامین بهادری در کنار فرزندانش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2370'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2369})' name='2369'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/03/152084553240148-irannaz-com-300x200.jpg' alt='تصاویر دختر پولدار ترک قبل از سقوط هواپیما در شهرکرد (+ اسامی)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2369})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2369})'>تصاویر دختر پولدار ترک قبل از سقوط هواپیما در شهرکرد (+ اسامی)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2369'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2368})' name='2368'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153184738862348-irannaz-com.jpg' alt='ازدواج عجیب پسر میلیاردر با دختری شبیه پیشخدمت (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2368})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2368})'>ازدواج عجیب پسر میلیاردر با دختری شبیه پیشخدمت (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2368'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2367})' name='2367'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153174255999638-irannaz-com.jpg' alt='دزدی در مراسم اهدای جام جهانی 2018 (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2367})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2367})'>دزدی در مراسم اهدای جام جهانی 2018 (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2367'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2366})' name='2366'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/03/148940922767516-irannaz-com.jpg' alt='علت قتل قهرمان پرورش اندام ایران توسط پدرزنش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2366})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2366})'>علت قتل قهرمان پرورش اندام ایران توسط پدرزنش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2366'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2365})' name='2365'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152858156549696-irannaz-com-300x200.jpg' alt='مجری مشهور و محبوب خودکشی کرد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2365})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2365})'>مجری مشهور و محبوب خودکشی کرد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2365'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2364})' name='2364'>  <img width='290' height='170' src='http://www.irannaz.com/images/2013/12/3/Ever-seen-pictures-of-it-were-funny-8.jpg' alt='تا به حال عکس هایی به این خنده داری دیده بودید؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2364})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2364})'>تا به حال عکس هایی به این خنده داری دیده بودید؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2364'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2353})' name='2353'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1893301_635.jpg' alt='لحظه به لحظه با مراسم توپ طلا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2353})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2353})'>لحظه به لحظه با مراسم توپ طلا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2353'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2351})' name='2351'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1893178_968.jpg' alt='وعده علیزاده و بعیدی‌نژاد: ایران اینترنشنال تعطیل می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2351})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2351})'>وعده علیزاده و بعیدی‌نژاد: ایران اینترنشنال تعطیل می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2351'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2350})' name='2350'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1893172_159.jpg' alt='بسکتبال ایران به جام‌جهانی راه یافت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2350})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2350})'>بسکتبال ایران به جام‌جهانی راه یافت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2350'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2349})' name='2349'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892950_313.jpg' alt='مراسم تشییع پیکر ابوالفضل زرویی نصر آباد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2349})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2349})'>مراسم تشییع پیکر ابوالفضل زرویی نصر آباد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2349'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2348})' name='2348'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892764_933.jpg' alt='باور نکردنی؛ پیشنهاد اسپانیایی برای کنعانی زادگان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2348})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2348})'>باور نکردنی؛ پیشنهاد اسپانیایی برای کنعانی زادگان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2348'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2347})' name='2347'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892692_362.jpg' alt='فرهادی: زیرنویس فیلمم را خودمان منتشر کردیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2347})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2347})'>فرهادی: زیرنویس فیلمم را خودمان منتشر کردیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2347'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2346})' name='2346'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892580_910.jpg' alt='قطر از اوپک خارج می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2346})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2346})'>قطر از اوپک خارج می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2346'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2345})' name='2345'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892901_496.jpg' alt='متهم تجاوز به دانش آموزان اصفهانی دستگیر شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2345})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2345})'>متهم تجاوز به دانش آموزان اصفهانی دستگیر شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2345'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2344})' name='2344'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892686_278.jpg' alt='لاریجانی: حقوق‌ها پلکانی افزایش می‌یابد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2344})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2344})'>لاریجانی: حقوق‌ها پلکانی افزایش می‌یابد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2344'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2343})' name='2343'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891740_329.jpg' alt='سیدجلال: نرفتن به جام جهانی سخت بود، با استقلال قرارداد نبسته بودم، از کی روش ممنونم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2343})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2343})'>سیدجلال: نرفتن به جام جهانی سخت بود، با استقلال قرارداد نبسته بودم، از کی روش ممنونم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2343'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2342})' name='2342'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/41/34/880x495_cmsv2_eba56a7f-8a83-54d3-a6ac-2175ecde8d56-3474134.jpg' alt='بررسی استیضاح ظریف در گفتگو با ابوالفضل حسن‌بیگی و هرمیداس باوند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2342})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2342})'>بررسی استیضاح ظریف در گفتگو با ابوالفضل حسن‌بیگی و هرمیداس باوند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2342'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2341})' name='2341'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/41/28/880x495_cmsv2_378f5889-08f8-5798-95eb-eb55146d9f52-3474128.jpg' alt='تظاهرات جلیقه‌زردها در شانزه‌لیزه: بیش از یکصد تن بازداشت شدند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2341})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2341})'>تظاهرات جلیقه‌زردها در شانزه‌لیزه: بیش از یکصد تن بازداشت شدند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2341'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2340})' name='2340'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/41/22/880x495_cmsv2_7dfb0c31-3396-5b09-af04-5b9bec53b24d-3474122.jpg' alt='هنگامه شهیدی به ۱۲ سال زندان محکوم شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2340})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2340})'>هنگامه شهیدی به ۱۲ سال زندان محکوم شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2340'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2339})' name='2339'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/37/06/880x495_cmsv2_de91c5c5-c1b5-560a-8822-e2baa9a7dc1c-3473706.jpg' alt='تظاهرات معترضان به جهانی‌سازی در آرژانتین'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2339})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2339})'>تظاهرات معترضان به جهانی‌سازی در آرژانتین</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2339'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2338})' name='2338'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/40/60/880x495_cmsv2_2c266ee7-8134-5c64-a1a7-052dfcadfa43-3474060.jpg' alt='جرج بوش پدر، نامی حک شده در تاریخ آمریکا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2338})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2338})'>جرج بوش پدر، نامی حک شده در تاریخ آمریکا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2338'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class=' col-md-4 col-lg-4  hentry  format-standard  category-bizarre '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-cover'><div id="15439264816967715"><script type="text/JavaScript" src="https://www.aparat.com/embed/oY9uU?data[rnddiv]=15439264816967715&data[responsive]=yes"></script></div><div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '>  عجیب و غریب </a></div></div><div class='entry-content'><h3 class='entry-title'> <a href='@Url.Action("Post","bizarre", new {postID = 2181})'>آشنایی با رنگ و ویژگی های آن</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta' style='width:auto'><li><i class='fa fa-user'></i><a href='Admin/ارسلان دانشور' title="ایجاد" شده="" توسط'ارسلان="" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'></i><a href='Comment/' 0=""> 0  </a></li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i>4</a></li></ul></div></div></div></div>
    </div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">دیگر رويدادها</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">سوال</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content"><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","sexy", new {postID = 2698})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2698})'> واکنش کانادا به اظهارات روحانی درباره اسرائیل</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/04  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","cute", new {postID = 2692})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/21/1872940_219.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2692})'> تام کروز چه خودرو‌ها و موتورسیکلت‌هایی سوار می‌شود؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/03  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","quiz", new {postID = 2688})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 2688})'> جنگ تجاری چین و آمریکا؛ چشم امید به بوینوس آیرس دوخته شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/02  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","films", new {postID = 2678})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2678})'> افتتاح سرزمین عجایب در باغ وحش لس‌آنجلس در آستانه کریسمس</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/03  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","films", new {postID = 2675})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2675})'> آنگلا مرکل به دلیل نقص فنی هواپیما به افتتاحیه گروه بیست نمی‌رسد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/01  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","bizarre", new {postID = 2658})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2658})'> طراحی فیگور با زغال</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/03  15:7</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row bloglist-content"><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> طراحی فیگور با زغال</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2183})'> آتش زیر خاکسترِ استقلال با نفت شعله‌ور شد</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2184})'> دلار پایین آمد، اما چرا قیمت‌ها بالا مانده‌اند؟</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2185})'> مغز آجیل بخورید تا لاغر بمانید</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><h3 class='title'><a href='@Url.Action("Post","places", new {postID = 2186})'> روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</a></h3><a href='@Url.Action("Index","places")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2187})'> واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889644_952.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2188})'> آرش ظلی پور توبیخ شد</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889692_183.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2189})'> پرچم ژاپن در دستان هواداران سپاهان!</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889781_519.png); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2190})'> برخورد وحشیانه دندانپزشک با یک کودک در مطب</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2191})'> شیلا خداداد:فرزندانم را دوباره در وطن به دنیا میارم!</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default"><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='' alt=''></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> </a></h4><div class='blogitem-excerpt'>مطالعه درباره رنگ (Color) ، ملاحظاتی را درباره فیزیک، فیزیولوژی و روانشناسی پیش می آورد. علم فیزیک، توزیع انرژی طیفی نوری را که از یک سطح صادر و یا به وسیله آن منعکس می شود، بررسی می کند (شاخه خاصی از</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>4</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","bizarre", new {postID = 2181})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> </a></h4><div class='blogitem-excerpt'>طراحی فیگور با زغال چالش برانگیز، جذاب و بسیار کاربردی است. به طور کل فیگور انسان علی رغم پیچیدگی های خاص خود، موضوعی همیشگی برای طراحان و نقاشان در سراسر دنیاست. هنگام استفاده از زغال طراحی، هنرمند ا</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 2182})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2183})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2183})'> </a></h4><div class='blogitem-excerpt'>خبرگزاری تسنیم: دیدار تیم‌های استقلال و صنعت نفت آبادان در چارچوب دیدارهای هفته چهاردهم لیگ برتر فوتبال از ساعت 17:30 امروز (پنجشنبه) در ورزشگاه آزادی آغاز شد که برتری 3 بر صفر استقلال را به دنبال داش</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2183})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","entertainment", new {postID = 2184})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2184})'> </a></h4><div class='blogitem-excerpt'>عصر ایران: نظارت و انصاف دو حلقه گمشده اقتصاد امروز ایران است. اگر این دو اصل رعایت می‌شد شاید دلار نمی‌توانست این قدر جولان بدهد و هر کاری که دلش می‌خواهد با اقتصاد ایران بکند.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","entertainment", new {postID = 2184})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","films", new {postID = 2185})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","films", new {postID = 2185})'> </a></h4><div class='blogitem-excerpt'>مهر: یافته ها نشان می دهد افرادی که مغزیجات آجیلی می خورند نه تنها اضافه وزن کمتری دارند بلکه از شانس 5 درصدی کاهش ریسک چاقی و اضافه وزن هم برخوردارند.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","films", new {postID = 2185})' class='readmore'><span>بیشتر بخوانيد</span></a></div></div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides sp-slider-image"><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> <img width='640' height='426' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2181})'>آشنایی با رنگ و ویژگی های آن</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2181})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 2186})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 2186})'>روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</a></h4><a href='@Url.Action("Post","places", new {postID = 2186})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2187})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2187})'>واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</a></h4><a href='@Url.Action("Post","cute", new {postID = 2187})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","films", new {postID = 2188})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889644_952.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","films", new {postID = 2188})'>آرش ظلی پور توبیخ شد</a></h4><a href='@Url.Action("Post","films", new {postID = 2188})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 2189})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889692_183.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 2189})'>پرچم ژاپن در دستان هواداران سپاهان!</a></h4><a href='@Url.Action("Post","sexy", new {postID = 2189})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2190})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889781_519.png' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2190})'>برخورد وحشیانه دندانپزشک با یک کودک در مطب</a></h4><a href='@Url.Action("Post","cute", new {postID = 2190})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image"><img class='sp-thumbnail' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889644_952.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889692_183.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889781_519.png' width='70' height='70' alt=''></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>