<div class="vc_row wpb_row vc_row-fluid">
    @*<div class="imgwrapper">

        @using (Html.BeginForm("SaveImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
        {

            @Html.Upload("UploadFile")
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="بارگذاري تصوير" id="btnUploadFile">
            <input id="viewbaginput" type="hidden" value="@ViewBag.RetUploadFile">
        }
    </div>*@
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides sp-slider-image-top"><div class='sp-slide'><a href='@Url.Action("Post","entertainment", new {postID = 8})'> <img width='640' height='315' src='' class='sp-image ' alt='کیا بهتر است یا هیوندای؟'></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","entertainment", new {postID = 8})'> کیا بهتر است یا هیوندای؟</a></h4><a href='@Url.Action("Post","entertainment", new {postID = 8})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","entertainment", new {postID = 9})'> <img width='640' height='315' src='' class='sp-image ' alt='کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟'></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","entertainment", new {postID = 9})'> کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟</a></h4><a href='@Url.Action("Post","entertainment", new {postID = 9})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 10})'> <img width='640' height='315' src='' class='sp-image ' alt='قابل‌اعتمادترین خودروسازان سال ۲۰۱۸'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 10})'> قابل‌اعتمادترین خودروسازان سال ۲۰۱۸</a></h4><a href='@Url.Action("Post","places", new {postID = 10})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","quiz", new {postID = 11})'> <img width='640' height='315' src='' class='sp-image ' alt='گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!'></a><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","quiz", new {postID = 11})'> گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!</a></h4><a href='@Url.Action("Post","quiz", new {postID = 11})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 12})'> <img width='640' height='315' src='' class='sp-image ' alt='چگونه در فصل سرما پزشک خودروی خود باشیم'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 12})'> چگونه در فصل سرما پزشک خودروی خود باشیم</a></h4><a href='@Url.Action("Post","sexy", new {postID = 12})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image-top"><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>کیا بهتر است یا هیوندای؟</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='' class='sp-thumbnail-image ' alt='کیا بهتر است یا هیوندای؟' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='' class='sp-thumbnail-image ' alt='کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>قابل‌اعتمادترین خودروسازان سال ۲۰۱۸</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='' class='sp-thumbnail-image ' alt='قابل‌اعتمادترین خودروسازان سال ۲۰۱۸' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='' class='sp-thumbnail-image ' alt='گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>چگونه در فصل سرما پزشک خودروی خود باشیم</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='' class='sp-thumbnail-image ' alt='چگونه در فصل سرما پزشک خودروی خود باشیم' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div></div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid"><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 1})' name='1'>  <img width='290' height='170' src='' alt='کلکسیون خودرو‌های لوکس «لیدی گاگا»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 1})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 1})'>کلکسیون خودرو‌های لوکس «لیدی گاگا»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 1</i><a href='Comment/1'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 19</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2})' name='2'>  <img width='290' height='170' src='' alt='٧ میلیاردر برتر جهان چه خودرو‌هایی سوار می‌شوند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2})'>٧ میلیاردر برتر جهان چه خودرو‌هایی سوار می‌شوند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 3</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 3})' name='3'>  <img width='290' height='170' src='' alt='نیسان بهتر است یا تویوتا؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 3})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 3})'>نیسان بهتر است یا تویوتا؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/3'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 4</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 4})' name='4'>  <img width='290' height='170' src='' alt='عجیب‌ترین قوانین رانندگی در کشور‌های مختلف'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 4})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 4})'>عجیب‌ترین قوانین رانندگی در کشور‌های مختلف</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 5})' name='5'>  <img width='290' height='170' src='' alt='رولزرویس فانتوم جدید با تیون خارق‌العاده منصوری'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 5})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 5})'>رولزرویس فانتوم جدید با تیون خارق‌العاده منصوری</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/5'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 3</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 6})' name='6'>  <img width='290' height='170' src='' alt='کدام خودروی چینی بهتر است؟ جک J۴ یا فاو بسترن B۳۰؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 6})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 6})'>کدام خودروی چینی بهتر است؟ جک J۴ یا فاو بسترن B۳۰؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/6'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 7})' name='7'>  <img width='290' height='170' src='' alt='آیا راندن خودرو با چراغ ABS روشن ایمن است؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 7})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 7})'>آیا راندن خودرو با چراغ ABS روشن ایمن است؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/7'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 8})' name='8'>  <img width='290' height='170' src='' alt='کیا بهتر است یا هیوندای؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 8})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 8})'>کیا بهتر است یا هیوندای؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/8'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 3</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 9})' name='9'>  <img width='290' height='170' src='' alt='کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 9})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 9})'>کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/9'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 19</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 10})' name='10'>  <img width='290' height='170' src='' alt='قابل‌اعتمادترین خودروسازان سال ۲۰۱۸'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 10})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 10})'>قابل‌اعتمادترین خودروسازان سال ۲۰۱۸</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/10'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 11})' name='11'>  <img width='290' height='170' src='' alt='گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 11})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 11})'>گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/11'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 12})' name='12'>  <img width='290' height='170' src='' alt='چگونه در فصل سرما پزشک خودروی خود باشیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 12})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 12})'>چگونه در فصل سرما پزشک خودروی خود باشیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/12'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 3</a></li></ul></div></div>

        </div>
    </div></article><article class=' col-md-6 col-lg-6  hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 16})' name='16'>  <img width='290' height='170' src='' alt=''>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 16})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 16})'></a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/16'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">آخرين رويدادها</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">سوال</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content"><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","sexy", new {postID = 1})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 1})'> کلکسیون خودرو‌های لوکس «لیدی گاگا»</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","cute", new {postID = 2})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2})'> ٧ میلیاردر برتر جهان چه خودرو‌هایی سوار می‌شوند؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","bizarre", new {postID = 3})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 3})'> نیسان بهتر است یا تویوتا؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","bizarre", new {postID = 4})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 4})'> عجیب‌ترین قوانین رانندگی در کشور‌های مختلف</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","bizarre", new {postID = 5})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 5})'> رولزرویس فانتوم جدید با تیون خارق‌العاده منصوری</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","quiz", new {postID = 6})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 6})'> کدام خودروی چینی بهتر است؟ جک J۴ یا فاو بسترن B۳۰؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","bizarre", new {postID = 7})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 7})'> آیا راندن خودرو با چراغ ABS روشن ایمن است؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","entertainment", new {postID = 8})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 8})'> کیا بهتر است یا هیوندای؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","entertainment", new {postID = 9})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 9})'> کدام دست دوم را بخریم؟ سیتروئن زانتیا یا هیوندای آوانته؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","places", new {postID = 10})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","places", new {postID = 10})'> قابل‌اعتمادترین خودروسازان سال ۲۰۱۸</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","quiz", new {postID = 11})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 11})'> گران ترین تخم مرغ دنیا، رولزرویس را زیبا می کند!</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","sexy", new {postID = 12})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 12})'> چگونه در فصل سرما پزشک خودروی خود باشیم</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","quiz", new {postID = 16})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 16})'> </a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i></span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row bloglist-content"><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2})'> ٧ میلیاردر برتر جهان چه خودرو‌هایی سوار می‌شوند؟</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><h3 class='title'><a href='@Url.Action("Post","bizarre", new {postID = 3})'> نیسان بهتر است یا تویوتا؟</a></h3><a href='@Url.Action("Index","bizarre")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><h3 class='title'><a href='@Url.Action("Post","bizarre", new {postID = 4})'> عجیب‌ترین قوانین رانندگی در کشور‌های مختلف</a></h3><a href='@Url.Action("Index","bizarre")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><h3 class='title'><a href='@Url.Action("Post","bizarre", new {postID = 5})'> رولزرویس فانتوم جدید با تیون خارق‌العاده منصوری</a></h3><a href='@Url.Action("Index","bizarre")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><h3 class='title'><a href='@Url.Action("Post","quiz", new {postID = 6})'> کدام خودروی چینی بهتر است؟ جک J۴ یا فاو بسترن B۳۰؟</a></h3><a href='@Url.Action("Index","quiz")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><h3 class='title'><a href='@Url.Action("Post","bizarre", new {postID = 7})'> آیا راندن خودرو با چراغ ABS روشن ایمن است؟</a></h3><a href='@Url.Action("Index","bizarre")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 8})'> کیا بهتر است یا هیوندای؟</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default"><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 1})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 1})'> 9. رولزرویس فانتوم سفید</a></h4><div class='blogitem-excerpt'>برترین ها - ترجمه از محمد کاملان: سلبریتی را سراغ نداریم که علاقه‌ای به خودنمایی و سوار شدن بر خودروهای خاص و گران‌قیمت نداشته باشد و از آنجایی که عشق خودرو مرد و زن نمی‌شناسد در کنار سلبریتی‌های مرد،</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 1</span><span class='blogitem-view'><i class='fa fa-eye'></i>19</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 1})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2})'> </a></h4><div class='blogitem-excerpt'>وبسایت شهروند: اغلب اوقات، شما ثروت میلیاردرها را می‌توانید از رفت‌وآمدهای لاکچریشان حدس بزنید. گاهی اوقات می‌شود از ظواهر آنها و خودروهایشان که بخش جدایی‌ناپذیری از زندگی آنهاست، سطح موفقیتشان را درک</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>3</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","bizarre", new {postID = 3})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 3})'> </a></h4><div class='blogitem-excerpt'>برترین ها - ترجمه از محمد کاملان: صنعت خودرسازی ژاپن قدمت زیادی دارد و برندهای ژاپنی با تکیه بر تجربه و دانش خود توانسته‌اند مرزهای جهانی را پشت‌سر بگذارند و در مقابل برند‌های خودروساز اروپایی و آمریک</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>4</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا</span></div></div></div></article><a href='@Url.Action("Post","bizarre", new {postID = 3})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","bizarre", new {postID = 4})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 4})'> </a></h4><div class='blogitem-excerpt'>وبسایت چرخان: بدون شک، خودروهای مدرن امروزی، شالوده‌ای از علم پیچیده مهندسی و طراحی، در کنار یکدیگر بوده که تبدیل به یک وسیله نقلیه‌ای می‌شود تا صنعت مدرن خودروسازی را تشکیل دهد؛ اما دراین‌بین، قوانین</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>2</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا</span></div></div></div></article><a href='@Url.Action("Post","bizarre", new {postID = 4})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","bizarre", new {postID = 5})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 5})'> </a></h4><div class='blogitem-excerpt'>وب‌سایت پدال - شاهین احمدزاده: جای کار زیادی در تیون خودرویی که حرف اول را در کلاس خود می‌زند و جزو لوکس‌ترین محصولات کل دنیاست وجود ندارد.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>3</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا</span></div></div></div></article><a href='@Url.Action("Post","bizarre", new {postID = 5})' class='readmore'><span>بیشتر بخوانيد</span></a></div></div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides sp-slider-image"><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 1})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 1})'>کلکسیون خودرو‌های لوکس «لیدی گاگا»</a></h4><a href='@Url.Action("Post","sexy", new {postID = 1})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2})'>٧ میلیاردر برتر جهان چه خودرو‌هایی سوار می‌شوند؟</a></h4><a href='@Url.Action("Post","cute", new {postID = 2})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 3})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 3})'>نیسان بهتر است یا تویوتا؟</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 3})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 4})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 4})'>عجیب‌ترین قوانین رانندگی در کشور‌های مختلف</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 4})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 5})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 5})'>رولزرویس فانتوم جدید با تیون خارق‌العاده منصوری</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 5})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","quiz", new {postID = 6})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","quiz", new {postID = 6})'>کدام خودروی چینی بهتر است؟ جک J۴ یا فاو بسترن B۳۰؟</a></h4><a href='@Url.Action("Post","quiz", new {postID = 6})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 7})'> <img width='640' height='426' src='' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 7})'>آیا راندن خودرو با چراغ ABS روشن ایمن است؟</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 7})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image"><img class='sp-thumbnail' src='' width='70' height='70' alt=''><img class='sp-thumbnail' src='' width='70' height='70' alt=''><img class='sp-thumbnail' src='' width='70' height='70' alt=''><img class='sp-thumbnail' src='' width='70' height='70' alt=''><img class='sp-thumbnail' src='' width='70' height='70' alt=''><img class='sp-thumbnail' src='' width='70' height='70' alt=''><img class='sp-thumbnail' src='' width='70' height='70' alt=''></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>