<div class="vc_row wpb_row vc_row-fluid">
    @*<div class="imgwrapper">

            @using (Html.BeginForm("SaveImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
            {

                @Html.Upload("UploadFile")
                <br>
                <input type="submit" class="btn btn-primary btn-lg" value="بارگذاري تصوير" id="btnUploadFile">
                <input id="viewbaginput" type="hidden" value="@ViewBag.RetUploadFile">
            }
        </div>*@
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides sp-slider-image-top"><div class='sp-slide'><a href='@Url.Action("Post","entertainment", new {postID = 2715})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1906629_673.jpg' class='sp-image ' alt='رائفی‌پور: خاتمی باید خفه شود'></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","entertainment", new {postID = 2715})'> رائفی‌پور: خاتمی باید خفه شود</a></h4><a href='@Url.Action("Post","entertainment", new {postID = 2715})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2685})'> <img width='640' height='315' src='https://www.karnaval.ir/uploads/2018/11/3G6msKF7WfPEpJOZ-1542388117941.jpg' class='sp-image ' alt='بانجی جامپینگ چیست؟ | اصول و نکات ایمنی'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2685})'> بانجی جامپینگ چیست؟ | اصول و نکات ایمنی</a></h4><a href='@Url.Action("Post","cute", new {postID = 2685})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","quiz", new {postID = 2604})'> <img width='640' height='315' src='http://www.irannaz.com/images/2017/11/151058751991859-irannaz-com-297x200.jpg' class='sp-image ' alt='خودارضایی یا جلق بیش از اندازه و عوارض آن'></a><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","quiz", new {postID = 2604})'> خودارضایی یا جلق بیش از اندازه و عوارض آن</a></h4><a href='@Url.Action("Post","quiz", new {postID = 2604})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2697})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898756_680.jpg' class='sp-image ' alt='همسر زیبا بروفه درگذشت'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2697})'> همسر زیبا بروفه درگذشت</a></h4><a href='@Url.Action("Post","cute", new {postID = 2697})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image-top"><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>رائفی‌پور: خاتمی باید خفه شود</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1906629_673.jpg' class='sp-thumbnail-image ' alt='رائفی‌پور: خاتمی باید خفه شود' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>بانجی جامپینگ چیست؟ | اصول و نکات ایمنی</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://www.karnaval.ir/uploads/2018/11/3G6msKF7WfPEpJOZ-1542388117941.jpg' class='sp-thumbnail-image ' alt='بانجی جامپینگ چیست؟ | اصول و نکات ایمنی' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>خودارضایی یا جلق بیش از اندازه و عوارض آن</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://www.irannaz.com/images/2017/11/151058751991859-irannaz-com-297x200.jpg' class='sp-thumbnail-image ' alt='خودارضایی یا جلق بیش از اندازه و عوارض آن' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>همسر زیبا بروفه درگذشت</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898756_680.jpg' class='sp-thumbnail-image ' alt='همسر زیبا بروفه درگذشت' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div></div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid"><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2768})' name='2768'>  <img width='290' height='170' src='https://itiran.com/wp-content/uploads/2018/12/Screen-Shot-2018-12-18-at-9.57.54-PM-727x405.png' alt='تغییر مدل نمایش تایملاین توییتر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2768})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2768})'>تغییر مدل نمایش تایملاین توییتر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2768'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2761})' name='2761'>  <img width='290' height='170' src='https://www.tarafdari.com/sites/default/files/contents/user130292/news/romelu-lukaku-cropped_3wghfd3gv6361r14496wgakus.jpg' alt='روبرتو مارتینز: دیدی منفی در مورد لوکاکو وجود دارد؛ او در بلژیک نشان داد که یکی از بهترین شماره نه‌های دنیا است'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2761})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2761})'>روبرتو مارتینز: دیدی منفی در مورد لوکاکو وجود دارد؛ او در بلژیک نشان داد که یکی از بهترین شماره نه‌های دنیا است</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2761'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2743})' name='2743'>  <img width='290' height='170' src='https://www.karnaval.ir/uploads/2018/12/8j716DtRghAYscrk-1545484162335.jpg' alt='پیش‌بینی ثبت افزایش شدید گرما در سال ۲۰۱۹'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2743})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2743})'>پیش‌بینی ثبت افزایش شدید گرما در سال ۲۰۱۹</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2743'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2736})' name='2736'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/87/40/880x495_cmsv2_3c9d3f13-1164-5924-a841-995826cf4076-3518740.jpg' alt='مافیای تبهکاران در آلمان؛ استخدام پناهجویان برای جرایم سازمان یافته'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2736})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2736})'>مافیای تبهکاران در آلمان؛ استخدام پناهجویان برای جرایم سازمان یافته</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2736'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2705})' name='2705'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/portrait-drawing-steps-11.jpg' alt='کتاب طراحی چهره عبدالله علیخانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2705})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2705})'>کتاب طراحی چهره عبدالله علیخانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2705'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2650})' name='2650'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/03/148940922767516-irannaz-com.jpg' alt='علت قتل قهرمان پرورش اندام ایران توسط پدرزنش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2650})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2650})'>علت قتل قهرمان پرورش اندام ایران توسط پدرزنش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2650'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2603})' name='2603'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg' alt='چرا در باران لیز میخوریم؟ پدیده آب سواری چیست؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2603})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2603})'>چرا در باران لیز میخوریم؟ پدیده آب سواری چیست؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2603'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-link  category-films '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><div class='bg-overlay' style='background-color:#cf3d2e'></div><h3>پلنگ ایرانی در حال انقراض رؤیت شد</h3> <a href='http://www.bartarinha.ir/fa/news/811362/%D9%BE%D9%84%D9%86%DA%AF-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%DB%8C-%D8%AF%D8%B1-%D8%AD%D8%A7%D9%84-%D8%A7%D9%86%D9%82%D8%B1%D8%A7%D8%B6-%D8%B1%D8%A4%DB%8C%D8%AA-%D8%B4%D8%AF' target='_blank'> <i class='fa fa-link'></i> لینک خبر</a></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2767})' name='2767'>  <img width='290' height='170' src='https://itiran.com/wp-content/uploads/2018/12/Screen-Shot-2018-12-20-at-1.30.23-PM-780x405.png' alt='مصاحبه صریح با مدیران دیجی‌کالا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2767})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2767})'>مصاحبه صریح با مدیران دیجی‌کالا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2767'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2760})' name='2760'>  <img width='290' height='170' src='https://www.tarafdari.com/sites/default/files/contents/user35197/news/kalidou-koulibaly-napoli-2018-19_rgpt8dla78z310a4l48k1s6d3.jpg' alt='کولیبالی در آستانه تمدید قرارداد با ناپولی؛ وی به پردرآمدترین مدافع سری آ تبدیل می شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2760})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2760})'>کولیبالی در آستانه تمدید قرارداد با ناپولی؛ وی به پردرآمدترین مدافع سری آ تبدیل می شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2760'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-status  category-quiz '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><h3 class='status lead'>• دنيا به هر گونه‌اي كه بخواهيم به آن بنگريم، براي ديدن ما آفريده مي‌شود. "كافمن"</h3></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2735})' name='2735'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/04/46/880x495_cmsv2_1b02c5e0-035e-548b-ae9f-036d3f96c2bb-3520446.jpg' alt='دو دانش آموز دختر در زاهدان سوختند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2735})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2735})'>دو دانش آموز دختر در زاهدان سوختند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2735'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2685})' name='2685'>  <img width='290' height='170' src='https://www.karnaval.ir/uploads/2018/11/3G6msKF7WfPEpJOZ-1542388117941.jpg' alt='بانجی جامپینگ چیست؟ | اصول و نکات ایمنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2685})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2685})'>بانجی جامپینگ چیست؟ | اصول و نکات ایمنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2685'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2649})' name='2649'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149328730294898-irannaz-com.jpg' alt='ازدواج بازیکن استقلال با خواهر زن خسرو حیدری (تصاویر)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2649})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2649})'>ازدواج بازیکن استقلال با خواهر زن خسرو حیدری (تصاویر)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2649'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2619})' name='2619'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' alt='بعد از ظهر یکشنبه در جزیره گراند ژات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2619})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2619})'>بعد از ظهر یکشنبه در جزیره گراند ژات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2619'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2602})' name='2602'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2602})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2602})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2602'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2766})' name='2766'>  <img width='290' height='170' src='https://itiran.com/wp-content/uploads/2018/12/Lovot-01-16x9-1024x577.jpg' alt='ربات Lovot به انسان‌ها عشق می‌ورزد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2766})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2766})'>ربات Lovot به انسان‌ها عشق می‌ورزد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2766'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2757})' name='2757'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/3/1912353_329.jpg' alt='اهانت پدر داماد احمدی نژاد به آیت الله هاشمی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2757})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2757})'>اهانت پدر داماد احمدی نژاد به آیت الله هاشمی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2757'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2734})' name='2734'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/03/36/880x495_cmsv2_b7454b40-08b8-5a77-bca0-420a9cb4f0ed-3520336.jpg' alt='دورترین سیاره از خورشید در منظومه شمسی کشف شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2734})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2734})'>دورترین سیاره از خورشید در منظومه شمسی کشف شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2734'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2625})' name='2625'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/05/149388175130057-irannaz-com.jpg' alt='علت واقعی طلاق برد پیت و آنجلینا جولی از زبان برد پیت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2625})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2625})'>علت واقعی طلاق برد پیت و آنجلینا جولی از زبان برد پیت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2625'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2601})' name='2601'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' alt='اولین موتورسیکلت الکتریکی هارلی دیویدسون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2601})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2601})'>اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2601'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2765})' name='2765'>  <img width='290' height='170' src='https://itiran.com/wp-content/uploads/2018/11/ynst_0-738x405.png' alt='دستور به اپراتورها برای فروش بسته اینترنت بدون اینستاگرام'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2765})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2765})'>دستور به اپراتورها برای فروش بسته اینترنت بدون اینستاگرام</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2765'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2756})' name='2756'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/2/1911312_264.jpg' alt='شاکی شدن کاربران از اختلال در فیلترشکن‌ها'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2756})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2756})'>شاکی شدن کاربران از اختلال در فیلترشکن‌ها</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2756'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2739})' name='2739'>  <img width='290' height='170' src='http://gadgetnews.net/wp-content/uploads/2018/12/2hnl1kjitzc6mxa316h-620x447.jpg' alt='ماجرای فروش بسته های اینترنت بدون اینستاگرام چیست؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2739})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2739})'>ماجرای فروش بسته های اینترنت بدون اینستاگرام چیست؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2739'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2733})' name='2733'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/04/80/880x495_cmsv2_338615f4-d3f3-546a-8e0e-eef5159c3a2d-3520480.jpg' alt='انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2733})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2733})'>انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2733'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2604})' name='2604'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151058751991859-irannaz-com-297x200.jpg' alt='خودارضایی یا جلق بیش از اندازه و عوارض آن'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2604})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2604})'>خودارضایی یا جلق بیش از اندازه و عوارض آن</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2604'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2764})' name='2764'>  <img width='290' height='170' src='https://itiran.com/wp-content/uploads/2018/12/360-finance-e1545122190155-780x405.jpg' alt='عرضه سهام شرکت چینی 360 Finance در بورس آمریکا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2764})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2764})'>عرضه سهام شرکت چینی 360 Finance در بورس آمریکا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2764'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2755})' name='2755'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/1/1910716_447.jpg' alt='تجمع دلواپسان علیه نماینده سراوان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2755})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2755})'>تجمع دلواپسان علیه نماینده سراوان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2755'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2738})' name='2738'>  <img width='290' height='170' src='http://gadgetnews.net/wp-content/uploads/2018/12/chinas_bank_of_kunlun.-1-620x337.jpg' alt='بانک کنلن چین صنعت خودرو ایران را تحریم کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2738})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2738})'>بانک کنلن چین صنعت خودرو ایران را تحریم کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2738'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2732})' name='2732'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/03/66/880x495_cmsv2_e3e1c73a-2166-54b4-918e-95817f686a65-3520366.jpg' alt='تلاش برای نجات یک کشتی روسی در سواحل بریتانیا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2732})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2732})'>تلاش برای نجات یک کشتی روسی در سواحل بریتانیا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2732'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">رویدادهای دیگر</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">سوال</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content"><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("VideoPost","places", new {postID = 2534})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("VideoPost","places", new {postID = 2534})'> در آن سوي دنيا چه خبر است</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/21  15:12</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2533})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/07/153262820941216-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2533})'> جنجال تیپ لاکچری خانم مدلینگ عروس سفیر ایران</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2508})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899783_152.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2508})'> دعوای فراستی و ظلی‌پور جعلی بود</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","quiz", new {postID = 2532})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/06/152895483451750-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 2532})'> خواستگاری دختر روس از بازیکن تیم ملی در جام جهانی (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","entertainment", new {postID = 2507})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899763_326.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2507})'> عاقبت، ادعای مهناز افشار تایید شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","places", new {postID = 2531})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/02/148809846628564-irannaz-com.png' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","places", new {postID = 2531})'> کار وحشتناکی که این دختر برای زیباتر شدن کرد (تصاویر 18+)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2506})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899732_899.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2506})'> حرف پشت حرف؛ پرسپولیس و سپاهان علیه هم</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","entertainment", new {postID = 2530})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/04/149207659159509-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2530})'> خودکشی پسر 11 ساله بخاطر شوخی دوست دخترش (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","quiz", new {postID = 2505})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899570_897.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 2505})'> وزارت خارجه: ایرانی‌ها فعلا به گرجستان سفر نکنند</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","places", new {postID = 2529})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/04/152447839611379-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","places", new {postID = 2529})'> زن زیبا آلت تناسلی شوهرش را با چاقو برید (عگس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2504})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899297_205.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2504})'> برخورد با پرداخت سود سپرده بالای ۲۰ درصد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2528})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/05/15267546176816-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2528})'> لیلا اوتادی ازدواج کرد (عکس لیلا اوتادی با لباس عروس )</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","cute", new {postID = 2503})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2503})'> فرانسه؛ غارتگران فروشگاه اپل را خالی کردند</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2527})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/04/149224401629022-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2527})'> آخرین پست کنایه دار عارف لرستانی در اینستاگرامش (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2502})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899153_563.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2502})'> احمدرضا دالوند درگذشت</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","cute", new {postID = 2526})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/04/152455100095065-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2526})'> اولین عکس سلفی با جسد مومیایی رضا شاه (جزئیات و بیوگرافی رضاخان)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","cute", new {postID = 2501})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1898923_914.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2501})'> ریورپلاته قهرمان کوپا لیبرتادورس شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2525})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/06/152850908880609-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2525})'> تصادف شدید مجری و استند آپ کمدین خندوانه (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2500})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2500})'> پرسپولیس نباخت، سپاهان در صدر ماند</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2524})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/11/151106002126024-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2524})'> تصاویر آزار جنسی دروازه بان زن معروف توسط بلاتر</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2499})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898506_183.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2499})'> رئیسی: خدا رحم کرد، رئیس جمهور نشدم</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2523})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/03/148949376315633-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2523})'> با این صبحانه ماهی 7 کیلو وزن کم کنید</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","entertainment", new {postID = 2498})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898331_404.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2498})'> رسمی؛ قیمت لبنیات کاهش یافت</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2522})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/06/152942403972147-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2522})'> لخت کردن زن آرایشگر در خیابان بخاطر رابطه با مرد متاهل (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2497})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898781_224.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2497})'> اشتباه بزرگ هفته؛ پنالتی نبود آقای داوری!</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2521})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/07/153245548027155-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2521})'> عروسی لاکچری پسر سفیر ایران ( تصاویر )</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2496})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2496})'> قلعه‌نویی حرف‌های برانکو را تلافی کرد!</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2520})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/02/151971509090256-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2520})'> خواستگاری امیر تتلو از بازیگر زن خارجی (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2495})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1898921_297.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2495})'> تذکر احمدی نژاد به مکرون: به حرف مردم گوش کن</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2519})'> <img width='70' height='70' src='http://www.irannaz.com/images/2015/05/funny-photo-of-driving-the-strange-symptoms.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2519})'> عکس های خنده دار از علائم عجیب رانندگی در دنیا</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2494})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899184_751.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2494})'> روحانی: چه اشکالی دارد بنزین را دو نرخی کنیم؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2493})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898122_419.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2493})'> حاشیه تازه برای سید احمد خمینی</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2492})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1897993_973.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2492})'> انتقال آب از دریای خزر به سمنان از سر گرفته شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row bloglist-content"><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/4/1885251_657.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2598})'> زیباکلام: روحانی به عربستان توهین کرد</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2597})'> پمپئو: صحبت‌های روحانی تنش زا است</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2596})'> آغاز ثبت‌ نام آزمون دکترای ۹۸</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886730_784.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2595})'> برانکو و پرسپولیس «کی‌روش ممنوع» شدند</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><h3 class='title'><a href='@Url.Action("Post","quiz", new {postID = 2594})'> ماکان‌بند؛ همین‌قدر بی‌سواد و تاسف برانگیز</a></h3><a href='@Url.Action("Index","quiz")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><h3 class='title'><a href='@Url.Action("Post","places", new {postID = 2593})'> سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3><a href='@Url.Action("Index","places")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2592})'> برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2591})'> متن طرح استیضاح ظریف با عنوان پولشویی</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887157_489.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2590})'> قتل امام جمعه اهل سنت در گلستان</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2589})'> طرح استیضاح لاریجانی کلید خورد</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2588})'> دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2587})'> بهروز افخمی از اجرای هفت کناره‌گیری کرد</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default"><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2590})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887157_489.jpg' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2590})'> </a></h4><div class='blogitem-excerpt'>خبرگزاری فارس: صبح امروز امام جمعه اهل سنت روستای «رضاآباد» شهرستان رامیان به قتل رسید.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/10/02  15:33</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2590})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2589})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2589})'> </a></h4><div class='blogitem-excerpt'>خبرگزاری فارس: حسینعلی حاجی دلیگانی نماینده مردم شاهین شهر در مجلس شورای اسلامی از درخواست تعدادی از نمایندگان مجلس در مورد استیضاح علی لاریجانی مجلس شورای اسلامی خبر داد.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/10/02  15:33</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2589})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","entertainment", new {postID = 2588})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg' class='' alt=''></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2588})'> </a></h4><div class='blogitem-excerpt'>یورو نیوز: دیده‌بان حقوق بشر از محمد بن‌سلمان، ولیعهد عربستان به دادگاه آرژانتین شکایت کرد.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/10/02  15:33</span></div></div></div></article><a href='@Url.Action("Post","entertainment", new {postID = 2588})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","films", new {postID = 2587})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","films", new {postID = 2587})'> </a></h4><div class='blogitem-excerpt'>خبرگزاری فارس: بهروز افخمی در گفت‌وگویی درباره اینکه از چه زمانی تولید برنامه هفت را آغاز خواهد کرد، گفت: واقعیت این است که از سوی تلویزیون به من اعلام شد که حضور همزمان من در دو برنامه میسر نیست و به</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/10/02  15:33</span></div></div></div></article><a href='@Url.Action("Post","films", new {postID = 2587})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 2586})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2586})'> </a></h4><div class='blogitem-excerpt'>خبرگزاری ایسنا: شرکت ملی گاز ایران در واکنش به انتشار فیش حقوقی مدیرعامل پیشین این شرکت در یک سایت خبری، توضیحاتی ارائه داد.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/10/02  15:33</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 2586})' class='readmore'><span>بیشتر بخوانيد</span></a></div></div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides sp-slider-image"><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2542})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907075_832.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2542})'>ظریف: نتانیاهو به گزاف لاف می‌زند</a></h4><a href='@Url.Action("Post","cute", new {postID = 2542})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2535})'> <img width='640' height='426' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/masters-figure-anatomy-1.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2535})'>طراحی های فیگور و آناتومی</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2535})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2541})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907086_268.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2541})'>رهبر انقلاب: دنبال ریاست نرویم</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2541})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2540})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907144_119.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2540})'>تهران برفی می‌شود؛ بدون آمادگی به جاده نزنید</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2540})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image"><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907075_832.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/masters-figure-anatomy-1.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907086_268.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907144_119.jpg' width='70' height='70' alt=''></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>