<div class="vc_row wpb_row vc_row-fluid">
    @*<div class="imgwrapper">

            @using (Html.BeginForm("SaveImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
            {

                @Html.Upload("UploadFile")
                <br>
                <input type="submit" class="btn btn-primary btn-lg" value="بارگذاري تصوير" id="btnUploadFile">
                <input id="viewbaginput" type="hidden" value="@ViewBag.RetUploadFile">
            }
        </div>*@
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides sp-slider-image-top"><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 2581})'> <img width='640' height='315' src='https://static.euronews.com/articles/stories/03/51/87/82/880x495_cmsv2_f7d68bc2-86ec-55ac-8efa-e35e161153f8-3518782.jpg' class='sp-image ' alt='مذاکرات صلح افغانستان؛ تاکید دولت بر گفتگوی رو در رو با طالبان'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 2581})'> مذاکرات صلح افغانستان؛ تاکید دولت بر گفتگوی رو در رو با طالبان</a></h4><a href='@Url.Action("Post","sexy", new {postID = 2581})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 2572})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899099_605.jpg' class='sp-image ' alt='خودرو‌های عجیب و غریب سلبریتی‌ها'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 2572})'> خودرو‌های عجیب و غریب سلبریتی‌ها</a></h4><a href='@Url.Action("Post","sexy", new {postID = 2572})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2580})'> <img width='640' height='315' src='https://static.euronews.com/articles/stories/03/52/04/80/880x495_cmsv2_338615f4-d3f3-546a-8e0e-eef5159c3a2d-3520480.jpg' class='sp-image ' alt='انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2580})'> انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2580})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","entertainment", new {postID = 2539})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907262_759.jpg' class='sp-image ' alt='اهدای کفش طلای ۲۰۱۸ به لیونل مسی'></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","entertainment", new {postID = 2539})'> اهدای کفش طلای ۲۰۱۸ به لیونل مسی</a></h4><a href='@Url.Action("Post","entertainment", new {postID = 2539})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","films", new {postID = 2579})'> <img width='640' height='315' src='https://static.euronews.com/articles/stories/03/52/03/66/880x495_cmsv2_e3e1c73a-2166-54b4-918e-95817f686a65-3520366.jpg' class='sp-image ' alt='تلاش برای نجات یک کشتی روسی در سواحل بریتانیا'></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","films", new {postID = 2579})'> تلاش برای نجات یک کشتی روسی در سواحل بریتانیا</a></h4><a href='@Url.Action("Post","films", new {postID = 2579})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image-top"><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>مذاکرات صلح افغانستان؛ تاکید دولت بر گفتگوی رو در رو با طالبان</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://static.euronews.com/articles/stories/03/51/87/82/880x495_cmsv2_f7d68bc2-86ec-55ac-8efa-e35e161153f8-3518782.jpg' class='sp-thumbnail-image ' alt='مذاکرات صلح افغانستان؛ تاکید دولت بر گفتگوی رو در رو با طالبان' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>خودرو‌های عجیب و غریب سلبریتی‌ها</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899099_605.jpg' class='sp-thumbnail-image ' alt='خودرو‌های عجیب و غریب سلبریتی‌ها' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://static.euronews.com/articles/stories/03/52/04/80/880x495_cmsv2_338615f4-d3f3-546a-8e0e-eef5159c3a2d-3520480.jpg' class='sp-thumbnail-image ' alt='انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>اهدای کفش طلای ۲۰۱۸ به لیونل مسی</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907262_759.jpg' class='sp-thumbnail-image ' alt='اهدای کفش طلای ۲۰۱۸ به لیونل مسی' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>تلاش برای نجات یک کشتی روسی در سواحل بریتانیا</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='https://static.euronews.com/articles/stories/03/52/03/66/880x495_cmsv2_e3e1c73a-2166-54b4-918e-95817f686a65-3520366.jpg' class='sp-thumbnail-image ' alt='تلاش برای نجات یک کشتی روسی در سواحل بریتانیا' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div></div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid"><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2585})' name='2585'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/96/70/880x495_cmsv2_d257211f-8c12-58be-8462-c9b76d21120c-3519670.jpg' alt='فراخوان اتحادیه پلیس فرانسه برای اعتصاب سراسری'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2585})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2585})'>فراخوان اتحادیه پلیس فرانسه برای اعتصاب سراسری</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2585'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2572})' name='2572'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899099_605.jpg' alt='خودرو‌های عجیب و غریب سلبریتی‌ها'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2572})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2572})'>خودرو‌های عجیب و غریب سلبریتی‌ها</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2572'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2535})' name='2535'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/masters-figure-anatomy-1.jpg' alt='طراحی های فیگور و آناتومی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2535})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2535})'>طراحی های فیگور و آناتومی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2535'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2533})' name='2533'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153262820941216-irannaz-com.jpg' alt='جنجال تیپ لاکچری خانم مدلینگ عروس سفیر ایران'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2533})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2533})'>جنجال تیپ لاکچری خانم مدلینگ عروس سفیر ایران</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2533'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2459})' name='2459'>  <img width='290' height='170' src='https://www.karnaval.ir/images/icons/ad.png' alt='بانجی جامپینگ چیست؟ | اصول و نکات ایمنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2459})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2459})'>بانجی جامپینگ چیست؟ | اصول و نکات ایمنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2459'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 3</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2584})' name='2584'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/87/40/880x495_cmsv2_3c9d3f13-1164-5924-a841-995826cf4076-3518740.jpg' alt='مافیای تبهکاران در آلمان؛ استخدام پناهجویان برای جرایم سازمان یافته'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2584})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2584})'>مافیای تبهکاران در آلمان؛ استخدام پناهجویان برای جرایم سازمان یافته</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2584'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2571})' name='2571'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899868_301.jpg' alt='سراتو ۲۰۱۸؛ سدانی که دوست دارد اسپرت باشد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2571})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2571})'>سراتو ۲۰۱۸؛ سدانی که دوست دارد اسپرت باشد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2571'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2532})' name='2532'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152895483451750-irannaz-com-300x200.jpg' alt='خواستگاری دختر روس از بازیکن تیم ملی در جام جهانی (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2532})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2532})'>خواستگاری دختر روس از بازیکن تیم ملی در جام جهانی (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2532'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2460})' name='2460'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/portrait-drawing-steps-11.jpg' alt='کتاب طراحی چهره عبدالله علیخانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2460})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2460})'>کتاب طراحی چهره عبدالله علیخانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2460'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-link  category-quiz '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><div class='bg-overlay' style='background-color:#cf3d2e'></div><h3>«سردار مریم» تنها زن سردار ایرانی</h3> <a href='http://www.bartarinha.ir/fa/news/808937/%D8%B3%D8%B1%D8%AF%D8%A7%D8%B1-%D9%85%D8%B1%DB%8C%D9%85-%D8%AA%D9%86%D9%87%D8%A7-%D8%B2%D9%86-%D8%B3%D8%B1%D8%AF%D8%A7%D8%B1-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%DB%8C' target='_blank'> <i class='fa fa-link'></i> لینک خبر</a></div></div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2583})' name='2583'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/04/46/880x495_cmsv2_1b02c5e0-035e-548b-ae9f-036d3f96c2bb-3520446.jpg' alt='دو دانش آموز دختر در زاهدان سوختند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2583})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2583})'>دو دانش آموز دختر در زاهدان سوختند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2583'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2570})' name='2570'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/20/1900176_322.jpg' alt='پوشش ‌نانو سرامیکی خودرو چیست؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2570})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2570})'>پوشش ‌نانو سرامیکی خودرو چیست؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2570'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2531})' name='2531'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/02/148809846628564-irannaz-com.png' alt='کار وحشتناکی که این دختر برای زیباتر شدن کرد (تصاویر 18+)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2531})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2531})'>کار وحشتناکی که این دختر برای زیباتر شدن کرد (تصاویر 18+)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2531'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2448})' name='2448'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Surrealism-1.jpg' alt='سورئاليسم چیست و چگونه شکل گرفت؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2448})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2448})'>سورئاليسم چیست و چگونه شکل گرفت؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2448'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2582})' name='2582'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/03/36/880x495_cmsv2_b7454b40-08b8-5a77-bca0-420a9cb4f0ed-3520336.jpg' alt='دورترین سیاره از خورشید در منظومه شمسی کشف شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2582})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2582})'>دورترین سیاره از خورشید در منظومه شمسی کشف شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2582'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2569})' name='2569'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1396/9/8/1492599_159.jpg' alt='۵ خودروی سوپراسپرت ناموفق تاریخ'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2569})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2569})'>۵ خودروی سوپراسپرت ناموفق تاریخ</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2569'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2530})' name='2530'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149207659159509-irannaz-com.jpg' alt='خودکشی پسر 11 ساله بخاطر شوخی دوست دخترش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2530})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2530})'>خودکشی پسر 11 ساله بخاطر شوخی دوست دخترش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2530'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2447})' name='2447'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Jackson-Pollock-1.jpg' alt='آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2447})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2447})'>آشنایی با بیوگرافی جکسون پولاک و نقاشی هایش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2447'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2581})' name='2581'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/87/82/880x495_cmsv2_f7d68bc2-86ec-55ac-8efa-e35e161153f8-3518782.jpg' alt='مذاکرات صلح افغانستان؛ تاکید دولت بر گفتگوی رو در رو با طالبان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2581})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2581})'>مذاکرات صلح افغانستان؛ تاکید دولت بر گفتگوی رو در رو با طالبان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2581'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2568})' name='2568'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1396/9/11/1495740_891.jpg' alt='خطر و هیجان در مرگبارترین مسابقات اتومبیل‌رانی دنیا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2568})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2568})'>خطر و هیجان در مرگبارترین مسابقات اتومبیل‌رانی دنیا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2568'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2529})' name='2529'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/152447839611379-irannaz-com-300x200.jpg' alt='زن زیبا آلت تناسلی شوهرش را با چاقو برید (عگس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2529})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2529})'>زن زیبا آلت تناسلی شوهرش را با چاقو برید (عگس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2529'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2446})' name='2446'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/grande-jatte-1.jpg' alt='بعد از ظهر یکشنبه در جزیره گراند ژات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2446})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2446})'>بعد از ظهر یکشنبه در جزیره گراند ژات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2446'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2580})' name='2580'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/04/80/880x495_cmsv2_338615f4-d3f3-546a-8e0e-eef5159c3a2d-3520480.jpg' alt='انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2580})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2580})'>انتقاد مجدد ترامپ از فیسبوک، توئیتر و گوگل</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2580'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2567})' name='2567'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/24/1903321_153.jpg' alt='بهترین خودرو‌های بازار بین ۲۰۰ تا ۳۰۰ میلیون تومان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2567})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2567})'>بهترین خودرو‌های بازار بین ۲۰۰ تا ۳۰۰ میلیون تومان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2567'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2528})' name='2528'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/15267546176816-irannaz-com.jpg' alt='لیلا اوتادی ازدواج کرد (عکس لیلا اوتادی با لباس عروس )'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2528})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2528})'>لیلا اوتادی ازدواج کرد (عکس لیلا اوتادی با لباس عروس )</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2528'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2579})' name='2579'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/03/66/880x495_cmsv2_e3e1c73a-2166-54b4-918e-95817f686a65-3520366.jpg' alt='تلاش برای نجات یک کشتی روسی در سواحل بریتانیا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2579})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2579})'>تلاش برای نجات یک کشتی روسی در سواحل بریتانیا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2579'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2566})' name='2566'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/24/1903142_144.jpg' alt='گران‌ترین خودرو‌های فروخته شده در تاریخ پورشه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2566})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2566})'>گران‌ترین خودرو‌های فروخته شده در تاریخ پورشه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2566'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2527})' name='2527'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149224401629022-irannaz-com.jpg' alt='آخرین پست کنایه دار عارف لرستانی در اینستاگرامش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2527})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2527})'>آخرین پست کنایه دار عارف لرستانی در اینستاگرامش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2527'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2578})' name='2578'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/51/93/52/880x495_cmsv2_cd956e98-76c7-56a3-b0bc-51a226e46dcd-3519352.jpg' alt='روز جهانی مهاجران؛ «مهاجرت با حفظ کرامت انسانی»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2578})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2578})'>روز جهانی مهاجران؛ «مهاجرت با حفظ کرامت انسانی»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2578'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2565})' name='2565'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1396/7/22/1438891_734.jpg' alt='بهترین خودروهای تاریخ فراری'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2565})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2565})'>بهترین خودروهای تاریخ فراری</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2565'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">رویدادهای دیگر</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">سوال</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content"><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("VideoPost","places", new {postID = 2534})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("VideoPost","places", new {postID = 2534})'> در آن سوي دنيا چه خبر است</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/21  15:12</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2533})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/07/153262820941216-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2533})'> جنجال تیپ لاکچری خانم مدلینگ عروس سفیر ایران</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2508})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899783_152.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2508})'> دعوای فراستی و ظلی‌پور جعلی بود</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","quiz", new {postID = 2532})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/06/152895483451750-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 2532})'> خواستگاری دختر روس از بازیکن تیم ملی در جام جهانی (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","entertainment", new {postID = 2507})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899763_326.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2507})'> عاقبت، ادعای مهناز افشار تایید شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","places", new {postID = 2531})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/02/148809846628564-irannaz-com.png' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","places", new {postID = 2531})'> کار وحشتناکی که این دختر برای زیباتر شدن کرد (تصاویر 18+)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2506})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899732_899.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2506})'> حرف پشت حرف؛ پرسپولیس و سپاهان علیه هم</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","entertainment", new {postID = 2530})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/04/149207659159509-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2530})'> خودکشی پسر 11 ساله بخاطر شوخی دوست دخترش (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  quiz   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","quiz", new {postID = 2505})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899570_897.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","quiz", new {postID = 2505})'> وزارت خارجه: ایرانی‌ها فعلا به گرجستان سفر نکنند</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","places", new {postID = 2529})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/04/152447839611379-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","places", new {postID = 2529})'> زن زیبا آلت تناسلی شوهرش را با چاقو برید (عگس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2504})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899297_205.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2504})'> برخورد با پرداخت سود سپرده بالای ۲۰ درصد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2528})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/05/15267546176816-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2528})'> لیلا اوتادی ازدواج کرد (عکس لیلا اوتادی با لباس عروس )</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","cute", new {postID = 2503})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2503})'> فرانسه؛ غارتگران فروشگاه اپل را خالی کردند</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2527})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/04/149224401629022-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2527})'> آخرین پست کنایه دار عارف لرستانی در اینستاگرامش (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2502})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899153_563.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2502})'> احمدرضا دالوند درگذشت</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","cute", new {postID = 2526})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/04/152455100095065-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2526})'> اولین عکس سلفی با جسد مومیایی رضا شاه (جزئیات و بیوگرافی رضاخان)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  cute   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","cute", new {postID = 2501})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1898923_914.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","cute", new {postID = 2501})'> ریورپلاته قهرمان کوپا لیبرتادورس شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2525})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/06/152850908880609-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2525})'> تصادف شدید مجری و استند آپ کمدین خندوانه (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2500})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2500})'> پرسپولیس نباخت، سپاهان در صدر ماند</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2524})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/11/151106002126024-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2524})'> تصاویر آزار جنسی دروازه بان زن معروف توسط بلاتر</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2499})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898506_183.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2499})'> رئیسی: خدا رحم کرد، رئیس جمهور نشدم</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2523})'> <img width='70' height='70' src='http://www.irannaz.com/images/2017/03/148949376315633-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2523})'> با این صبحانه ماهی 7 کیلو وزن کم کنید</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  entertainment   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","entertainment", new {postID = 2498})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898331_404.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","entertainment", new {postID = 2498})'> رسمی؛ قیمت لبنیات کاهش یافت</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2522})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/06/152942403972147-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2522})'> لخت کردن زن آرایشگر در خیابان بخاطر رابطه با مرد متاهل (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2497})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898781_224.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2497})'> اشتباه بزرگ هفته؛ پنالتی نبود آقای داوری!</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2521})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/07/153245548027155-irannaz-com.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2521})'> عروسی لاکچری پسر سفیر ایران ( تصاویر )</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:58</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  amazing   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","amazing", new {postID = 2496})'> <img width='70' height='70' src='' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2496})'> قلعه‌نویی حرف‌های برانکو را تلافی کرد!</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2520})'> <img width='70' height='70' src='http://www.irannaz.com/images/2018/02/151971509090256-irannaz-com-300x200.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2520})'> خواستگاری امیر تتلو از بازیگر زن خارجی (عکس)</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2495})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1898921_297.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2495})'> تذکر احمدی نژاد به مکرون: به حرف مردم گوش کن</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  sexy   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","sexy", new {postID = 2519})'> <img width='70' height='70' src='http://www.irannaz.com/images/2015/05/funny-photo-of-driving-the-strange-symptoms.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2519})'> عکس های خنده دار از علائم عجیب رانندگی در دنیا</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  films   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","films", new {postID = 2494})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899184_751.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","films", new {postID = 2494})'> روحانی: چه اشکالی دارد بنزین را دو نرخی کنیم؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2493})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898122_419.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2493})'> حاشیه تازه برای سید احمد خمینی</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div><div class='col-md-6 catlist-posts small-posts  bizarre   ' style='position: absolute; display: none; right:0px;'><a href='@Url.Action("Post","bizarre", new {postID = 2492})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1897993_973.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2492})'> انتقال آب از دریای خزر به سمنان از سر گرفته شد</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/20  6:57</span><span class='catitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span></div></div></div></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row bloglist-content"><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889949_779.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><h3 class='title'><a href='@Url.Action("Post","places", new {postID = 2193})'> جورج بوش پدر درگذشت</a></h3><a href='@Url.Action("Index","places")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> طراحی فیگور با زغال</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889309_448.png); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><h3 class='title'><a href='@Url.Action("Post","amazing", new {postID = 2192})'> گلایه گزارشگر تبریزی: قصد توهین نداشتم</a></h3><a href='@Url.Action("Index","amazing")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2191})'> شیلا خداداد:فرزندانم را دوباره در وطن به دنیا میارم!</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889781_519.png); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2190})'> برخورد وحشیانه دندانپزشک با یک کودک در مطب</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889692_183.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><h3 class='title'><a href='@Url.Action("Post","sexy", new {postID = 2189})'> پرچم ژاپن در دستان هواداران سپاهان!</a></h3><a href='@Url.Action("Index","sexy")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889644_952.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2188})'> آرش ظلی پور توبیخ شد</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default"><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> <img width='290' height='170' src='' class='' alt=''></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","sexy", new {postID = 2182})'> </a></h4><div class='blogitem-excerpt'>طراحی فیگور با زغال چالش برانگیز، جذاب و بسیار کاربردی است. به طور کل فیگور انسان علی رغم پیچیدگی های خاص خود، موضوعی همیشگی برای طراحان و نقاشان در سراسر دنیاست. هنگام استفاده از زغال طراحی، هنرمند ا</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>1</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","sexy", new {postID = 2182})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Color-1.jpg' class='' alt=''></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2181})'> </a></h4><div class='blogitem-excerpt'>مطالعه درباره رنگ (Color) ، ملاحظاتی را درباره فیزیک، فیزیولوژی و روانشناسی پیش می آورد. علم فیزیک، توزیع انرژی طیفی نوری را که از یک سطح صادر و یا به وسیله آن منعکس می شود، بررسی می کند (شاخه خاصی از</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i>5</span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/10  16:0</span></div></div></div></article><a href='@Url.Action("Post","bizarre", new {postID = 2181})' class='readmore'><span>بیشتر بخوانيد</span></a></div></div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides sp-slider-image"><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2542})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907075_832.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2542})'>ظریف: نتانیاهو به گزاف لاف می‌زند</a></h4><a href='@Url.Action("Post","cute", new {postID = 2542})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2535})'> <img width='640' height='426' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/masters-figure-anatomy-1.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2535})'>طراحی های فیگور و آناتومی</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2535})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2541})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907086_268.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2541})'>رهبر انقلاب: دنبال ریاست نرویم</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2541})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2540})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907144_119.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2540})'>تهران برفی می‌شود؛ بدون آمادگی به جاده نزنید</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2540})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image"><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907075_832.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/masters-figure-anatomy-1.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907086_268.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1907144_119.jpg' width='70' height='70' alt=''></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>