<div class="vc_row wpb_row vc_row-fluid">
    @*<div class="imgwrapper">

        @using (Html.BeginForm("SaveImage", "Post", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
        {

            @Html.Upload("UploadFile")
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="بارگذاري تصوير" id="btnUploadFile">
            <input id="viewbaginput" type="hidden" value="@ViewBag.RetUploadFile">
        }
    </div>*@
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides sp-slider-image-top"><div class='sp-slide'><a href='@Url.Action("Post","entertainment", new {postID = 2544})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882166_848.jpg' class='sp-image ' alt='چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟'></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","entertainment", new {postID = 2544})'> چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟</a></h4><a href='@Url.Action("Post","entertainment", new {postID = 2544})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2545})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876752_282.jpg' class='sp-image ' alt='تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2545})'> تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2545})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2546})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/7/30/1850647_910.jpg' class='sp-image ' alt='ماشین‌های پرنده، برای آینده‌ای نه چندان دور'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2546})'> ماشین‌های پرنده، برای آینده‌ای نه چندان دور</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2546})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 2547})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1881881_407.jpg' class='sp-image ' alt='عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 2547})'> عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است</a></h4><a href='@Url.Action("Post","places", new {postID = 2547})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 2548})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886603_862.jpg' class='sp-image ' alt='۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 2548})'> ۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!</a></h4><a href='@Url.Action("Post","places", new {postID = 2548})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2549})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' class='sp-image ' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2549})'> سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2549})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","bizarre", new {postID = 2550})'> <img width='640' height='315' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885803_372.jpg' class='sp-image ' alt='اطلاعیه در مورد نحوه شهادت حسین فهمیده'></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","bizarre", new {postID = 2550})'> اطلاعیه در مورد نحوه شهادت حسین فهمیده</a></h4><a href='@Url.Action("Post","bizarre", new {postID = 2550})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","entertainment", new {postID = 2551})'> <img width='640' height='315' src='' class='sp-image ' alt='طرح استیضاح لاریجانی کلید خورد'></a><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","entertainment", new {postID = 2551})'> طرح استیضاح لاریجانی کلید خورد</a></h4><a href='@Url.Action("Post","entertainment", new {postID = 2551})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image-top"><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882166_848.jpg' class='sp-thumbnail-image ' alt='چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876752_282.jpg' class='sp-thumbnail-image ' alt='تاریخچه محصولات ایران‌خودرو؛ از دهه ۴۰ شمسی تاکنون' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>ماشین‌های پرنده، برای آینده‌ای نه چندان دور</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/7/30/1850647_910.jpg' class='sp-thumbnail-image ' alt='ماشین‌های پرنده، برای آینده‌ای نه چندان دور' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1881881_407.jpg' class='sp-thumbnail-image ' alt='عجیب‌ترین فرمان‌هایی که در خودرو‌ها دیده شده است' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886603_862.jpg' class='sp-thumbnail-image ' alt='۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>سوشا پُست گذاشت، فحش داد، پشیمان شد</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' class='sp-thumbnail-image ' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>اطلاعیه در مورد نحوه شهادت حسین فهمیده</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885803_372.jpg' class='sp-thumbnail-image ' alt='اطلاعیه در مورد نحوه شهادت حسین فهمیده' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div><div class='sp-thumbnail'><div class='sp-thumbnail-text'><div class='sp-thumbnail-title'>طرح استیضاح لاریجانی کلید خورد</div></div><div class='sp-thumbnail-image-container'><img width='70' height='70' src='' class='sp-thumbnail-image ' alt='طرح استیضاح لاریجانی کلید خورد' srcset='' sizes='(max-width: 70px) 100vw, 70px'></div></div></div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid"><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2648})' name='2648'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153226265773529-irannaz-com.jpg' alt='عکس مراسم ازدواج کاوه رضایی فوتبالیست و فرنوش شیخی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2648})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2648})'>عکس مراسم ازدواج کاوه رضایی فوتبالیست و فرنوش شیخی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2648'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-quiz '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","quiz", new {postID = 2646})' name='2646'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/152333827033204-irannaz-com-300x200.jpg' alt='ماجرای رابطه و عکس جنجالی ترلان پروانه و فرشاد احمدزاده (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz '> سوال </a></div>
            <a href='@Url.Action("Post","quiz", new {postID = 2646})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","quiz", new {postID = 2646})'>ماجرای رابطه و عکس جنجالی ترلان پروانه و فرشاد احمدزاده (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2646'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2644})' name='2644'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149252377835537-irannaz-com.jpg' alt='ماجرای لخت کردن زنان ایرانی در فرودگاه تفلیس (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2644})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2644})'>ماجرای لخت کردن زنان ایرانی در فرودگاه تفلیس (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2644'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2642})' name='2642'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/09/153728369455252-irannaz-com.jpg' alt='چشم های عجیب عروس بعد از شنا در دریا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2642})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2642})'>چشم های عجیب عروس بعد از شنا در دریا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2642'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2640})' name='2640'>  <img width='290' height='170' src='http://www.irannaz.com/images/2016/11/147987711041439-irannaz-com.jpg' alt='اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2640})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2640})'>اعطای وام با وثیقه گرفتن عکس لخت دختران +تصاویر</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2640'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2638})' name='2638'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153065859950829-irannaz-com-299x200.jpg' alt='عصبانیت مردم از رفتار نانسی عجرم در مراکش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2638})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2638})'>عصبانیت مردم از رفتار نانسی عجرم در مراکش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2638'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2636})' name='2636'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152582877145139-irannaz-com.jpg' alt='واکنش روحانی به خروج آمریکا از برجام'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2636})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2636})'>واکنش روحانی به خروج آمریکا از برجام</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2636'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2634})' name='2634'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151058751991859-irannaz-com-297x200.jpg' alt='خودارضایی یا جلق بیش از اندازه و عوارض آن'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2634})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2634})'>خودارضایی یا جلق بیش از اندازه و عوارض آن</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2634'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2632})' name='2632'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/08/150256479282700-irannaz-com-300x157.jpg' alt='با پولدارترین مردان جهان آشنا شوید (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2632})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2632})'>با پولدارترین مردان جهان آشنا شوید (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2632'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2630})' name='2630'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/15325890788712-irannaz-com.jpg' alt='شهرت زیاد گربه ای شبیه به انسان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2630})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2630})'>شهرت زیاد گربه ای شبیه به انسان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2630'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2628})' name='2628'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/153000982934231-irannaz-com-300x200.jpg' alt='جشن تولد مسی در روسیه با کیک هم قد خودش ( تصاویر )'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2628})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2628})'>جشن تولد مسی در روسیه با کیک هم قد خودش ( تصاویر )</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2628'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2626})' name='2626'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152717259462762-irannaz-com-300x200.jpg' alt='بهترین راه بزرگ کردن آلت تناسلی مردان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2626})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2626})'>بهترین راه بزرگ کردن آلت تناسلی مردان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2626'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2624})' name='2624'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/15293298466003-irannaz-com.jpg' alt='فواید خاص رابطه جنسی در صبح'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2624})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2624})'>فواید خاص رابطه جنسی در صبح</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2624'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2622})' name='2622'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/10/150925608013496-irannaz-com.jpg' alt='خواننده مشهور ایرانی به دختر 16 ساله تجاوز کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2622})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2622})'>خواننده مشهور ایرانی به دختر 16 ساله تجاوز کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2622'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2620})' name='2620'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/image5/0.480625001286828983_irannaz_com.jpg' alt='عکسهایی خنده دار از زمان وقوع حادثه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2620})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2620})'>عکسهایی خنده دار از زمان وقوع حادثه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2620'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2616})' name='2616'>  <img width='290' height='170' src='http://www.irannaz.com/user_files/image/albom/asheghane/7-122x50.jpg' alt='انواع فال'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2616})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2616})'>انواع فال</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2616'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2611})' name='2611'>  <img width='290' height='170' src='http://www.irannaz.com/images/2014/06/real-love-photo-122x50.jpg' alt='عکس های دیدنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2611})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2611})'>عکس های دیدنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2611'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2602})' name='2602'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/15258698984147-irannaz-com-122x50.jpg' alt='اس ام اس تبریک'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2602})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2602})'>اس ام اس تبریک</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2602'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2597})' name='2597'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883386_780.jpg' alt='بنجل فروشی و گران‌فروشی در جمعه سیاه ایرانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2597})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2597})'>بنجل فروشی و گران‌فروشی در جمعه سیاه ایرانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2597'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2596})' name='2596'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883402_599.jpg' alt='برانکو، گزینه سرمربیگری «چونبوک موتورز» کره'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2596})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2596})'>برانکو، گزینه سرمربیگری «چونبوک موتورز» کره</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2596'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2595})' name='2595'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883192_172.png' alt='نسخه اصلیِ کارشناس برنامه دستپخت!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2595})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2595})'>نسخه اصلیِ کارشناس برنامه دستپخت!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2595'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 2593})' name='2593'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883322_769.jpg' alt='داود آزاد علیه معتمدی و شجریان: بلیت‌هایشان فروش نرفت، پیشنهاد کنسرت خیابانی دادند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 2593})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2593})'>داود آزاد علیه معتمدی و شجریان: بلیت‌هایشان فروش نرفت، پیشنهاد کنسرت خیابانی دادند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2593'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-films '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","films", new {postID = 2591})' name='2591'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883204_898.jpg' alt='«خندوانه» نیامده حاشیه‌ساز شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","films")' class='  '> فیلم </a></div>
            <a href='@Url.Action("Post","films", new {postID = 2591})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","films", new {postID = 2591})'>«خندوانه» نیامده حاشیه‌ساز شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2591'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2589})' name='2589'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882585_753.png' alt='درخواست ناو آمریکایی از سپاه به زبان فارسی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2589})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2589})'>درخواست ناو آمریکایی از سپاه به زبان فارسی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2589'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2586})' name='2586'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883185_990.jpg' alt='فروزان: پرسپولیسی‌ها به فحاشی معروفند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2586})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2586})'>فروزان: پرسپولیسی‌ها به فحاشی معروفند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2586'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2585})' name='2585'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' alt='خبر خوش روحانی برای مردم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2585})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2585})'>خبر خوش روحانی برای مردم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2585'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2583})' name='2583'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883370_360.jpg' alt='تصاویر جانگداز از کودک ۱۰ ساله و ۸ کیلویی یمنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2583})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2583})'>تصاویر جانگداز از کودک ۱۰ ساله و ۸ کیلویی یمنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2583'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-places '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","places", new {postID = 2579})' name='2579'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882475_293.jpg' alt='راز موفقیت از نگاه محمود احمدی نژاد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","places")' class='  '> مکان ها </a></div>
            <a href='@Url.Action("Post","places", new {postID = 2579})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","places", new {postID = 2579})'>راز موفقیت از نگاه محمود احمدی نژاد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2579'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-sexy '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","sexy", new {postID = 2578})' name='2578'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1881809_356.jpg' alt='پرداخت ۳۰۰ هزار تومان به خانواده‌های ۴ نفره'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","sexy")' class='  '> هیجان انگیز </a></div>
            <a href='@Url.Action("Post","sexy", new {postID = 2578})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","sexy", new {postID = 2578})'>پرداخت ۳۰۰ هزار تومان به خانواده‌های ۴ نفره</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2578'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-amazing '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","amazing", new {postID = 2575})' name='2575'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883376_543.jpg' alt='فحاشی به ساره بیات به خاطر پالتوی پوست روباه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","amazing")' class=' cat-amazing '> حیرت آور </a></div>
            <a href='@Url.Action("Post","amazing", new {postID = 2575})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","amazing", new {postID = 2575})'>فحاشی به ساره بیات به خاطر پالتوی پوست روباه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2575'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">دیگر رويدادها</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">سوال</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content"><div class='col-md-6 catlist-posts small-posts  places   ' style='position: absolute; display: none;'><a href='@Url.Action("Post","places", new {postID = 1981})'> <img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' class='' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='catitem-sm-content'><h4 class='catitem-title'><a href='@Url.Action("Post","places", new {postID = 1981})'> هوندا بهتر است یا هیوندای؟</a></h4><div class='catitem-meta'><span class='catitem-date'><i class='fa fa-calendar'></i>1397/09/06  22:29</span><span class='catitem-author'><i class='fa fa-user'></i> آرمان دانشور</span></div></div></div></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row bloglist-content"><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2538})'> چرا در باران لیز میخوریم؟ پدیده آب سواری چیست؟</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a><h3 class='title'><a href='@Url.Action("Post","bizarre", new {postID = 2539})'> زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده</a></h3><a href='@Url.Action("Index","bizarre")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2540})'> وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><h3 class='title'><a href='@Url.Action("Post","amazing", new {postID = 2541})'> اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h3><a href='@Url.Action("Index","amazing")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879977_175.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><h3 class='title'><a href='@Url.Action("Post","cute", new {postID = 2542})'> آفرود چیست و چقدر هزینه دارد؟</a></h3><a href='@Url.Action("Index","cute")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/26/1877455_745.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><h3 class='title'><a href='@Url.Action("Post","films", new {postID = 2543})'> کلکسیون خودرو‌های لوکس پل واکر، ستاره فقید هالیوود</a></h3><a href='@Url.Action("Index","films")' class='readmore'>بيشتر</a></div></div></article><article class='col-md-4'><div class='post-object' style=' background-image:url(http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882166_848.jpg); background-size:cover; background-repeat:no-repeat'><div class='overlay'></div><div class='post-content'><a href='@Url.Action("Index","entertainment")' class='post-cat   '> سرگرمی </a><h3 class='title'><a href='@Url.Action("Post","entertainment", new {postID = 2544})'> چگونه مصرف سوخت خودرو در زمستان را کاهش دهیم؟</a></h3><a href='@Url.Action("Index","entertainment")' class='readmore'>بيشتر</a></div></div></article></div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default"><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","films", new {postID = 2537})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' class='' alt=''></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","films", new {postID = 2537})'> </a></h4><div class='blogitem-excerpt'>برترین ها - ترجمه از محمد کاملان: هوندا و هیوندای دو برند معروف خودروساز هستند که در ایران نیز هواداران زیادی دارند، اگر نگاهی به فهرست خودروهای هوندا داشته باشید متوجه خواهید شد که این محصولات در سال</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/08  16:31</span></div></div></div></article><a href='@Url.Action("Post","films", new {postID = 2537})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2538})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2538})'> </a></h4><div class='blogitem-excerpt'>وبسایت کار:هنگامی که باران شدیدی می بارد، یا زمان کمی از بارش باران گذشته، لایه ای از آب سطح جاده را می‌پوشاند.در این زمان اگر سرعت حرکت خودرو بالا باشد و آج لاستیک ها هم کمتر از مقداری باشد که که آب </div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/08  16:31</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2538})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","bizarre", new {postID = 2539})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' class='' alt=''></a><a href='@Url.Action("Index","bizarre")' class='post-cat  cat-bizarre '> عجیب و غریب </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","bizarre", new {postID = 2539})'> </a></h4><div class='blogitem-excerpt'>روزنامه فرهیختگان - الهام کاظمی: چشم‌های ما همیشه جذب زیبایی‌ها می‌شوند، اما همه ما ناچاریم زشتی‌های این دنیا را هم ببینیم، چنین موضوعی در دنیای اتومبیل‌ها هم صادق است.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> ارسلان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/08  16:31</span></div></div></div></article><a href='@Url.Action("Post","bizarre", new {postID = 2539})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","cute", new {postID = 2540})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' class='' alt=''></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","cute", new {postID = 2540})'> </a></h4><div class='blogitem-excerpt'>وبسایت موبنا: شرکت میتسوبیشی یک وانت شاسی‌بلند جدید را مورد آزمایش قرار داده است که پیش‌بینی می‌شود در آینده نزدیک وارد بازار آسیا شود و این وانت پیک‌آپ یک تُنی هم اکنون با نام «تریتون/ال۲۰۰» به صورت </div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/08  16:31</span></div></div></div></article><a href='@Url.Action("Post","cute", new {postID = 2540})' class='readmore'><span>بیشتر بخوانيد</span></a></div><div class='bloglist-posts'><article class='row'><div class='blogitem-media col-md-4'><a href='@Url.Action("Post","amazing", new {postID = 2541})'> <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' class='' alt=''></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a></div><div class='col-md-8'><div class='blogitem-content'><h4 class='blogitem-title'><a href='@Url.Action("Post","amazing", new {postID = 2541})'> </a></h4><div class='blogitem-excerpt'>وب‌سایت یک پزشک - میثاق محمدی‌زاده: این هفته، شرکت هارلی دیویدسون اولین موتورسیکلت الکتریکی خود را در نمایشگاه موتورسیکلت میلان به طور رسمی رونمایی و در معرض دید عموم مردم قرار داد.</div><div class='blogitem-meta'><span class='blogitem-author'><i class='fa fa-user'></i> آرمان دانشور</span><span class='blogitem-comment'><i class='fa fa-comment'></i> 0</span><span class='blogitem-view'><i class='fa fa-eye'></i></span><span class='blogitem-date'><i class='fa fa-calendar'></i>ا1397/09/08  16:31</span></div></div></div></article><a href='@Url.Action("Post","amazing", new {postID = 2541})' class='readmore'><span>بیشتر بخوانيد</span></a></div></div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides sp-slider-image"><div class='sp-slide'><a href='@Url.Action("Post","quiz", new {postID = 2562})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885871_842.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","quiz")' class='post-cat  cat-quiz '> سوال </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","quiz", new {postID = 2562})'>تعجب کاربران از تغییرات ظاهری رزیتا غفاری</a></h4><a href='@Url.Action("Post","quiz", new {postID = 2562})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","places", new {postID = 2563})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/4/1885251_657.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","places")' class='post-cat   '> مکان ها </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","places", new {postID = 2563})'>زیباکلام: روحانی به عربستان توهین کرد</a></h4><a href='@Url.Action("Post","places", new {postID = 2563})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","sexy", new {postID = 2566})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886848_729.png' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","sexy")' class='post-cat   '> هیجان انگیز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","sexy", new {postID = 2566})'>برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!</a></h4><a href='@Url.Action("Post","sexy", new {postID = 2566})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2567})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2567})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2567})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","cute", new {postID = 2568})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887157_489.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","cute")' class='post-cat  cat-cute '> ناز </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","cute", new {postID = 2568})'>قتل امام جمعه اهل سنت در گلستان</a></h4><a href='@Url.Action("Post","cute", new {postID = 2568})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2569})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2569})'>دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2569})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","films", new {postID = 2573})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882546_173.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","films")' class='post-cat   '> فیلم </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","films", new {postID = 2573})'>بیرانوند: استقلالی‌ها یک ویدئو از فینال آسیا بیاورند</a></h4><a href='@Url.Action("Post","films", new {postID = 2573})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div><div class='sp-slide'><a href='@Url.Action("Post","amazing", new {postID = 2575})'> <img width='640' height='426' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/2/1883376_543.jpg' class='sp-image ' alt='' srcset='' sizes='(max-width: 640px) 100vw, 640px'></a><a href='@Url.Action("Index","amazing")' class='post-cat  cat-amazing '> حیرت آور </a><div class='sp-layer sp-black sp-padding' data-position='bottomLeft' data-vertical='0' data-width='100%' data-show-transition='up'><h4><a href='@Url.Action("Post","amazing", new {postID = 2575})'>فحاشی به ساره بیات به خاطر پالتوی پوست روباه</a></h4><a href='@Url.Action("Post","amazing", new {postID = 2575})' class='special-rm-arrow pull-right'><i class='fa fa-arrow-right'></i></a></div></div></div>
                        <div class="sp-thumbnails sp-slider-image"><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/25/1876657_130.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' width='70' height='70' alt=''><img class='sp-thumbnail' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879977_175.jpg' width='70' height='70' alt=''></div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>