<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>ناز</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">ناز </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2180})' name='2180'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/Surrealism-1.jpg' alt='سورئاليسم چیست و چگونه شکل گرفت؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2180})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2180})'>سورئاليسم چیست و چگونه شکل گرفت؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2180'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2183})' name='2183'>  <img width='290' height='170' src='' alt='آتش زیر خاکسترِ استقلال با نفت شعله‌ور شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2183})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2183})'>آتش زیر خاکسترِ استقلال با نفت شعله‌ور شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2183'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2187})' name='2187'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890350_812.jpg' alt='واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2187})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2187})'>واکنش‌ها به لیست گاف‌دار بازیگران دوتابعیتی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2187'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2190})' name='2190'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889781_519.png' alt='برخورد وحشیانه دندانپزشک با یک کودک در مطب'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2190})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2190})'>برخورد وحشیانه دندانپزشک با یک کودک در مطب</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2190'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2208})' name='2208'>  <img width='290' height='170' src='http://www.irannaz.com/images/2013/11/3/Photos-of-the-Troll-of-the-Year-6.jpg' alt='عکس هایی از توپ ترین ترول های سال (فقط بخندید)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2208})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2208})'>عکس هایی از توپ ترین ترول های سال (فقط بخندید)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2208'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2209})' name='2209'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151049557319587-irannaz-com.jpg' alt='این چند گیاه خوراکی شهوت را زیاد میکند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2209})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2209})'>این چند گیاه خوراکی شهوت را زیاد میکند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2209'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2215})' name='2215'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/09/153720672039993-irannaz-com.jpg' alt='سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2215})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2215})'>سارا افتخار در مسابقه دختر شایسته انگلستان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2215'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 5</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2216})' name='2216'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/06/149645743898020-irannaz-com.jpg' alt='جراحی فوری چاق ترین پسر دنیا (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2216})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2216})'>جراحی فوری چاق ترین پسر دنیا (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2216'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2223})' name='2223'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' alt='هوندا بهتر است یا هیوندای؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2223})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2223})'>هوندا بهتر است یا هیوندای؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2223'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2226})' name='2226'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2226})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2226})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2226'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 4</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2228})' name='2228'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879977_175.jpg' alt='آفرود چیست و چقدر هزینه دارد؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2228})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2228})'>آفرود چیست و چقدر هزینه دارد؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2228'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2253})' name='2253'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2253})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2253})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2253'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2254})' name='2254'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887157_489.jpg' alt='قتل امام جمعه اهل سنت در گلستان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2254})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2254})'>قتل امام جمعه اهل سنت در گلستان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2254'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2274})' name='2274'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891056_238.png' alt='ظلی پور به فراستی: چرا اینقدر بد تیپی؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2274})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2274})'>ظلی پور به فراستی: چرا اینقدر بد تیپی؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2274'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2275})' name='2275'>  <img width='290' height='170' src='' alt='پیام کی‌روش به بهانه خداحافظی سیدجلال'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2275})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2275})'>پیام کی‌روش به بهانه خداحافظی سیدجلال</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2275'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2276})' name='2276'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891194_902.jpg' alt='آشنا: سردار نقدی درباره کوروش تحقیق کند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2276})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2276})'>آشنا: سردار نقدی درباره کوروش تحقیق کند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2276'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2290})' name='2290'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/42/86/880x495_cmsv2_05165a41-548e-50da-8143-221bebfd70e3-3474286.jpg' alt='یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2290})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2290})'>یک پناهجوی ایرانی در سرمای بالکان جان خود را از دست داد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2290'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 7</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2299})' name='2299'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/38/15/08/880x495_cmsv2_255c4f83-cd4a-5893-893f-8207578a1bf2-3381508.jpg' alt='مرگ فرمانده ارشد طالبان در هلمند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2299})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2299})'>مرگ فرمانده ارشد طالبان در هلمند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2299'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2307})' name='2307'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891208_818.jpg' alt='کاربران «بن سلمان» را چهره سال تایم کردند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2307})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2307})'>کاربران «بن سلمان» را چهره سال تایم کردند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2307'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 25</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2320})' name='2320'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/07/153237002944923-irannaz-com.jpg' alt='ملکه زیبایی به اعدام محکوم شده است (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2320})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2320})'>ملکه زیبایی به اعدام محکوم شده است (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2320'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2333})' name='2333'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/15243763096308-irannaz-com.jpg' alt='قاتل سعید کریمیان مدیر شبکه جم دستگیر شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2333})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2333})'>قاتل سعید کریمیان مدیر شبکه جم دستگیر شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2333'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2336})' name='2336'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/36/52/880x495_cmsv2_2be2b017-6462-5802-a575-1716508933fa-3473652.jpg' alt='نامزدهای جانشینی آنگلا مرکل معرفی شدند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2336})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2336})'>نامزدهای جانشینی آنگلا مرکل معرفی شدند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2336'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>