<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>ناز</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">ناز </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4691})' name='4691'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149224401629022-irannaz-com.jpg' alt='آخرین پست کنایه دار عارف لرستانی در اینستاگرامش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4691})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4691})'>آخرین پست کنایه دار عارف لرستانی در اینستاگرامش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4691'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4690})' name='4690'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/15267546176816-irannaz-com.jpg' alt='لیلا اوتادی ازدواج کرد (عکس لیلا اوتادی با لباس عروس )'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4690})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4690})'>لیلا اوتادی ازدواج کرد (عکس لیلا اوتادی با لباس عروس )</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4690'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4682})' name='4682'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151073273178612-irannaz-com-300x200.jpg' alt='واکنش جنجالی محسن تنابنده به زلزله کرمانشاه (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4682})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4682})'>واکنش جنجالی محسن تنابنده به زلزله کرمانشاه (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4682'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4678})' name='4678'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151101440045390-irannaz-com.jpg' alt='این دختر زیبا پرده بکارت خود را سه میلیون دلار فروخت (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4678})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4678})'>این دختر زیبا پرده بکارت خود را سه میلیون دلار فروخت (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4678'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4676})' name='4676'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153345422286-irannaz-com.jpg' alt='زیباترین مدل خانم به عرصه مدلینگ بازگشت (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4676})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4676})'>زیباترین مدل خانم به عرصه مدلینگ بازگشت (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4676'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4670})' name='4670'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152858156549696-irannaz-com-300x200.jpg' alt='مجری مشهور و محبوب خودکشی کرد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4670})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4670})'>مجری مشهور و محبوب خودکشی کرد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4670'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4656})' name='4656'>  <img width='290' height='170' src='http://www.irannaz.com/images/2014/09/iran-sentences-cool-comic-video-series.jpg' alt='جملات تصویری طنز و باحال ایرانی (سری دوم)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4656})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4656})'>جملات تصویری طنز و باحال ایرانی (سری دوم)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4656'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4645})' name='4645'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/09/153727782651850-irannaz-com.jpg' alt='خودکشی دختر شاخ اینستاگرام در قایق مرد میلیاردر (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4645})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4645})'>خودکشی دختر شاخ اینستاگرام در قایق مرد میلیاردر (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4645'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4643})' name='4643'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151197824154571-irannaz-com-300x200.jpg' alt='دام کثیف این زن و شوهر برای زنها (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4643})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4643})'>دام کثیف این زن و شوهر برای زنها (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4643'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4546})' name='4546'>  <img width='290' height='170' src='' alt='۱۱ تا از محدودیت‌های جالب انسان!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4546})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4546})'>۱۱ تا از محدودیت‌های جالب انسان!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4546'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4531})' name='4531'>  <img width='290' height='170' src='http://gadgetnews.net/wp-content/uploads/2018/12/Car-imports-1-620x413.jpg' alt='واردات خودرو از افغانستان ؛ پیشنهاد نماینده مجلس برای حل بحران!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4531})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4531})'>واردات خودرو از افغانستان ؛ پیشنهاد نماینده مجلس برای حل بحران!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4531'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4493})' name='4493'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/63/04/880x495_cmsv2_6deda700-cfaf-5c5e-a8f0-370e9384a419-3496304.jpg' alt='رهبر حوثی‌های یمن: درباره ادعای شکنجه در زندان‌ها تحقیق می‌کنیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4493})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4493})'>رهبر حوثی‌های یمن: درباره ادعای شکنجه در زندان‌ها تحقیق می‌کنیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4493'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4492})' name='4492'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/63/02/880x495_cmsv2_c85763aa-3e03-54c4-a638-4b8fd32ce503-3496302.jpg' alt='یک فرمانده سپاه: ایران قادر است موشک‌هایی با برد بیشتر تولید کند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4492})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4492})'>یک فرمانده سپاه: ایران قادر است موشک‌هایی با برد بیشتر تولید کند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4492'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4488})' name='4488'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/49/96/880x495_cmsv2_21fb848d-7997-5af3-8aad-aafd81ccba74-3494996.jpg' alt='ماکرون یک ماه پس از آغاز جنبش جلیقه زردها سخنرانی می‌کند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4488})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4488})'>ماکرون یک ماه پس از آغاز جنبش جلیقه زردها سخنرانی می‌کند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4488'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4487})' name='4487'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/74/56/880x495_cmsv2_d29d59a8-190e-5667-b977-32e9ced3d46f-3497456.jpg' alt='بدبینی شدید مردم افغانستان به نقش جامعه جهانی در مبارزه با فساد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4487})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4487})'>بدبینی شدید مردم افغانستان به نقش جامعه جهانی در مبارزه با فساد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4487'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4465})' name='4465'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/52/20/880x495_cmsv2_2b56f572-d019-52a5-afde-ba82c8fe2117-3475220.jpg' alt='سخنگوی نیروهای مسلح ایران: آزمایش های موشکی ادامه خواهد یافت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4465})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4465})'>سخنگوی نیروهای مسلح ایران: آزمایش های موشکی ادامه خواهد یافت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4465'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4461})' name='4461'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/54/52/880x495_cmsv2_5a74849b-07db-5e7e-8c90-3a7887117acd-3475452.jpg' alt='بازداشت یک جمعیت شناس در ایران به اتهام «نفوذ»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4461})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4461})'>بازداشت یک جمعیت شناس در ایران به اتهام «نفوذ»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4461'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4456})' name='4456'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/14/32/880x495_cmsv2_ce6e7b11-a56a-5df0-af9a-7395d86f9b44-3471432.jpg' alt='سمینار «برجام، تحریم‌های آمریکا و روابط چند جانبه اروپا»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4456})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4456})'>سمینار «برجام، تحریم‌های آمریکا و روابط چند جانبه اروپا»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4456'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4448})' name='4448'>  <img width='290' height='170' src='https://www.rangehonar.com/data/_uploaded/image/painting-training/portrait-drawing-steps-11.jpg' alt='کتاب طراحی چهره عبدالله علیخانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4448})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4448})'>کتاب طراحی چهره عبدالله علیخانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4448'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4419})' name='4419'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898726_283.jpg' alt='اطلاعیه احمد خمینی درباره عکس‌های لو رفته'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4419})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4419})'>اطلاعیه احمد خمینی درباره عکس‌های لو رفته</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4419'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4417})' name='4417'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/18/1898122_419.jpg' alt='حاشیه تازه برای سید احمد خمینی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4417})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4417})'>حاشیه تازه برای سید احمد خمینی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4417'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4412})' name='4412'>  <img width='290' height='170' src='' alt='پرسپولیس نباخت، سپاهان در صدر ماند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4412})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4412})'>پرسپولیس نباخت، سپاهان در صدر ماند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4412'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4410})' name='4410'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1898923_914.jpg' alt='ریورپلاته قهرمان کوپا لیبرتادورس شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4410})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4410})'>ریورپلاته قهرمان کوپا لیبرتادورس شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4410'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4335})' name='4335'>  <img width='290' height='170' src='' alt='رهبر انقلاب: درباره قانون منع به‌کارگیری بازنشستگان بهتر است به من متوسل نشوند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4335})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4335})'>رهبر انقلاب: درباره قانون منع به‌کارگیری بازنشستگان بهتر است به من متوسل نشوند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4335'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4325})' name='4325'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1894324_802.jpg' alt='روحانی: آمریکا ۱۱ بار درخواست مذاکره داشت ولی نپذیرفتم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4325})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4325})'>روحانی: آمریکا ۱۱ بار درخواست مذاکره داشت ولی نپذیرفتم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4325'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4319})' name='4319'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892901_496.jpg' alt='متهم تجاوز به دانش آموزان اصفهانی دستگیر شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4319})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4319})'>متهم تجاوز به دانش آموزان اصفهانی دستگیر شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4319'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4267})' name='4267'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891109_264.jpg' alt='واکنش تند فراستی به عذرخواهی آرش ظلی پور'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4267})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4267})'>واکنش تند فراستی به عذرخواهی آرش ظلی پور</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4267'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4260})' name='4260'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891338_462.jpg' alt='دیپورت ایرانی‌ها از مبادی ورودی گرجستان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4260})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4260})'>دیپورت ایرانی‌ها از مبادی ورودی گرجستان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4260'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4258})' name='4258'>  <img width='290' height='170' src='' alt='پادکست هفتگی؛ هنرمندان دو تابعیتی، ریا کارند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4258})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4258})'>پادکست هفتگی؛ هنرمندان دو تابعیتی، ریا کارند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4258'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4227})' name='4227'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1874438_289.jpg' alt='لاکچری بازی پلیس دبی؛ استفاده از پرنده‌های هاوربایک!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4227})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4227})'>لاکچری بازی پلیس دبی؛ استفاده از پرنده‌های هاوربایک!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4227'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4226})' name='4226'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/21/1872940_219.jpg' alt='تام کروز چه خودرو‌ها و موتورسیکلت‌هایی سوار می‌شود؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4226})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4226})'>تام کروز چه خودرو‌ها و موتورسیکلت‌هایی سوار می‌شود؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4226'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4215})' name='4215'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg' alt='روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4215})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4215})'>روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4215'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4197})' name='4197'>  <img width='290' height='170' src='' alt='وضعیت نفت، دلار و دستمزد در بودجه ۹۸'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4197})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4197})'>وضعیت نفت، دلار و دستمزد در بودجه ۹۸</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4197'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4176})' name='4176'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/20/1871202_823.jpg' alt='زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4176})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4176})'>زشت‌ترین خودرو‌هایی که تا به‌حال ساخته شده</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4176'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4167})' name='4167'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886603_862.jpg' alt='۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4167})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4167})'>۶ خودروساز آمریکایی که به راحتی ورشکسته شدند!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4167'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4155})' name='4155'>  <img width='290' height='170' src='' alt='آغاز ثبت‌ نام آزمون دکترای ۹۸'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4155})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4155})'>آغاز ثبت‌ نام آزمون دکترای ۹۸</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4155'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4150})' name='4150'>  <img width='290' height='170' src='' alt='برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4150})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4150})'>برترین‌ها پلاس؛ کارت سوخت در بلک فرایدی!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4150'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 4149})' name='4149'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886925_430.jpg' alt='متن طرح استیضاح ظریف با عنوان پولشویی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 4149})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 4149})'>متن طرح استیضاح ظریف با عنوان پولشویی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4149'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>