<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>ناز</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">ناز </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 1993})' name='1993'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 1993})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 1993})'>سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/1993'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2014})' name='2014'>  <img width='290' height='170' src='' alt='بهروز افخمی از اجرای هفت کناره‌گیری کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2014})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2014})'>بهروز افخمی از اجرای هفت کناره‌گیری کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2014'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-cute '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","cute", new {postID = 2039})' name='2039'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883192_172.png' alt='نسخه اصلیِ کارشناس برنامه دستپخت!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","cute")' class=' cat-cute '> ناز </a></div>
            <a href='@Url.Action("Post","cute", new {postID = 2039})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","cute", new {postID = 2039})'>نسخه اصلیِ کارشناس برنامه دستپخت!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2039'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>