<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>عجیب و غریب</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">عجیب و غریب </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-quote  category-bizarre '><div class='defaultForAllPost'>
        <div class='post-box imgwrapper'><div class='entry-content img-responsive' style='background-image:url()'><div class='bg-overlay' style='background-color:#a94442'></div><blockquote><h4><a href='@Url.Action("Post","bizarre", new {postID = 16})'>آوازی ایرانی با قدمت ۷۰۰۰ سال!</a></h4><cite>مولوی</cite></blockquote></div></div>
    </div></article><article class=' col-md-8 col-lg-8  hentry  format-video  category-bizarre '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-cover'><div class='flex-video'><div style='width: 640px;' class='wp-video'><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]--><video class='wp-video-shortcode' id='video-18' width='640' height='360' preload='metadata' controls='controls'><source type='video/mp4' src='~/Content/Video/grasshopper.mp4?_=1'><a href='~/Content/Video/grasshopper.mp4'>~/Content/Video/grasshopper.mp4 </a> </video> </div> </div> <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div><a href='@Url.Action("Post","bizarre", new {postID = 18})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a></div><div class='entry-content'><h3 class='entry-title'><a href='@Url.Action("Post","bizarre", new {postID = 18})'>فیلم | مداحی بهنام بانی در دسته عزاداری</a></h3> </div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta'><li><i class='fa fa-user'></i><a href='Admin/18' title='آرمان دانشور' rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'></i><a href='Comment/' 0=""> 0 </a> </li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i>21</a></li></ul></div></div></div></div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>