<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>عجیب و غریب</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">عجیب و غریب </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 354})' name='354'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1882901_856.jpg' alt='بلوای مجید توکلی درباره بیانیه دونالد ترامپ'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 354})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 354})'>بلوای مجید توکلی درباره بیانیه دونالد ترامپ</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/354'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 353})' name='353'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1882901_856.jpg' alt='بلوای مجید توکلی درباره بیانیه دونالد ترامپ'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 353})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 353})'>بلوای مجید توکلی درباره بیانیه دونالد ترامپ</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/353'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 377})' name='377'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883192_172.png' alt='نسخه اصلیِ کارشناس برنامه دستپخت!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 377})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 377})'>نسخه اصلیِ کارشناس برنامه دستپخت!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/377'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 384})' name='384'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/22/1873819_163.png' alt='خبر خوش روحانی برای مردم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 384})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 384})'>خبر خوش روحانی برای مردم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/384'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>