<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>عجیب و غریب</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">عجیب و غریب </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 603})' name='603'>  <img width='290' height='170' src='' alt='واکنش ایران به اتهام شیمیایی آمریکا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 603})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 603})'>واکنش ایران به اتهام شیمیایی آمریکا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/603'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 605})' name='605'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/1/1883185_990.jpg' alt='فروزان: پرسپولیسی‌ها به فحاشی معروفند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 605})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 605})'>فروزان: پرسپولیسی‌ها به فحاشی معروفند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/605'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 608})' name='608'>  <img width='290' height='170' src='' alt='گروه‌های دشوار پرسپولیس و استقلال در آسیا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 608})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 608})'>گروه‌های دشوار پرسپولیس و استقلال در آسیا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/608'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 613})' name='613'>  <img width='290' height='170' src='' alt='روحانی: باید تلاش کنیم راه پولشویی را ببندیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 613})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 613})'>روحانی: باید تلاش کنیم راه پولشویی را ببندیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/613'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-bizarre '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","bizarre", new {postID = 618})' name='618'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/30/1882546_173.jpg' alt='بیرانوند: استقلالی‌ها یک ویدئو از فینال آسیا بیاورند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a></div>
            <a href='@Url.Action("Post","bizarre", new {postID = 618})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 618})'>بیرانوند: استقلالی‌ها یک ویدئو از فینال آسیا بیاورند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/618'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 14</a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>