<!DOCTYPE html>
<!--[if IE 8]> 	<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="pingback" href="http://viralnews.weblusive-themes.com/xmlrpc.php" /> -->
    <!-- For iPad: -->
    <!-- For iPhone 4 Retina display: -->

    <title>شایعه - چه خبره تو شهر</title>
    <script type="text/javascript">
        function heateorSssLoadEvent(e) { var t = window.onload; if (typeof window.onload != "function") { window.onload = e } else { window.onload = function () { t(); e() } } };
        var heateorSssSharingAjaxUrl = '*.php',
            heateorSssCloseIconPath = '~/Content/image/close.png',
            heateorSssPluginIconPath = '~/Content/image/logo.png',
            heateorSssHorizontalSharingCountEnable = 1,
            heateorSssVerticalSharingCountEnable = 0,
            heateorSssSharingOffset = -10;
        var heateorSssMobileStickySharingEnabled = 1;
        var heateorSssCopyLinkMessage = "Link copied.";
        var heateorSssUrlCountFetched = [],
            heateorSssSharesText = 'Shares',
            heateorSssShareText = 'Share';
        function heateorSssPopup(e) {
            window.open(e, "popUpWindow", "height=400,width=600,left=400,top=100,resizable,scrollbars,toolbar=0,personalbar=0,menubar=no,location=no,directories=no,status")
        }
    </script>

    <link rel='stylesheet' id='themeplaza_slider-css' href='~/Content/CSS/themeplaza_slider.css' type='text/css' media='all'>
    <link rel='stylesheet' id='themeplaza_slider_pro-css' href='~/Content/CSS/slider-pro.min.css' type='text/css' media='all'>
    <link rel='stylesheet' id='plugin-styles-css' href='~/Content/CSS/plugins.css' type='text/css' media='all'>
    <link rel='stylesheet' id='main-styles-css' href='~/Content/CSS/style.css' type='text/css' media='all'>

    <link rel='stylesheet' id='dynamic-styles-css' href='~/Content/CSS/dynamic-styles.php.css' type='text/css' media='all'>
    <link rel='stylesheet' id='newsletter-subscription-css' href='~/Content/CSS/style-subscription.css' type='text/css' media='all'>
    <link rel="stylesheet" href="~/Content/CSS/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/Content/CSS/bootstrap-theme-rtl.css">

    <script type='text/javascript' src='~/Scripts/jquery-1.12.4.js'></script>
    <script type='text/javascript' src='~/Scripts/bootstrap.min.js' defer='defer'></script>
    <link rel='stylesheet' id='mediaelement-css' href='~/Content/CSS/mediaelementplayer.min.css' type='text/css' media='all'>
    <link rel='stylesheet' id='wp-mediaelement-css' href='~/Content/CSS/wp-mediaelement.min.css' type='text/css' media='all'>
    <link href="~/Content/comment.css" rel="stylesheet">
    <!--for Quiz-->
    @*
        <link href="~/Content/CSS/full-screen-preview.css" rel="stylesheet">
        <link href="~/Content/CSS/buzzfeed.css" rel="stylesheet">*@

    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>

<body class="home page-template-default page page-id-2 wpb-js-composer js-comp-ver-5.2.1 vc_responsive persianumber" data-offset="200" data-spy="scroll" data-target=".ow-navigation" style="direction:rtl; text-align: justify;">
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class="loader-inner">
                <div>
                    <div class="cssload-thecube">
                        <div class="cssload-cube cssload-c1"></div>
                        <div class="cssload-cube cssload-c2"></div>
                        <div class="cssload-cube cssload-c4"></div>
                        <div class="cssload-cube cssload-c3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="global-wrapper" class="partial">
        <header class="header-main">
            <!-- Header Top Container -->
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="topbar-sidebar-left widget_alc_newsticker news">
                                <span class="topbar-title %2$s">جالب</span>
                                <div class="marquee newsticker_909 left" dir="ltr" data-direction='left' data-duration='6500' data-pauseonhover="true">
                                    <a href="#">
                                        جیمز کوردن و جنا دوان تاتوم، تکامل بعدی در رقص را کشف کردند: نقاشان نوپا
                                    </a>
                                    <a href="#">
                                        جایگاه ویژه شهرهای هوشمند دنیا با هدف افزایش سرعت تحقق شهر پایدار هوشمند و افزایش سطح تعالی سازمانی است
                                    </a>
                                    <a href="#">
                                        گوش دادن به پاندا این بهترین چیزی است که امروز می توانید انجام دهید
                                    </a>
                                </div>
                                <script type="text/javascript">
                                    jQuery('document').ready(function () {
                                        jQuery('.newsticker_909').marquee({ startVisible: true });
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div class="topbar-sidebar-right">
                                <ul class="list-special  style1">

                                    <li>
                                        <a href='@Url.Action("index","amazing")'>
                                            <i class="fa fa-bolt"></i> حیرت آور
                                        </a>
                                    </li>

                                    <li>
                                        <a href='@Url.Action("index","bizarre")'>
                                            <i class="fa fa-bug"></i> عجیب و غریب
                                        </a>
                                    </li>

                                    <li>
                                        <a href='@Url.Action("index","cute")'>
                                            <i class="fa fa-paw"></i> ناز
                                        </a>
                                    </li>

                                    <li>
                                        <a href='@Url.Action("index","entertainment")'>
                                            <i class="fa fa-smile-o"></i> سرگرمي
                                        </a>
                                    </li>

                                    <li>
                                        <a href='@Url.Action("index","quiz")'>
                                            <i class="fa fa-check-square-o"></i> سوال
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu">
                <div class="container">
                    <div class="row">
                        <nav class="navbar ow-navigation header-style3" style="margin-bottom:0px;">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="Index.html" class="navbar-brand">
                                    <img src="~/Content/Image/GossipLogo.png" alt="شایعه" id="logo-image" style="max-width: 125px;">
                                </a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul id="menu-primary-navigation" class="nav navbar-nav">
                                    <li id="menu-item-274" class="menu-item menu-item-_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-274 active">
                                        <a title="خانه" href='@Url.Action("index","home")'>خانه</a>
                                    </li>
                                    <li id="menu-item-10" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10">
                                        <a title="حیوانات" href='@Url.Action("index","Animal")'>حیوانات</a>
                                    </li>
                                    <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
                                        <a title="سرگرمی" href='@Url.Action("index","entertainment")'>سرگرمی</a>
                                    </li>
                                    <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13">
                                        <a title="فیلم " href='@Url.Action("index","films")'>فیلم </a>
                                    </li>
                                    <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
                                        <a title="تندرستی &#038; سلامتی" href='@Url.Action("index","home")'>تندرستی &#038; سلامتی </a>
                                    </li>
                                    <li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15">
                                        <a title="موسیقی" href='@Url.Action(" index","home")'>موسیقی</a>
                                    </li>
                                    <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">
                                        <a title="مکان ها" href='@Url.Action(" index","places")'>مکان ها</a>
                                    </li>
                                    <li id="menu-item-281" class="menu-item menu-item-_type menu-item-object-page menu-item-281">
                                        <a title="خرید" href='@Url.Action(" index","home")'>خرید</a>
                                    </li>

                                    <li class="top-search">
                                        <div class="top-search-form">
                                            <form action="Index.html" method="get" id="nav-search-form" class="searchbox">
                                                <input type="text" class="searchbox-input" onkeyup="buttonUp();" name="s" id="search" placeholder="...جستجو" value="">
                                                <input name="post_type" type="hidden" value="post">
                                                <button type="submit" class="btn btn-primary searchbox-submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <span class="searchbox-icon">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-9 content-area">
                    @RenderBody()
                </div>
                <aside class="widget-area col-md-3 right-sidebar">
                    <aside id="alc-totalposts-widget-2" class="widget sidebar-widget widget_alc_totalposts postTabWidget">
                        <div class="tab-widget popular-latest-posts style1">
                            <ul id="postTab" class="nav nav-tabs">
                                <li>
                                    <a href="#widget-mostviewed" data-toggle="tab">بیشترین بازدید</a>
                                </li>
                                <li>
                                    <a href="#widget-popular" data-toggle="tab">محبوب</a>
                                </li>
                            </ul>
                            <div id="tab-content" class="tab-content">
                                <div id="widget-mostviewed" class="tab-pane fade">
                                    <ul class="recent_posts_wid right-slider1"><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","sexy", new {postID = 2821})'>1</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","sexy", new {postID = 2821})'> روسیه: در حملات اسرائیل به سوریه دو هواپیمای غیرنظامی تهدید شدند</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/08  15:13</li><li class='item-count'><i class='fa fa-eye'></i>1</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","entertainment", new {postID = 2795})'>2</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","entertainment", new {postID = 2795})'> کنجکاوی گربه کارشناس برنامه حین پخش زنده خبر! +فیلم</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/08  15:12</li><li class='item-count'><i class='fa fa-eye'></i>4</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","places", new {postID = 2794})'>3</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","places", new {postID = 2794})'> لحظه حمله ناگهانی مار به مارگیر! +فیلم</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/08  15:12</li><li class='item-count'><i class='fa fa-eye'></i>4</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","entertainment", new {postID = 2793})'>4</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","entertainment", new {postID = 2793})'> حمله مرگبار شیر باغ وحش به گردشگر! +فیلم</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/08  15:12</li><li class='item-count'><i class='fa fa-eye'></i>2</li></ul></div></div></li></ul>
                                </div>
                                <div id="widget-popular" class="tab-pane fade">
                                    <ul class="recent_posts_wid right-slider2"><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","cute", new {postID = 2590})'>1</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","cute", new {postID = 2590})'>قتل امام جمعه اهل سنت در گلستان</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/02  15:33</li><li><a class='item-comment-count' href='@Url.Action("Post","cute", new {postID = 2590})'>0</a></li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","cute", new {postID = 2589})'>2</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","cute", new {postID = 2589})'>طرح استیضاح لاریجانی کلید خورد</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/02  15:33</li><li><a class='item-comment-count' href='@Url.Action("Post","cute", new {postID = 2589})'>0</a></li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","entertainment", new {postID = 2588})'>3</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","entertainment", new {postID = 2588})'>دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/02  15:33</li><li><a class='item-comment-count' href='@Url.Action("Post","entertainment", new {postID = 2588})'>0</a></li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","films", new {postID = 2587})'>4</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","films", new {postID = 2587})'>بهروز افخمی از اجرای هفت کناره‌گیری کرد</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/02  15:33</li><li><a class='item-comment-count' href='@Url.Action("Post","films", new {postID = 2587})'>0</a></li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","sexy", new {postID = 2586})'>5</a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","sexy", new {postID = 2586})'>تکذیب حقوق ۹۹ میلیونی حمیدرضا عراقی</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/02  15:33</li><li><a class='item-comment-count' href='@Url.Action("Post","sexy", new {postID = 2586})'>0</a></li></ul></div></div></li></ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside id="alc-blogposts-widget-2" class="widget sidebar-widget widget_alc_blogposts recentPostWidget ">
                        <div class="widget-heading">
                            <h3>آخرين خبرها</h3>
                        </div>
                        <ul class="superior-posts recent_posts_wid"><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","bizarre", new {postID = 2834})'><img width='70' height='70' src='' class='  ' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","bizarre", new {postID = 2834})'> "لاکچری" بازی با حیوانات خانگی</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/09  16:18</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","amazing", new {postID = 2833})'><img width='70' height='70' src='' class='  ' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","amazing", new {postID = 2833})'> برخورد ام‌وی‌ام با شتر ۵ مصدوم برجای گذاشت</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/09  16:18</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","sexy", new {postID = 2832})'><img width='70' height='70' src='https://www.fardanews.com/files/fa/news_albums/884102/13420/resized/resized_955371_852.jpg' class='  ' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","sexy", new {postID = 2832})'> عجیب‌ترین باغ وحش دنیا!   </a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/09  16:18</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","quiz", new {postID = 2831})'><img width='70' height='70' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/9/1860587_762.jpg' class='  ' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","quiz", new {postID = 2831})'> عجیب‌ترین حیوانات که در آفریقا زندگی می‌کنند + تصاویر</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/09  16:18</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","amazing", new {postID = 2830})'><img width='70' height='70' src='' class='  ' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","amazing", new {postID = 2830})'> حمله مرگبار گرگ به یک کودک</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/09  16:18</li></ul></div></div></li><li class='post-item'><div class='media'><a class='item-img media-left' href='@Url.Action("Post","places", new {postID = 2829})'><img width='70' height='70' src='' class='  ' alt='' srcset='' sizes='(max-width: 70px) 100vw, 70px'></a><div class='media-body'><h4 class='media-heading item-title'><a href='@Url.Action("Post","places", new {postID = 2829})'> آیا جانور باقیمانده از دوران ماقبل تاریخ در ایران منقرض شده است؟</a></h4><ul class='item-meta'><li class='item-date'><i class='fa fa-calendar'></i>1397/10/09  16:18</li></ul></div></div></li></ul>

                    </aside>
                    <aside id="newsletterwidget-2" class="widget sidebar-widget widget_newsletterwidget">
                        <div class="widget-heading">
                            <h3 style="font-size:large">خبرنامه ما را دریافت کنید</h3>
                        </div>
                        <p style="font-size:initial"> ما یک بار در هفته به شما عالی ترین مطالب را ارسال می کنیم</p>
                        <div class="tnp tnp-widget">
                            <form method="post" action="" onsubmit="return newsletter_check(this)">

                                <input type="hidden" name="nr" value="widget">
                                <input type='hidden' name='nl[]' value='0'>
                                <div class="tnp-field tnp-field-email">
                                    <label>ایمیل</label>
                                    <input class="tnp-email" type="email" id="emailSubscriber1" required="">
                                </div>
                                <div class="tnp-field tnp-field-button">
                                    <input id="btnSubscribe" class="tnp-submit" type="submit" value="اشتراک">
                                </div>
                            </form>
                        </div>
                    </aside>
                    <aside id="text-2" class="widget sidebar-widget widget_text">
                        <div class="textwidget">
                            <div class="bloglist alternative  ">
                                <div class="row">
                                    <article class="col-md-12">
                                        <div class="post-object" style="background-image:url(../../Content/Image/book-green.png); background-size:cover; background-repeat:no-repeat">
                                            <div class="overlay"></div>
                                            <div class="post-content">
                                                <a href="https://www.time.ir/fa/booklist-%D9%81%D9%87%D8%B1%D8%B3%D8%AA-%DA%A9%D8%AA%D8%A7%D8%A8%D9%87%D8%A7%DB%8C-%D9%85%D8%B9%D8%B1%D9%81%DB%8C-%D8%B4%D8%AF%D9%87-%D8%AF%D8%B1-%D8%AA%D8%A7%DB%8C%D9%85" target="_blank" class="post-cat cat-quiz">سوال</a>
                                                <h3 class="title">
                                                    <a href="https://www.time.ir/fa/booklist-%D9%81%D9%87%D8%B1%D8%B3%D8%AA-%DA%A9%D8%AA%D8%A7%D8%A8%D9%87%D8%A7%DB%8C-%D9%85%D8%B9%D8%B1%D9%81%DB%8C-%D8%B4%D8%AF%D9%87-%D8%AF%D8%B1-%D8%AA%D8%A7%DB%8C%D9%85" target="_blank">خوندید تا حالا؟</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside id="alc-ads-widget-2" class="widget sidebar-widget widget_alc_ads">
                        <div class="widget-heading">
                            <h3>...چطوری میشه</h3>
                        </div>
                        <div class="commercial-block size-300x250">
                            <a href="https://mahak-charity.org/main/index.php/fa/aboute-mahak" target="_blank">
                                <img src="~/Content/Image/mahak2.jpg" alt="alt" width="300" height="250">
                            </a>
                        </div>
                    </aside>
                </aside>
            </div>
        </div>
        <div class="footer-top">
            <aside style="background-size:cover; background-image:url(../../Content/Image/Gossip-DarckCity-2.jpg)" class="footer-top-sidebar widget_newsletterwidget">
                <div class="container">
                    <h4 class="widgetTitle">مشترک شدن در خبرنامه ما</h4>ما یک بار در هفته به شما عالی ترین مطالب ارسال می کنیم!
                    <div class="tnp tnp-widget">
                        <form method="post" action="" onsubmit="return newsletter_check(this)">

                            <input type="hidden" name="nr" value="widget">
                            <input type='hidden' name='nl[]' value='0'>
                            <div class="tnp-field tnp-field-email">
                                <label>ایمیل</label>
                                <input class="tnp-email" type="email" id="emailSubscriber" required="">
                            </div>
                            <div class="tnp-field tnp-field-button">
                                <input class="tnp-submit" type="submit" value="اشتراک">
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
        <footer class="footer-main">
            <!-- Footer Widgets part -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <aside class="widget footer-widget widget_alc_social">
                            <ul class="social-widget social-icons icon-rotate list-unstyled list-inline footer">
                                <li>
                                    <a href="#" title="Dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Google-plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>

            <!-- Footer Middle part -->
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 fl-wrapper">
                            <img src="~/Content/Image/GossipLogo_BG_Black_BigSize.png" id="footer-logo" alt="" width="167" height="40">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <ul id="menu-footer-navigation" class="footer-nav">
                                <li id="menu-item-274" class="menu-item menu-item-_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-274 active">
                                    <a title="خانه" href='@Url.Action("index","home")'>خانه</a>
                                </li>
                                <li id="menu-item-10" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10">
                                    <a title="حیوانات" href='@Url.Action("index","home")'>حیوانات</a>
                                </li>
                                <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
                                    <a title="سرگرمی" href='@Url.Action("index","entertainment")'>سرگرمی</a>
                                </li>
                                <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13">
                                    <a title="فیلم " href='@Url.Action("index","films")'>فیلم </a>
                                </li>
                                <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
                                    <a title="تندرستی &#038; سلامتی" href='@Url.Action("index","home")'>تندرستی &#038; سلامتی </a>
                                </li>
                                <li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15">
                                    <a title="موسیقی" href='@Url.Action(" index","home")'>موسیقی</a>
                                </li>
                                <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">
                                    <a title="مکان ها" href='@Url.Action("index","places")'>مکان ها</a>
                                </li>

                                <li id="menu-item-281" class="menu-item menu-item-_type menu-item-object-page menu-item-281">
                                    <a title="خرید" href='@Url.Action("index","home")'>خرید</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom - copyright and back to top link -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="copyright">تمامي حقوق اين وب سايت محفوظ مي باشد</p>
                        </div>
                        <div class="col-md-6 col-sm-6 back-to-top">

                            <a id="back-to-top" href="">
                                <i class="fa fa-long-arrow-up"></i>بالا
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- End Global Wrapper -->
    <script type="text/javascript">
        jQuery("document").ready(function () {
            jQuery("#slider_294").sliderPro({
                orientation: "vertical",
                loop: false,
                arrows: false,
                buttons: false,
                autoplay: true,
                autoplayDelay: 4000,
                thumbnailsPosition: "right",
                thumbnailPointer: true,
                thumbnailWidth: 290,
                thumbnailHeight: 70,
                width: "100%",
                breakpoints: {
                    800: {
                        thumbnailsPosition: "bottom",
                        thumbnailWidth: 270,
                        thumbnailHeight: 100
                    },
                    500: {
                        thumbnailsPosition: "bottom",
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        jQuery("document").ready(function () {
            jQuery("#catlist_790 .nav-tabs a").first().addClass("active");
            var $container = jQuery("#catlist_790 .tab-content");
            $container.imagesLoaded(function () {
                $container.isotope({});
            });

            var filter = jQuery("#catlist_790 ul.nav a.active").attr("data-filter"), isotope_run = function (f) {
                $container.isotope({ filter: f }).trigger("colio", "excludeHidden");
            };
            jQuery("#catlist_790 ul.nav a").click(function () {
                var selector = jQuery(this).attr("data-filter");
                $container.isotope({ filter: selector, stamp: selector });
                return false;
            });

            // set selected menu items
            var $optionSets = jQuery("#catlist_790 ul.nav"),
                $optionLinks = $optionSets.find("a");
            $optionLinks.click(function () {
                var $this = jQuery(this);
                if ($this.hasClass("active")) {
                    return false;
                }
                var $optionSet = $this.parents("ul.nav");
                $optionSet.find(".active").removeClass("active");
                $this.addClass("active");
            });

            isotope_run(filter);
        });
    </script>
    <script type='text/javascript' src='~/Scripts/comment-reply.min.js' defer='defer'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "http:\/\/viralnews.weblusive-themes.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "لطفا تاييد كنيد كه شما يك رباط نيستيد" } } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Scripts/scripts.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/jquery.blockUI.min.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/js.cookie.min.js' defer='defer'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Scripts/woocommerce.min.js' defer='defer'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments_8f4ec0383165faf0ce259890633d43a0" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Scripts/cart-fragments.min.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/jquery.sliderPro.min.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/plugins.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/functions.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/fixed-widgets.js' defer='defer'></script>
    <script type='text/javascript'>
        var sticky_widget_mt = 30; var sticky_widget_mb = 0;
    </script>
    <script type='text/javascript' src='~/Scripts/fixed-widgets-init.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/sassy-social-share-public.js' defer='defer'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var newsletter = { "messages": { "email_error": "The email is not correct", "name_error": "The name is not correct", "surname_error": "The last name is not correct", "privacy_error": "You must accept the privacy statement" }, "profile_max": "20" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Scripts/validate.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/wp-embed.min.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/js_composer_front.min.js' defer='defer'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = { "language": "en-US", "strings": { "Close": "Close", "Fullscreen": "Fullscreen", "Turn off Fullscreen": "Turn off Fullscreen", "Go Fullscreen": "Go Fullscreen", "Download File": "Download File", "Download Video": "Download Video", "Play": "Play", "Pause": "Pause", "Captions\/Subtitles": "Captions\/Subtitles", "None": "None", "Time Slider": "Time Slider", "Skip back %1 seconds": "Skip back %1 seconds", "Video Player": "Video Player", "Audio Player": "Audio Player", "Volume Slider": "Volume Slider", "Mute Toggle": "Mute Toggle", "Unmute": "Unmute", "Mute": "Mute", "Use Up\/Down Arrow keys to increase or decrease volume.": "Use Up\/Down Arrow keys to increase or decrease volume.", "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds." } };
        var _wpmejsSettings = { "pluginPath": "\/wp-includes\/js\/mediaelement\/" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Scripts/mediaelement-and-player.min.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/wp-mediaelement.min.js' defer='defer'></script>
    <script type='text/javascript' src='~/Scripts/bootstrap-rtl.js'></script>
    <script src="~/Scripts/persianumber.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery('.persianumber').persiaNumber();
        });

        jQuery('.tnp-submit').on('click', function (e) {
            e.preventDefault();
            var subscriber = {
                FullName: '',
                Email: jQuery('#emailSubscriber').val() == "" ? jQuery('#emailSubscriber1').val() : jQuery('#emailSubscriber').val(),
                WebSite: '',
                Message: ''
            };

            jQuery.ajax({
                url: '@Url.Action("AddSubscriber", "Subscriber")',
                type: 'Post',
                data: JSON.stringify(subscriber),
                contentType: "application/json; charset=utf-8",
                success(res) {

                },
                error(e) {

                }
            });
        });

        //$(".nav nav-tabs li:last").addClass("active");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
