<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سرگرمی</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action(" index","home")"="">خانه</a></li>
                        <li class="active">سرگرمی </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 147})' name='147'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/39/74/880x495_cmsv2_d626930a-738e-58ba-811c-3f5eea0b8969-3403974.jpg' alt='کنسرت گروه راک «اسکورپیونز» در لبنان'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 147})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 147})'>کنسرت گروه راک «اسکورپیونز» در لبنان</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/147'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 148})' name='148'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/38/16/880x495_cmsv2_c126c137-508c-5097-9406-2a698cc6b0c7-3403816.jpg' alt='شکست سنگین دموکرات مسیحی‌ها در انتخابات محلی هسن؛ راست‌گرایان افراطی به پارلمان راه یافتند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 148})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 148})'>شکست سنگین دموکرات مسیحی‌ها در انتخابات محلی هسن؛ راست‌گرایان افراطی به پارلمان راه یافتند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/148'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 149})' name='149'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/38/54/880x495_cmsv2_9ce3d95c-56f5-5b6c-8e16-87c499982ada-3403854.jpg' alt='تولید داروهای اختصاصی براساس ترکیب ژنتیکی هر فرد در آینده نزدیک'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 149})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 149})'>تولید داروهای اختصاصی براساس ترکیب ژنتیکی هر فرد در آینده نزدیک</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/149'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 150})' name='150'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/38/70/880x495_cmsv2_cc6291ee-95f7-5730-94ca-02e9db2966bf-3403870.jpg' alt='صدور احکام حبس و شلاق برای ۱۵ کارگر معترض هپکو اراک'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 150})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 150})'>صدور احکام حبس و شلاق برای ۱۵ کارگر معترض هپکو اراک</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/150'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 151})' name='151'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/37/84/880x495_cmsv2_b8d9bd8d-d037-5e15-a5a4-10c6c2b0cefb-3403784.jpg' alt='اقدام به زیر گرفتن دختر دانشجو توسط خودروی گشت ارشاد؛ دانشگاه آزاد تکذیب کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 151})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 151})'>اقدام به زیر گرفتن دختر دانشجو توسط خودروی گشت ارشاد؛ دانشگاه آزاد تکذیب کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/151'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 152})' name='152'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/37/74/880x495_cmsv2_2a5db4c2-c1b9-5e0f-946d-f16596246a42-3403774.jpg' alt='بحران سیاسی سریلانکا؛ یک کشته در تیراندازی محافظان وزیر خلع شده'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 152})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 152})'>بحران سیاسی سریلانکا؛ یک کشته در تیراندازی محافظان وزیر خلع شده</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/152'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 153})' name='153'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/36/84/880x495_cmsv2_bfe15215-5b72-5718-a81f-f8d4ed9f0dfd-3403684.jpg' alt='دفتر محمد خاتمی، رئیس جمهور اسبق ایران تخلیه شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 153})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 153})'>دفتر محمد خاتمی، رئیس جمهور اسبق ایران تخلیه شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/153'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 154})' name='154'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/35/48/880x495_cmsv2_8adb5719-73d7-5a22-ab97-1a91339e84de-3403548.jpg' alt='انتخابات ریاست جمهوری گرجستان؛ رقابت تنگاتنگ دو وزیر خارجه پیشین'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 154})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 154})'>انتخابات ریاست جمهوری گرجستان؛ رقابت تنگاتنگ دو وزیر خارجه پیشین</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/154'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 155})' name='155'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/36/00/880x495_cmsv2_d0afbdb8-be76-5653-9606-352d20c88fbb-3403600.jpg' alt='ناتوانی نوزاد انسان در مقایسه با نوزاد سایر حیوانات؛ فرگشت در این باره چه می‌گوید؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 155})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 155})'>ناتوانی نوزاد انسان در مقایسه با نوزاد سایر حیوانات؛ فرگشت در این باره چه می‌گوید؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/155'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 156})' name='156'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/35/80/880x495_cmsv2_4d78dead-3df5-5181-abff-274b88c27dae-3403580.jpg' alt='داعش نیروهای دموکراتیک سوریه را از دیرالزور بیرون کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 156})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 156})'>داعش نیروهای دموکراتیک سوریه را از دیرالزور بیرون کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/156'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 157})' name='157'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/33/58/880x495_cmsv2_7ac74e41-05f3-54ff-8c04-22d0aadc1ce9-3403358.jpg' alt='سقوط هلی‌کوپتر مالک باشگاه لستر سیتی؛ مدیر عامل و دخترش در پرواز بودند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 157})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 157})'>سقوط هلی‌کوپتر مالک باشگاه لستر سیتی؛ مدیر عامل و دخترش در پرواز بودند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/157'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 158})' name='158'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/35/62/880x495_cmsv2_42420733-ad05-56af-bd12-7fd1d4c730bd-3403562.jpg' alt='شیوع واکسن گریزی در اروپا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 158})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 158})'>شیوع واکسن گریزی در اروپا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/158'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 159})' name='159'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/35/70/880x495_cmsv2_13c43175-58ee-51f9-a746-e58d5bd02e56-3403570.jpg' alt='نگرانی شدید از احتمال تقلب و تخلف انتخاباتی در قندهار'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 159})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 159})'>نگرانی شدید از احتمال تقلب و تخلف انتخاباتی در قندهار</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/159'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 160})' name='160'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/40/33/74/880x495_cmsv2_35e2bce3-a9e4-5e22-b026-e681dc8ba633-3403374.jpg' alt='۲۹ مورد اتهامی به عامل حمله به کنیسه یهودیان در آمریکا تفهیم شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 160})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 160})'>۲۹ مورد اتهامی به عامل حمله به کنیسه یهودیان در آمریکا تفهیم شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/160'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 0</a></li></ul></div></div>

        </div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>