<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سرگرمی</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action("index","home")">خانه</a></li>
                        <li class="active">سرگرمی </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-audio  category-quiz  category-entertainment '><div class="defaultForAllPost">
        <div class='post-box'><div class='entry-cover'><div class='entry-cover'><a href='@Url.Action("Post","quiz", new {postID = 9})'><img width='290' height='170' src='https://images.khabaronline.ir/images/2018/9/position38/18-9-23-14414557750592.jpg' class='attachment-viralnews-catlist-big size-viralnews-catlist-big ' alt='فیلم | قطعه‌ای که سالار عقیلی برای تولد محمدرضا شجریان خواند'></a></div><div class='audio-container'><!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]--><audio class='wp-audio-shortcode' id='9' preload='none' style='width: 100%;' controls='controls'><source type='audio/mpeg' src='' _="1'"><a href=''></a></audio></div><div class='post-category'><a href='@Url.Action("Index","quiz")' class=' cat-quiz   '> سوال  سرگرمی  </a></div><a href='@Url.Action("Post","quiz", new {postID = 9})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a></div><div class='entry-content'><h3 class='entry-title'><a href='@Url.Action("Post","quiz", new {postID = 9})'>فیلم | قطعه‌ای که سالار عقیلی برای تولد محمدرضا شجریان خواند</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta'><li><i class='fa fa-user'></i><a href='Admin/' 9'="" title="ایجاد" شده="" توسط'ارسلان="" آرماني'="" rel='author'>ارسلان آرماني</a> </li><li><i class='fa fa-comment'></i><a href='Comment/' 9'="">4</a> </li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i>2154</a></li></ul></div> </div></div></div>
    </div></article><article class='col-md-4 hentry  format-image   category-entertainment '><div class="defaultForAllPost">
        <div class='post-box' style='background-repeat:no-repeat; background-size:cover; background-image:url(http://shohadayeiran.com/files/fa/news/1396/5/30/172368_704.jpg)'><div class='bg-overlay' style='background-color:rgba(0,0,0, 0.8)'></div><div class='entry-cover'><div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div></div><div class='entry-content'><h3 class='entry-title'><a href='@Url.Action("Post","entertainment", new {postID = 12})'>علیرضا افتخاری از دلیل خانه‌نشین شدنش پرده برداشت</a></h3></div><div class='entry-footer'><div class=' row'><div class='col-md-12'><ul class='common-meta'><li><i class='fa fa-user'></i><a href='Admin/ارسلان آرماني' title="ایجاد" شده="" توسط'ارسلان="" آرماني'="" rel='author'>ارسلان آرماني</a></li><li><i class='fa fa-comment'></i><a href='Comment/' 0=""> 0  </a></li> <li class='post-like'><a href='#'> <i class='fa fa-eye'></i>9852</a></li></ul></div></div></div></div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>