<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سرگرمی</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">سرگرمی </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4696})' name='4696'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/06/152942403972147-irannaz-com.jpg' alt='لخت کردن زن آرایشگر در خیابان بخاطر رابطه با مرد متاهل (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4696})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4696})'>لخت کردن زن آرایشگر در خیابان بخاطر رابطه با مرد متاهل (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4696'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4692})' name='4692'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/152455100095065-irannaz-com-300x200.jpg' alt='اولین عکس سلفی با جسد مومیایی رضا شاه (جزئیات و بیوگرافی رضاخان)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4692})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4692})'>اولین عکس سلفی با جسد مومیایی رضا شاه (جزئیات و بیوگرافی رضاخان)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4692'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4687})' name='4687'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/02/148809846628564-irannaz-com.png' alt='کار وحشتناکی که این دختر برای زیباتر شدن کرد (تصاویر 18+)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4687})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4687})'>کار وحشتناکی که این دختر برای زیباتر شدن کرد (تصاویر 18+)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4687'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4680})' name='4680'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/11/151066803032204-irannaz-com-300x200.jpg' alt='فوتبالیست معروف در زلزله کرمانشاه عزادار شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4680})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4680})'>فوتبالیست معروف در زلزله کرمانشاه عزادار شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4680'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4663})' name='4663'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/04/149328730294898-irannaz-com.jpg' alt='ازدواج بازیکن استقلال با خواهر زن خسرو حیدری (تصاویر)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4663})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4663})'>ازدواج بازیکن استقلال با خواهر زن خسرو حیدری (تصاویر)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4663'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4657})' name='4657'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/12/151284282747725-irannaz-com.jpg' alt='استفاده های شگفت انگیز از موی انسان (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4657})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4657})'>استفاده های شگفت انگیز از موی انسان (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4657'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4649})' name='4649'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/04/152430535977552-irannaz-com-300x200.jpg' alt='ساره بیات بازیگر مشهور ایرانی به دادسرا احضار شد (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4649})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4649})'>ساره بیات بازیگر مشهور ایرانی به دادسرا احضار شد (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4649'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4646})' name='4646'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/05/152532088853678-irannaz-com-250x200.jpg' alt='آخرین وضعیت و علت سکته شهاب مظفری خواننده پاپ (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4646})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4646})'>آخرین وضعیت و علت سکته شهاب مظفری خواننده پاپ (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4646'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4639})' name='4639'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/05/149364557438002-irannaz-com.jpg' alt='واکنش جالب امین زندگانی به آتش گرفتن ماشینش (عکس)'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4639})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4639})'>واکنش جالب امین زندگانی به آتش گرفتن ماشینش (عکس)</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4639'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4635})' name='4635'>  <img width='290' height='170' src='http://www.irannaz.com/images/2018/08/153485412066702-irannaz-com-300x200.jpg' alt='افشاگری مادر ازپشت پرده شکنجه دختر بچه مرندی توسط پدرش'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4635})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4635})'>افشاگری مادر ازپشت پرده شکنجه دختر بچه مرندی توسط پدرش</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4635'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4548})' name='4548'>  <img width='290' height='170' src='https://www.karnaval.ir/uploads/2018/11/3G6msKF7WfPEpJOZ-1542388117941.jpg' alt='بانجی جامپینگ چیست؟ | اصول و نکات ایمنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4548})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4548})'>بانجی جامپینگ چیست؟ | اصول و نکات ایمنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4548'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4544})' name='4544'>  <img width='290' height='170' src='' alt='۱۰ تا از دانشمندان معروف و برتر دنیا!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4544})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4544})'>۱۰ تا از دانشمندان معروف و برتر دنیا!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4544'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4543})' name='4543'>  <img width='290' height='170' src='' alt='۱۰ مکان شگفت‌انگیز ساخته دست بشر!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4543})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4543})'>۱۰ مکان شگفت‌انگیز ساخته دست بشر!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4543'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4533})' name='4533'>  <img width='290' height='170' src='http://gadgetnews.net/wp-content/uploads/2018/12/maxresdefault-620x349.jpg' alt='با خطرناک ترین فرودگاه های جهان آشنا شوید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4533})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4533})'>با خطرناک ترین فرودگاه های جهان آشنا شوید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4533'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4532})' name='4532'>  <img width='290' height='170' src='http://gadgetnews.net/wp-content/uploads/2018/12/02-4-620x414.jpg' alt='هواوی رتبه نخست فروش گوشی در روسیه، ایتالیا و اسپانیا را از آن خود کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4532})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4532})'>هواوی رتبه نخست فروش گوشی در روسیه، ایتالیا و اسپانیا را از آن خود کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4532'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4527})' name='4527'>  <img width='290' height='170' src='http://gadgetnews.net/wp-content/uploads/2018/12/Google-Plus-2-620x324.jpg' alt='آموزش حذف اکانت گوگل پلاس'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4527})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4527})'>آموزش حذف اکانت گوگل پلاس</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4527'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4495})' name='4495'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/49/63/40/880x495_cmsv2_b1e238ed-2f51-5a72-8cf4-705928a3cd78-3496340.jpg' alt='رسانه‌های بریتانیا: رای‌گیری درباره توافق‌نامه برکسیت در پارلمان لغو می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4495})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4495})'>رسانه‌های بریتانیا: رای‌گیری درباره توافق‌نامه برکسیت در پارلمان لغو می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4495'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4478})' name='4478'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/84/08/880x495_cmsv2_2e6d4ef0-5395-5b6e-a7a9-34ce6f5c8565-3478408.jpg' alt='«خروج یکطرفه بریتانیا از اتحادیه اروپا قانونی است»'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4478})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4478})'>«خروج یکطرفه بریتانیا از اتحادیه اروپا قانونی است»</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4478'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4477})' name='4477'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/85/14/880x495_cmsv2_a395ec56-5728-58c4-883f-7a25d64298cb-3478514.jpg' alt='عقب نشینی دولت فرانسه در برابر جلیقه زردها؛ اجرای طرح افزایش مالیات سوخت معلق شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4477})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4477})'>عقب نشینی دولت فرانسه در برابر جلیقه زردها؛ اجرای طرح افزایش مالیات سوخت معلق شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4477'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4474})' name='4474'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/84/24/880x495_cmsv2_3ddb8526-9051-5e4b-b617-a1cd7e699046-3478424.jpg' alt='کدام یک از رهبران جهان در میان کاربران اینستاگرام نفوذ بیشتری دارند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4474})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4474})'>کدام یک از رهبران جهان در میان کاربران اینستاگرام نفوذ بیشتری دارند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4474'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4472})' name='4472'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/48/03/84/880x495_cmsv2_0424d86c-43c1-5b6e-982e-70650cdb3994-3480384.jpg' alt='بزرگترین امواج گرانشی حاصل از برخورد دو سیاهچاله کشف شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4472})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4472})'>بزرگترین امواج گرانشی حاصل از برخورد دو سیاهچاله کشف شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4472'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4452})' name='4452'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/37/06/880x495_cmsv2_de91c5c5-c1b5-560a-8822-e2baa9a7dc1c-3473706.jpg' alt='تظاهرات معترضان به جهانی‌سازی در آرژانتین'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4452})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4452})'>تظاهرات معترضان به جهانی‌سازی در آرژانتین</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4452'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4429})' name='4429'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/23/1874776_633.jpg' alt='کلکسیون خودرو‌های جذاب سیلوستر استالونه'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4429})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4429})'>کلکسیون خودرو‌های جذاب سیلوستر استالونه</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4429'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4416})' name='4416'>  <img width='290' height='170' src='' alt='قلعه‌نویی حرف‌های برانکو را تلافی کرد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4416})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4416})'>قلعه‌نویی حرف‌های برانکو را تلافی کرد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4416'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4400})' name='4400'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/19/1899783_152.jpg' alt='دعوای فراستی و ظلی‌پور جعلی بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4400})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4400})'>دعوای فراستی و ظلی‌پور جعلی بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4400'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4345})' name='4345'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892809_778.jpg' alt='پارسایی:انتساب کوروش به پهلوى از قدر او نمی‌کاهد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4345})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4345})'>پارسایی:انتساب کوروش به پهلوى از قدر او نمی‌کاهد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4345'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4332})' name='4332'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/13/1893687_300.jpg' alt='پیروز حناچی با دوچرخه به شهرداری رفت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4332})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4332})'>پیروز حناچی با دوچرخه به شهرداری رفت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4332'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4317})' name='4317'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1893172_159.jpg' alt='بسکتبال ایران به جام‌جهانی راه یافت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4317})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4317})'>بسکتبال ایران به جام‌جهانی راه یافت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4317'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4295})' name='4295'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892627_350.jpg' alt='نرخ احتمالیِ بنزین، دلار و نفت در بودجه ۹۸'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4295})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4295})'>نرخ احتمالیِ بنزین، دلار و نفت در بودجه ۹۸</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4295'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4266})' name='4266'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/11/1891088_841.jpg' alt='ابوالفضل زرویی نصرآباد درگذشت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4266})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4266})'>ابوالفضل زرویی نصرآباد درگذشت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4266'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4264})' name='4264'>  <img width='290' height='170' src='' alt='شاید پنجره تراکتورسازی هم بسته شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4264})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4264})'>شاید پنجره تراکتورسازی هم بسته شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4264'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4257})' name='4257'>  <img width='290' height='170' src='' alt='توافق ایران و کره بر سر تجارت نفت در برابر کالا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4257})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4257})'>توافق ایران و کره بر سر تجارت نفت در برابر کالا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4257'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4217})' name='4217'>  <img width='290' height='170' src='' alt='دلار پایین آمد، اما چرا قیمت‌ها بالا مانده‌اند؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4217})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4217})'>دلار پایین آمد، اما چرا قیمت‌ها بالا مانده‌اند؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4217'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4213})' name='4213'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889692_183.jpg' alt='پرچم ژاپن در دستان هواداران سپاهان!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4213})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4213})'>پرچم ژاپن در دستان هواداران سپاهان!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4213'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4204})' name='4204'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889805_966.jpg' alt='آرش ظلی پور از فراستی عذرخواهی کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4204})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4204})'>آرش ظلی پور از فراستی عذرخواهی کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4204'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4201})' name='4201'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1890338_882.jpg' alt='پرسش روز؛ پرسپکتیو گل پدیده در نقش جهان!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4201})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4201})'>پرسش روز؛ پرسپکتیو گل پدیده در نقش جهان!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4201'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4199})' name='4199'>  <img width='290' height='170' src='' alt='عباس عبدی: زمان شاه نمازخوان بیشتر بود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4199})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4199})'>عباس عبدی: زمان شاه نمازخوان بیشتر بود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4199'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4178})' name='4178'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/12/1863195_525.jpg' alt='هوندا بهتر است یا هیوندای؟'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4178})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4178})'>هوندا بهتر است یا هیوندای؟</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4178'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4169})' name='4169'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/7/30/1850647_910.jpg' alt='ماشین‌های پرنده، برای آینده‌ای نه چندان دور'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4169})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4169})'>ماشین‌های پرنده، برای آینده‌ای نه چندان دور</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4169'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4163})' name='4163'>  <img width='290' height='170' src='' alt='استاد دانشگاه: اگر صنعت خودرو در اختیار بسیج قرار بگیرد، از کره جنوبی جلو می‌زنیم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4163})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4163})'>استاد دانشگاه: اگر صنعت خودرو در اختیار بسیج قرار بگیرد، از کره جنوبی جلو می‌زنیم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4163'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4160})' name='4160'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1886384_785.jpg' alt='سید احمد خمینی ازدواج کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4160})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4160})'>سید احمد خمینی ازدواج کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4160'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4159})' name='4159'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886483_836.jpg' alt='کاوشگر ناسا روی مریخ نشست'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4159})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4159})'>کاوشگر ناسا روی مریخ نشست</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4159'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4158})' name='4158'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/5/1885871_842.jpg' alt='تعجب کاربران از تغییرات ظاهری رزیتا غفاری'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4158})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4158})'>تعجب کاربران از تغییرات ظاهری رزیتا غفاری</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4158'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4154})' name='4154'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886730_784.jpg' alt='برانکو و پرسپولیس «کی‌روش ممنوع» شدند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4154})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4154})'>برانکو و پرسپولیس «کی‌روش ممنوع» شدند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4154'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4151})' name='4151'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1886655_199.jpg' alt='سوشا پُست گذاشت، فحش داد، پشیمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4151})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4151})'>سوشا پُست گذاشت، فحش داد، پشیمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/نازنین ' title="ایجادکننده'نازنین" '="" rel='author'>نازنین </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4151'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 4147})' name='4147'>  <img width='290' height='170' src='' alt='طرح استیضاح لاریجانی کلید خورد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 4147})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 4147})'>طرح استیضاح لاریجانی کلید خورد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/امید ' title="ایجادکننده'امید" '="" rel='author'>امید </a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/4147'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div></div></div></div></div>