<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>سرگرمی</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href='@Url.Action("index","home")'>خانه</a></li>
                        <li class="active">سرگرمی </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2817})' name='2817'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/53/87/86/880x495_cmsv2_89dd00b3-4858-5509-bbc4-bf5a8494ceb2-3538786.jpg' alt='جام ملتهای آسیا؛ فهرست ۳۲ نفره تیم ملی اعلام شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2817})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2817})'>جام ملتهای آسیا؛ فهرست ۳۲ نفره تیم ملی اعلام شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2817'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2813})' name='2813'>  <img width='290' height='170' src='' alt='پزشک پرسپولیس: برای پسرم دعا کنید'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2813})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2813})'>پزشک پرسپولیس: برای پسرم دعا کنید</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2813'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2808})' name='2808'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/4/1914124_136.jpg' alt='واژگونی مرگبار اتوبوس در دانشگاه علوم تحقیقات'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2808})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2808})'>واژگونی مرگبار اتوبوس در دانشگاه علوم تحقیقات</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2808'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2798})' name='2798'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/5/1915034_711.jpg' alt='آسمان ایران برفی و بارانی می‌شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2798})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2798})'>آسمان ایران برفی و بارانی می‌شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2798'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2796})' name='2796'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/5/1915517_137.jpg' alt='پوزش عوامل «بانوی عمارت» بابت توهین قومیتی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2796})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2796})'>پوزش عوامل «بانوی عمارت» بابت توهین قومیتی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2796'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2795})' name='2795'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/8/9/8881526_385.jpg' alt='کنجکاوی گربه کارشناس برنامه حین پخش زنده خبر! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2795})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2795})'>کنجکاوی گربه کارشناس برنامه حین پخش زنده خبر! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2795'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 2</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2793})' name='2793'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/8/14/8905872_702.png' alt='حمله مرگبار شیر باغ وحش به گردشگر! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2793})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2793})'>حمله مرگبار شیر باغ وحش به گردشگر! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2793'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2790})' name='2790'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/8/25/8956282_191.jpg' alt='رویت حیوان عجیب انسان نما در دهانه غار! +فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2790})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2790})'>رویت حیوان عجیب انسان نما در دهانه غار! +فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2790'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2783})' name='2783'>  <img width='290' height='170' src='https://cdn.yjc.ir/files/fa/news/1397/9/21/9091349_509.jpg' alt='واکنش مردم به یک واردات عجیب + فیلم'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2783})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2783})'>واکنش مردم به یک واردات عجیب + فیلم</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2783'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2773})' name='2773'>  <img width='290' height='170' src='https://media.yektanet.com/static/media/upload/CACHE/images/items/Banners-wego02_qZYmIDp/50fa851d6224694926ec57fc362a7755.jpg' alt='تکرار سگ‌آزاری در شفت/ محیط زیست اقامه دعوی کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2773})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2773})'>تکرار سگ‌آزاری در شفت/ محیط زیست اقامه دعوی کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2773'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2771})' name='2771'>  <img width='290' height='170' src='https://media.yektanet.com/static/media/upload/CACHE/images/items/Untitled-4_2AqSyce_JRJQ4oy/55d698774c9770224e2f236839e0a1e6.jpg' alt='حیوان خانگی فقط روباه!   '>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2771})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2771})'>حیوان خانگی فقط روباه!   </a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2771'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2759})' name='2759'>  <img width='290' height='170' src='' alt='اقدام متفاوت یک معلم در کلاس، فردای شب یلدا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2759})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2759})'>اقدام متفاوت یک معلم در کلاس، فردای شب یلدا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2759'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2758})' name='2758'>  <img width='290' height='170' src='' alt='لحظاتی قبل از اعدام حمیدرضا باقری درمنی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2758})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2758})'>لحظاتی قبل از اعدام حمیدرضا باقری درمنی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2758'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2757})' name='2757'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/10/3/1912353_329.jpg' alt='اهانت پدر داماد احمدی نژاد به آیت الله هاشمی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2757})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2757})'>اهانت پدر داماد احمدی نژاد به آیت الله هاشمی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2757'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2746})' name='2746'>  <img width='290' height='170' src='' alt='توضیح درباره فیلم فحاشی دو دانش‌آموز مشهدی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2746})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2746})'>توضیح درباره فیلم فحاشی دو دانش‌آموز مشهدی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2746'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2734})' name='2734'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/03/36/880x495_cmsv2_b7454b40-08b8-5a77-bca0-420a9cb4f0ed-3520336.jpg' alt='دورترین سیاره از خورشید در منظومه شمسی کشف شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2734})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2734})'>دورترین سیاره از خورشید در منظومه شمسی کشف شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2734'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2732})' name='2732'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/52/03/66/880x495_cmsv2_e3e1c73a-2166-54b4-918e-95817f686a65-3520366.jpg' alt='تلاش برای نجات یک کشتی روسی در سواحل بریتانیا'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2732})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2732})'>تلاش برای نجات یک کشتی روسی در سواحل بریتانیا</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2732'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2715})' name='2715'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/27/1906629_673.jpg' alt='رائفی‌پور: خاتمی باید خفه شود'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2715})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2715})'>رائفی‌پور: خاتمی باید خفه شود</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2715'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> 1</a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2664})' name='2664'>  <img width='290' height='170' src='' alt='توضیح درباره تجاوز به دانش آموزان اصفهانی'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2664})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2664})'>توضیح درباره تجاوز به دانش آموزان اصفهانی</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2664'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2654})' name='2654'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/12/1892901_496.jpg' alt='متهم تجاوز به دانش آموزان اصفهانی دستگیر شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2654})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2654})'>متهم تجاوز به دانش آموزان اصفهانی دستگیر شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2654'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2652})' name='2652'>  <img width='290' height='170' src='' alt='صدا و سیما کارت زرد گرفت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2652})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2652})'>صدا و سیما کارت زرد گرفت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2652'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2644})' name='2644'>  <img width='290' height='170' src='' alt='جزئیات احتمالی از قیمت‌گذاری بنزین'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2644})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2644})'>جزئیات احتمالی از قیمت‌گذاری بنزین</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2644'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2625})' name='2625'>  <img width='290' height='170' src='http://www.irannaz.com/images/2017/05/149388175130057-irannaz-com.jpg' alt='علت واقعی طلاق برد پیت و آنجلینا جولی از زبان برد پیت'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2625})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2625})'>علت واقعی طلاق برد پیت و آنجلینا جولی از زبان برد پیت</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2625'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2623})' name='2623'>  <img width='290' height='170' src='https://static.euronews.com/articles/stories/03/47/41/22/880x495_cmsv2_7dfb0c31-3396-5b09-af04-5b9bec53b24d-3474122.jpg' alt='هنگامه شهیدی به ۱۲ سال زندان محکوم شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2623})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2623})'>هنگامه شهیدی به ۱۲ سال زندان محکوم شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2623'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2616})' name='2616'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/9/1889651_454.jpg' alt='روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2616})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2616})'>روز پُرحاشیه مجری‌ها؛ ظلی‌پور علیه فراستی، کرمی علیه درخشانی، مردم علیه رامبد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2616'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2613})' name='2613'>  <img width='290' height='170' src='' alt='مافوق عجیب؛ مجریِ سمت خدا شماره حساب دولت را داد تا بینندگان پول واریز کنند'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2613})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2613})'>مافوق عجیب؛ مجریِ سمت خدا شماره حساب دولت را داد تا بینندگان پول واریز کنند</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2613'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2610})' name='2610'>  <img width='290' height='170' src='' alt='نامه ایران به سازمان ملل درباره تهدید پمپئو'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2610})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2610})'>نامه ایران به سازمان ملل درباره تهدید پمپئو</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2610'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2608})' name='2608'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/10/1889805_966.jpg' alt='آرش ظلی پور از فراستی عذرخواهی کرد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2608})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2608})'>آرش ظلی پور از فراستی عذرخواهی کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2608'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2602})' name='2602'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/27/1879223_200.jpg' alt='وانت هیولای میتسوبیشی وارد جاده‌ها شد!'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2602})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2602})'>وانت هیولای میتسوبیشی وارد جاده‌ها شد!</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2602'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2601})' name='2601'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/8/28/1879780_205.jpg' alt='اولین موتورسیکلت الکتریکی هارلی دیویدسون'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2601})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2601})'>اولین موتورسیکلت الکتریکی هارلی دیویدسون</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/ارسلان دانشور' title="ایجادکننده'ارسلان" دانشور'="" rel='author'>ارسلان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2601'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2597})' name='2597'>  <img width='290' height='170' src='' alt='پمپئو: صحبت‌های روحانی تنش زا است'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2597})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2597})'>پمپئو: صحبت‌های روحانی تنش زا است</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2597'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article><article class='col-md-4 hentry  format-standard  category-entertainment '><div class="post-box">
        <div class="entry-cover">
            <a href='@Url.Action("Post","entertainment", new {postID = 2588})' name='2588'>  <img width='290' height='170' src='http://cdn.bartarinha.ir/files/fa/news/1397/9/6/1887177_724.jpg' alt='دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد'>  </a>
            <div class='post-category'><a href='@Url.Action("Index","entertainment")' class='  '> سرگرمی </a></div>
            <a href='@Url.Action("Post","entertainment", new {postID = 2588})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","entertainment", new {postID = 2588})'>دیده‌بان حقوق بشر خواستار پیگرد بن‌سلمان شد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                                                                        <div class='col-md-12'>
                                                                            <ul class='common-meta' style='width:auto'>
                                                                                <li>
                                                                                    <i class='fa fa-user'></i>
                                                                                    <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a></li><li><i class='fa fa-comment'> 0</i><a href='Comment/2588'> </a></li><li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li></ul></div></div>

        </div>
    </div></article></div></div></div></div></div>